<div dir="rtl" style="margin-top: 5px; ">
   <p-toast key="tst" [style]="{marginTop: '150px'}"></p-toast>
   <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabChanged($event);" animationDuration="500ms"
      backgroundColor="secondary">


      <mat-tab>
         <ng-template mat-tab-label>

            <h1 class="tab-title-blue"> إدراج </h1>
         </ng-template>


         <app-add-liberation></app-add-liberation>
      </mat-tab>

      <mat-tab>
         <ng-template mat-tab-label style="color:  black ;">

            <h1 class="tab-title-red"> التحييـــــن و الحـــــذف </h1>
         </ng-template>

         <div style="width:100%;  ">
            <p-table [style]="{   'background-image': 'url(assets/layout/images/111.jpg)' }" [value]="arrestations"
               #dtAllArrestation [paginator]="true" [rows]="4"
               [globalFilterFields]="['arrestationId.numOrdinale','date' ]">
               <ng-template pTemplate="caption">
                  <div style="text-align: right;">
                     <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                     <input type="text" pInputText size="50" placeholder=" بحث"
                        (input)="dtAllArrestation.filterGlobal($event.target.value, 'contains')"
                        style="width: 300px;" />
                  </div>
               </ng-template>
               <ng-template pTemplate="header">
                  <tr style="color: black;">
                     <th style="width: 10%;">العدد الرتبي</th>
                     <th style="width: 10%;"> بتاريخ</th>
                     <th style="width: 70%;">الوضعية الجزائية </th>
                     <th style="width: 10%;"> </th>
                  </tr>
               </ng-template>
               <ng-template pTemplate="body" let-row>
                  <tr style="color: black;">
                     <td><b style="font-size: 16px;">{{row.arrestationId.numOrdinale }}</b></td>
                     <td><b style="font-size: 16px;">{{row.date}} </b></td>

                     <td *ngIf="!row?.liberation" style=" text-align: center;"><b class="neons"> <span
                              style="font-size: 20px;">مقيم بالوحدة</span></b></td>
                     <td *ngIf="row?.liberation" style=" text-align: center;"><b
                           style="font-size: 18px;  color: green;">
                           {{row.liberation.causeLiberation.libelleCauseLiberation}} </b>
                        <b style="font-size: 18px;  color: black;" *ngIf="row?.liberation" dir="rtl">
                           {{row.liberation.date }} </b>
                     </td>

                     <td>
                        <!-- delete(row) -->
                        <button
                           *ngIf="row?.liberation && autorise && (row.arrestationId.numOrdinale == totalArrestation) "
                           style="background-color: white!important; margin-right: 15px;" (click)="delete(row)"
                           mat-mini-fab>
                           <i class="pi pi-trash" style="font-size: 30px; color: red;"> </i>

                        </button>
                     </td>

                  </tr>
               </ng-template>
            </p-table>
         </div>




      </mat-tab>




   </mat-tab-group>


</div>

<p-dialog [style]="{ 'background-color': 'white' , 'background-image': 'url(assets/layout/images/bg.png)'}"
   appendTo="body" [closable]="false" [closable]="false" [draggable]="false" [(visible)]="isDelet" modal="true">
   <b style="color: red; font-family: 'Amiri', Times, serif; font-size: 22px;">

      هل أنت متأكد من عملية الحذف ؟
   </b>



   <p-footer>


      <div style="text-align: center;">
         <label style="color: red; font-family: 'Amiri', Times, serif;">
            <button pButton type="button" label="نعم  " (click)="yesDelet()"
               style="margin-bottom:10px;padding: 0.5em;margin-left: 10px;margin-right: 10px;"
               class="ui-button-success">
            </button>
            <button pButton type="button" label="لا" (click)="isDelet = false"
               style="margin-bottom:10px; padding: 0.5em;margin-right: 10px;" class="ui-button-danger">
            </button>

         </label>
      </div>
   </p-footer>
</p-dialog>

<!-- [tribunal2] = "affaire.affaireLien.tribunal.nom_tribunal" 
    [codeTribunal2] = "affaire.affaireLien.tribunal.id" 
    [numAffaireT2] = "affaire.affaireLien.affaireId.numAffaire"
 
    [tribunal2Objet]= "affaire.affaireLien.tribunal"  -->