 
 
 
.button-card3 {
  background-color: rgb(235, 235, 235);
  width: auto;
  font-family: 'Amiri', Times, serif;
  font-size: 20px;
  color: black;
  border: 2px solid #347688;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}
 

 

 

 

.checkbox-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 18px;
}

 

 


 

 
   
  
   
    
         .profile-img-card3 {
    
          margin-top: 10px;
           width: 230px;
           height: 300px;
           max-height: 350px;
           
           display: block;
           -moz-border-radius: 50%;
           -webkit-border-radius: 50%;
           border-radius: 10%;
    
           -moz-box-shadow: 1px 5px 5px rgba(99, 99, 99, 0.979);
           -webkit-box-shadow: 1px 5px 5px rgba(99, 99, 99, 0.979);
           box-shadow: 1px 5px 5px rgba(99, 99, 99, 0.979);
         }
     
      
       
      .container {
        padding: 2px 16px;
      }
      tr{
        font-family: 'Amiri', Times, serif;
        font-weight: bold;
        font-size: 20px;
     }

     


  .neonsBlack b {
    font-size:24px;
    text-align: center;
     font-weight: bold;
   
    
  }

    @-webkit-keyframes glow3 {
     from {
      color: #015ac7 !important;
    
          }
  
  to {
     color: rgb(230, 230, 230);
  
  }
 }

  








  .filter-container {
    text-align: center;
}
 
 
 

.ui-panel-content {
    padding: 0.5em;
}

@media (max-width: 1024px) {
    .car-details-list img {
        width: 75px;
    }

    .filter-container {
        text-align: left;
    }
}
.item{
  font-family: 'Amiri', Times, serif;
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
        color: #4c566ad0;
}
  
 


 
 :host ::ng-deep .carda {
  /* Ajoutez de l'espace autour du div */
    padding: 10px;
    /* Définissez une largeur maximale pour éviter qu'ils ne deviennent trop petits */
    max-width: 300px;
    /* ou une valeur qui convient à votre mise en page */
    /* Ajoutez de l'espace entre les div si nécessaire */
    margin-bottom: 20px;
    margin-left: 20px;
    /* ou une valeur qui convient à votre mise en page */

   border: none;
   /* Supprimer les bordures */
    
   /* Ajouter un peu d'espace autour du texte */
   display: inline-block;
   /* Pour que les éléments se comportent comme des boutons */
   text-align: center;
   /* Centrer le texte */
   text-decoration: none;
   /* Supprimer la décoration de texte */
   color: inherit;
   /* Utiliser la couleur de texte héritée */
   background-color: #e9e9e9;
   /* Couleur de fond par défaut */
   box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
   /* Ombre par défaut */
   transition: transform 0.3s, box-shadow 0.3s;
   /* Transition pour l'effet 3D */
   perspective: 1000px;
   /* Perspective pour l'effet 3D */
   cursor: pointer;
   /* Ajout d'un curseur pointer pour indiquer l'interactivité */
 }

 :host ::ng-deep .carda:hover {
   transform: translateY(-2px) rotateX(3deg);
   /* Légère rotation vers le haut au survol */
   box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
   /* Ombre plus prononcée au survol */
 }

 :host ::ng-deep .carda:active {
   transform: translateY(1px) rotateX(-3deg);
   /* Légère rotation vers le bas lorsqu'il est cliqué */
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
   /* Ombre légère lors du clic */
 }
 
 

th {
  
  background-color: #dfdfdf;
  /* Couleur de fond */
  color: #333;
  /* Couleur du texte */
  padding: 10px;
  /* Espacement interne */
  text-align: center;
  /* Centrage du texte */
  border-bottom: 2px solid #c2c2c2;
  /* Bordure inférieure */
  font-weight: bold;
  /* Police en gras */
}

 

 

.container {
  letter-spacing: 0.5px;
  max-width: 80%;
  background: #ffffff;
  margin:  0px auto;
  /* Ajoute un espace autour du conteneur */
  border-radius: 10px;
  /* Coins arrondis */
    padding: 20px;
  /* Espacement interne */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  /* Ombre douce */
  // border: 5px solid #cfcfcf;
  border: 1mm ridge rgb(0, 0, 0);
  /* Bordure légère */
  margin-bottom: 200px;
}
 .li {
  margin: .5em 0;
  line-height: 1.3;
}
.dateDocument{
  color: #525252 !important;
 
}
.arrete{
  color: #0099ff !important;
  text-align: center;
}
.jugee{
  color: #ff3434 !important;
  text-align: center;
}

.libre{
  color: rgb(1, 151, 1) !important;
  text-align: center;
}
.bloc {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  border-radius: 5px;
}

.bloc:hover {
  box-shadow: 0 8px 16px 0 rgba(26, 25, 25, 0.2);
}
h3{

  font-size: 30px; /* Titres de 40 pixels */
  
  font-weight: bold;
  width:200px; 
   background-color:transparent ;
}

h1{
  color: #015ac7 !important;
       font-family: 'Amiri', Times, serif;        
   
      font-weight: bold;
}


.item{
  font-family: 'Amiri', Times, serif;
        font-weight: bold;
        font-size: 20px;
        margin-top: 10px;
        color: #4c566a;
        margin-top: 15px;
}
b{
    color: #0f4983;
    font-weight: 900;
    line-height: norma;
    padding-right: 5px;
}

 
.text {
  // font-family: 'Droid Arabic Naskh';
  // font-family: 'Times New Roman',

letter-spacing: 2px;
    /* Couleur du texte */
    font-size: 50px;
    /* Taille de la police */
    font-weight: bold;
    
    /* Gras */
    
    text-align: center;
   
font-family: 'Arabic Typesetting', serif;
  /* Ombre du texte */
}










 



@keyframes textclip {
  to {
    background-position: 400% center;
  }
}
.zoom-in {
  animation: zoom-in 1s infinite alternate;
}

.zoom-out {
  
  animation: zoom-out 1s infinite alternate;
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

 .wrapper {

   background-color: #fff;

   b {
     
     font-size: 30px;
      
     font-weight: bolder;
      
      

     background: linear-gradient(to right, rgb(192, 36, 36) 10%,   
      rgb(23, 150, 23) 90%);
     background-size: auto auto;
     background-clip: border-box;
     background-size: 200% auto;
     
     background-clip: text;

     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: textclip 2s linear infinite;
     display: inline-block;
   }
 }

.cercle {
  text-align: center;
  display: inline-block;
  /* Permet d'ajuster la taille */
  // padding: 10px 20px;
  /* Ajustez le padding selon vos besoins */
  border-radius: 40%;
  /* Rend le label sphérique */
  color: white;
  /* Couleur du texte */
  text-align: center;
  /* Centrer le texte */
  font-weight: bold;
  /* Met le texte en gras */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
background-color: red;
  /* Ombre pour un effet néon */
}

 .neons {
       padding: 15px;
    text-align: center;
    
 }

 .neons span {
   font-size: 30px;
   font-weight: bold;
   font-family: 'Amiri', Times, serif;
   animation: glow2 0.5s ease-in-out infinite alternate;
 }

 @-webkit-keyframes glow2 {
   from {
       color: rgb(228, 228, 228);
   }

   to {
       color:#ffffff  ;
   }
 }

 @keyframes glow2 {
   from {
       color: rgb(255, 255, 255);
   }

   to {
      //  color:#2448ff
      color: red;
   }
 }


 











 .court-document {

   margin: 5px auto;
   padding: 30px;
   background: linear-gradient(to right, #ffffff, #e0e0e0);
   border-radius: 10px;
   box-shadow: 0 4px 20px rgba(204, 204, 204, 0.1);
   font-family: 'Amiri', Times, serif;
   max-width: 100%;
 }
 
 .court-content {
   line-height: 1.3;
   /* Augmente l'interligne pour plus de lisibilité */
 }

    /* Spinner CSS */
    .spinner {
      border: 4px solid #f3f3f3;
      /* Light grey */
      border-top: 4px solid #3498db;
      /* Blue */
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 1s linear infinite;
      margin: auto;
      display: block;
    }
  
    /* Animation pour le spinner */
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
  
      100% {
        transform: rotate(360deg);
      }
    }

 
