
<div dir="rtl"      style="margin-top: 5px;" >

    <mat-tab-group mat-align-tabs="center" animationDuration="500ms" backgroundColor ="secondary">
    
        
     
        <mat-tab>
            <ng-template mat-tab-label>
                <h3 >     
                    تحيين معطيات النقل : إستقبال
                          </h3>
    
            </ng-template>
             
                  
    <div class="card card-container">
    
 

      
        <div class="p-grid" dir="rtl"  >
            <div class="p-col-12 p-md-4">
                <h2>  معرف الطفل </h2>
    
            </div>
            <div class="p-col-12 p-md-8">
    
                <input id="input" type="text" pInputText />
            </div>
           
            
          <div class="p-col-12 p-md-4">
              <h2>العدد الرتبي للنقل </h2>
  
          </div>
          <div class="p-col-12 p-md-8">
  
              <input id="input" type="text" pInputText />
          </div>
             
             
            <div class="p-col-12 p-md-12" style="text-align: center;">
                <button pButton type="button" label="بحث" class="ui-button-raised ui-button-success"    ></button>
            </div>
        </div>
       
    
         </div>
    
        </mat-tab>
    </mat-tab-group>
    </div>