 
    <div dir="rtl" *ngIf=" changementLieu" class="judicial-document">
        <div class="document-header">
            <div class="header-left">
                <h1>الجمهورية التونسية</h1>
                <h2>وزارة العدل</h2>
                <h3>{{  changementLieu?.affaire?.tribunal?.nom_tribunal }}</h3>
            </div>
    
            <div class="header-center">
                <h1 class="document-title">
                    <b> قرار تغير مكان الإيداع   </b>
    
                </h1>
            </div>
    
            <div class="header-right">
                <h3>
                    <b>{{  changementLieu?.affaire?.tribunal?.gouvernorat?.libelle_gouvernorat}}</b>
                    <b> في {{  changementLieu?.dateEmission | date:'yyyy/MM/dd' }}</b>
                </h3>
            </div>
        </div>
    
        <div class="content">
            <div class="p-grid">
                <div class="p-col-2">
                    <label>الهوية:</label>
                </div>
                <div class="p-col-10">
                    <ul>
                        <li style="font-weight: bold;">
                            {{  changementLieu?.affaire?.arrestation?.enfant?.nom }} بن
                            {{  changementLieu?.affaire?.arrestation?.enfant?.nomPere }} بن
                            {{  changementLieu?.affaire?.arrestation?.enfant?.nomGrandPere }}
                            {{  changementLieu?.affaire?.arrestation?.enfant?.prenom }}
                            <br>
                            إبن
                            {{  changementLieu?.affaire?.arrestation?.enfant?.nomMere + ' ' +
                             changementLieu?.affaire?.arrestation?.enfant?.prenomMere }}
                        </li>
                        <li style="color: red;">
                            البلغ (ة) من العمر: XX سنة
    
                            و المولود (ة) بــــ:
                            {{  changementLieu?.affaire?.arrestation?.enfant?.lieuNaissance }}
                            {{  changementLieu?.affaire?.arrestation?.enfant?.dateNaissance | date:'yyyy/MM/dd' }}
                        </li>
                        <li>
                            القاطن (ة):
                            {{  changementLieu?.affaire?.arrestation?.enfant?.adresse + ' ' }}
                            {{  changementLieu?.affaire?.arrestation?.enfant?.delegation?.libelle_delegation + ' ' }}
                            {{  changementLieu?.affaire?.arrestation?.enfant?.delegation?.gouvernorat?.libelle_gouvernorat }}
                        </li>
                    </ul>
                </div>
            </div>
    
            <div class="p-grid" *ngIf="changementLieu.affaire">
                <div class="p-col-4">
                    <label   >
                           قضية قرار تغير مكان الإيداع :
            
                    </label>
                </div>
                <div class="p-col-8">
                    
            
                        <span style="text-decoration: underline  rgba(255, 0, 0, 0.650);"> {{
                            changementLieu.affaire?.affaireId.numAffaire }}</span>
                        <span style="text-decoration: underline  rgba(255, 0, 0, 0.650);"> {{
                            changementLieu.affaire?.tribunal.nom_tribunal }}</span>
             
                </div>
            </div>
            
            
            <div class="p-grid" *ngIf="changementLieu.affaire">
                <div class="p-col-2" *ngIf="changementLieu.affaire.affaireLien">
                    <label   >
                        القضية الرئسية:
            
                    </label>
                </div>
                <div class="p-col-10">
                    
            
                        <span *ngIf="changementLieu.affaire.affaireLien"> {{ changementLieu.affaire.affaireLien.affaireId.numAffaire
                            }}</span>
                        <span *ngIf="changementLieu.affaire.affaireLien"> {{
                            changementLieu.affaire.affaireLien.tribunal.nom_tribunal }}</span>
            
             
                </div>
            </div>
            
            <div class="p-grid">
                <div class="p-col-2">
                    <label *ngIf="changementLieu?.type=='mutation'" style="background-color: rgb(241, 241, 241); color: red;"> نقلة
                        إلى </label>
                    <label *ngIf="changementLieu?.type=='changementEtab'" style="background-color: rgb(241, 241, 241); color: red;">
                        تغير وسيلة إلى</label>
            
            
            
            
                </div>
                <div class="p-col-10">
                    
                        <span
                            *ngIf="changementLieu?.etablissementMutation">{{changementLieu?.etablissementMutation?.libelle_etablissement
                            }}</span>
                        <span
                            *ngIf="changementLieu?.etabChangeManiere">{{changementLieu?.etabChangeManiere?.libelle_etabChangeManiere}}</span>
                    
                </div>
            </div>
            
            
            <div class="p-grid">
                <div class="p-col-2">
                    <label   >
                        تاريخ قرار تغير مكان الإيداع
            
                    </label>
                </div>
                <div class="p-col-10">
                     
            
                        <span dir="rtl">{{ changementLieu.dateDepotCarte }}</span>
                    
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-2">
                    <label   >
                        مــــدة تغير مكان الإيداع :
            
                    </label>
                </div>
            
                <div class="p-col-4">
                    <label>
                        <label *ngIf="!(changementLieu?.jour  || changementLieu?.mois  || changementLieu?.annee)"
                            style="background-color: rgb(241, 241, 241); color: red;">
                            غير محددة
                        </label>
                        <b *ngIf="changementLieu?.jour  || changementLieu?.mois  || changementLieu?.annee">
            
                            <span *ngIf="changementLieu?.jour">{{changementLieu?.jour}} يوم </span>
                            <span *ngIf="changementLieu?.jour && changementLieu?.mois"> و </span>
                            <span *ngIf="changementLieu?.mois">{{changementLieu?.mois}} شهر </span>
                            <span *ngIf="changementLieu?.annee && changementLieu?.mois"> و </span>
                            <span *ngIf="changementLieu?.annee && changementLieu?.jour && !changementLieu?.mois"> و
                            </span>
                            <span *ngIf="changementLieu.annee">{{changementLieu?.annee}} سنة</span>
            
                        </b>
                    </label>
                </div>
            
            </div>
    
            <div class="footer">
                <label>المدرج: <span>{{  changementLieu?.personelle?.nom +' '+  changementLieu?.personelle?.prenom }}</span>
                    <p>{{  changementLieu?.etablissement?.libelle_etablissement }} في {{  changementLieu?.dateInsertion |
                        date:'yyyy/MM/dd' }} </p>
                </label>
            </div>
        </div>
    </div>