h1{
    font-family: 'Amiri', Times, serif;
    font-size: 25px;
    color: black;
}
 h2 {

     color: #12488f;
     font-family: 'Amiri', Times, serif;
     font-size: 25px;
     font-weight: bold;
  
 }

 