<div class="p-grid layout-dashboard"   dir="rtl">



 











    <p-card dir="rtl" [style]="{ 'height': 'auto',   'border-radius': '3%',   'margin-bottom':'1% '}">






    <div class=" p-grid">
     
        <div class="p-col-4">
            <h2> بمركــــز : </h2>
    
        </div>
        <div class="p-col-8">
    
            <input #nom class="title" id="input" placeholder="   قم بإختيار المركز " [(ngModel)]="centreLibelle" readonly (click)="showListCentre()" type="text"
                pInputText />
            <!-- <i class="pi pi-times" style="font-size: 22px;  color:   red;"  *ngIf="centreLibelle" (click)="deleteCentre()"></i> -->
        </div>
        </div>
        <img  *ngIf="!valid"  src="assets/layout/images/loader.gif" style="width:250px;vertical-align:middle" />
        </p-card>
    <!-- <div class="p-col-12 p-xl-3 p-md-3">
        <div class="p-grid p-nogutter overview-box overview-box-1">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/team.png" alt="mirage-layout" />
            </div>
            <div class="p-col-6 ">
                <h1> المقيمين</h1>
               
            </div>
            <div class="p-col-3 overview-box-status">
            {{statisticsDTO.nbrAll}}
            </div>
        </div>
    </div>
    <div class="p-col-12 p-xl-3 p-md-3">
        <div class="p-grid p-nogutter overview-box overview-box-1">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/team.png" alt="mirage-layout" />
            </div>
            <div class="p-col-6 ">
                <h1>اجانب</h1>
    
            </div>
            <div class="p-col-3 overview-box-status">
                {{statisticsDTO.nbrEtrange}}
            </div>
        </div>
    </div>  
    <!-- <div class="p-col-12 p-xl-4 p-md-6">
        <div class="p-grid p-nogutter overview-box overview-box-1">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-usersonline.png" alt="mirage-layout" />
            </div>
            <div class="p-col-6">
                <h1>البالغين لسن الرشد</h1>
               0
            </div>
            <div class="p-col-3 overview-box-status">
                
            </div>
        </div>
    </div>
    <div class="p-col-12 p-xl-4 p-md-6">
        <div class="p-grid p-nogutter overview-box overview-box-3">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-usersonline.png" alt="mirage-layout" />
            </div>
            <div class="p-col-6">
                <h1>المفرج عنهم</h1>
               0
            </div>
            <div class="p-col-3 overview-box-status">
            
            </div>
        </div>
    </div> 
    <div class="p-col-12 p-xl-4 p-md-6">
        <div class="p-grid p-nogutter overview-box overview-box-2">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-checkins.svg" alt="mirage-layout" />
            </div>
            <div class="p-col-6 ">
                <h1>  السراحات   </h1>
               0
            </div>
            <div class="p-col-3 overview-box-status">
           
            </div>
        </div>
    </div> -->
    <!-- <div class="p-col-12 p-xl-3 p-md-6">
        <div class="p-grid p-nogutter overview-box overview-box-3">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-filessynced.svg" alt="mirage-layout" />
            </div>
            <div class="p-col-6 ">
                <h1> >السراحات</h1>
                 
            </div>
            <div class="p-col-3 overview-box-status">
                    {{statisticsDTO.nbrEntreeMutation}}
            </div>
        </div>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <div class="p-grid p-nogutter overview-box overview-box-2">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-checkins.svg" alt="mirage-layout" />
            </div>
            <div class="p-col-6 ">
                <h1>     خروج فعلي       </h1>
    
            </div>
            <div class="p-col-3 overview-box-status">
                 
            </div>
        </div>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <div class="p-grid p-nogutter overview-box overview-box-3">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-filessynced.svg" alt="mirage-layout" />
            </div>
            <div class="p-col-6 ">
                <h1> خروج غير فعلي</h1>
    
            </div>
            <div class="p-col-3 overview-box-status">
                    {{statisticsDTO.nbrSortieMutation}}
            </div>
        </div>
    </div> -->
    


    <div *ngIf="valid"  class="p-col-12 p-lg-12">
        <div class="p-grid ">
 

<div class="p-col-4">
    <div class="card">
<h2 style="text-align: center;"> حسب الجنسيات</h2>
        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions6" style="width: 100%;  display: block;">
        </highcharts-chart>
    </div>
</div>
<div class="p-col-4">
    <div class="card">
<h2 style="text-align: center;"> حسب الوضعية الجزائية </h2>
        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions1" style="width: 100%;  display: block;">
        </highcharts-chart>
    </div>
</div>
<div class="p-col-4">
    <div class="card">
<h2 style="text-align: center;">حسب الصنف الجزائي</h2>
        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions5" style="width: 100%;  display: block;">
        </highcharts-chart>
    </div>
</div>
<div class="p-col-6">
    <div class="card">
        <h2 style="text-align: center;"> الموقوفين حسب القضية الرئيسية </h2>
        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptionsArrete" dir="rtl"
            style="width: 100%; height: 600px; display: block;">
        </highcharts-chart>

    </div>
</div>

<div class="p-col-6">
    <div class="card">
        <h2 style="text-align: center;">المحكومين حسب القضية الرئيسية </h2>
        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptionsJuge" dir="rtl"
            style="width: 100%; height:600px; display: block;">
        </highcharts-chart>

    </div>
</div>
<div class="p-col-4">
    <div class="card">
<h2 style="text-align: center;">حسب المستوى التعليمي </h2>
        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions3"
            style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
    </div>
</div>
<div class="p-col-4">
    <div class="card">
        <h2 style="text-align: center;"> حسب السن</h2>
        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions2"
            style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>

    </div>
</div>
<div class="p-col-4">
    <div class="card">
<h2 style="text-align: center;"> حسب الحــالة العائلية</h2>
        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions4"
            style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
    </div>
</div>
 <div class="p-col-4">
    <div class="card">
<h2 style="text-align: center;"> </h2>
        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions7"
            style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
    </div>
</div>
<div class="p-col-4">
    <div class="card">
<h2 style="text-align: center;"> </h2>
        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions8"
            style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
    </div>
</div>
<div class="p-col-4">
    <div class="card">
<h2 style="text-align: center;"> </h2>
        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions9"
            style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
    </div>
</div>  


        
    




        </div>
    </div>




    
</div>
<p-dialog header=" دليــل المراكــــز     " dir="rtl" [(visible)]="displayCentre" modal="true" showEffect="fade">
    <div style="width: 800px;">
        <p-table [value]="entitiesEtablissement" #dtCentre selectionMode="single" [paginator]="true" [rows]="6"
            [globalFilterFields]="['id','libelle_etablissement' ]">
            <ng-template pTemplate="caption">
                <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder=" بحث"
                        (input)="dtCentre.filterGlobal($event.target.value, 'contains')" style="width:300px">
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 100px;">الرمز
                    </th>
                    <th> المركـــز
                    </th>
                    <th style="width: 50px;"> إدراج
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td> <b style="font-size:18px;">{{row.id}}</b></td>
                    <td> <b style="font-size:18px;">{{row.libelle_etablissement}} </b></td>
                    <td>
                        <p-button icon="pi pi-backward" (click)="saveCentre(row)">
                        </p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>