<p-toast key="tst" [style]="{marginTop: '150px'}"></p-toast>
<div dir="rtl" style="margin-top: 20px; margin-left: 5%;margin-right:5%;">







     
    <div class="card" *ngIf="enfantLocal && !isSaved">
        <p-card [style]="{ 'height': 'auto',   'border-radius': '0%',
 '-moz-box-shadow': '0px 2px 2px rgba(0, 0, 0, 0.966)',
 '-webkit-box-shadow': '0px 2px 2px rgba(0, 0, 0, 0.966)',
 'box-shadow':' 1px 1px 1px #919191,
 1px 2px 1px #919191,
 1px 3px 1px #919191,
 1px 4px 1px #919191,
 1px 5px 1px #919191,
 1px 6px 1px #919191,
 1px 7px 1px #919191,
 1px 8px 1px #919191,
 1px 9px 1px #919191,
 1px 10px 1px #919191','background-image': 'url(assets/layout/images/cart.jpg)' }">
            <p-header>

                <!-- <label  class="enLabel"  >معرف: <span class="d"> {{enfantLocal.id}}   </span> </label> -->
            </p-header>

            <div class="p-grid">
                <div class="p-col-4">
                   <label class="enLabel">المعــــرف: <span class="d"> {{enfantLocal?.id}} </span> </label>
                   <label class="enLabel">الهويــــة: <span class="d"> {{enfantLocal?.nom}} بن {{enfantLocal?.nomPere}} بن
                         {{enfantLocal?.nomGrandPere}} {{enfantLocal?.prenom}}</span> </label>
    
                   <label for="firstname3" class="enLabel"> هويــــة الأم: <span class="d">{{enfantLocal?.nomMere}}
                         {{enfantLocal?.prenomMere}}</span></label>
                   <label for="firstname3" class="enLabel"> تــــاريخ الــــولادة : <span dir="rtl"
                         class="d">{{enfantLocal?.dateNaissance}}</span></label>
                </div>
                <div class="p-col-4">
    
    
                   <label for="firstname3" class="enLabel" *ngIf="isExist"> العدد الرتبــــي للإيقــــاف: <span
                         class="d">{{arrestation?.arrestationId?.numOrdinale}}</span></label>
    
                         <label for="firstname3" class="enLabel" *ngIf="isExist"> تاريخ الإيداع : <span
                            class="d" dir="rtl">{{arrestation?.date}}</span></label>
    
                   <label for="firstname3" class="enLabel" *ngIf="isExist"> مركز الإيقــــاف: <span
                         class="d">{{residence?.etablissement?.libelle_etablissement}}</span></label>
    
                         <label for="firstname3" class="enLabel" *ngIf="isExist"> بتــــاريــــخ: <span
                            dir="rtl"   class="d" > {{residence?.dateEntree}}</span></label>
                  
                   <label for="firstname3" class="enLabel" *ngIf="isExist"> عــــدد الإيقــــاف : <span
                         class="d" dir="rtl">{{residence?.numArrestation}}</span></label>
                </div>
                <div class="p-col-4">
                   <img *ngIf="enfantLocal.img" (click)="showImg()" src="{{enfantLocal.img}}" class="profile-img-card2">
                </div>
    
             </div>


        </p-card>




        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->





        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->




        <div *ngIf="isExist" class="card" style="margin-top:20px ; border-radius:  0%;background-image: url(assets/layout/images/cart.jpg);
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.966);
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.966);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.966)">


            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->




            <div class="card">
                <div class="p-grid">
                    <div class="p-col ">
                    <div class="p-field p-grid">

                        <label for="lastname3" class="p-col-fixed">العدد الرتبي للوثيقة: <span
                                class="d">{{numOrdinalDoc}}</span> </label>

                    </div>
                </div>
                    <div class="p-col ">
                        <div class="p-field p-grid">
                            <label for="firstname3" class="p-col-fixed"> تاريخ   الإستئناف </label>
                            <div class="p-col">
                                <!-- <p-inputMask [style]="{'width':'120px' , 'font-weight': '500','font-size': '16px','color': 'black'}"
                                [(ngModel)]="dateDepotCarte" mask="99/99/9999" slotChar="--/--/----"
                                placeholder="يوم/شهر/سنة">
                             </p-inputMask> -->
                             <p-calendar  [(ngModel)]="dateDepotCarte"   dir="rtl"   [readonlyInput]="false"
                             [style]="{'font-weight': '500','font-size': '18px','color': 'black'}"appendTo="body"
                            [yearNavigator]="true"  readonly ="true" [monthNavigator]="true" [yearRange]="years"  dateFormat="yy/mm/dd"  [locale]="calendar_ar" placeholder="يوم/شهر/سنة"   >
                              
                          </p-calendar>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="p-col ">
                        <div class="p-field p-grid">
                            <label for="firstname3" class="p-col-fixed">تاريخ إيداع البطاقة</label>
                            <div class="p-col">
                                <p-inputMask [style]="{'font-weight': '500','font-size': '16px','color': 'black'}"
                                [(ngModel)]="dateEmission"  mask="9999/99/99" slotChar="----/--/--" placeholder="يوم/شهر/سنة">
                                </p-inputMask>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>

            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
            <div class="card">
                <div class="p-grid">
                    <div class="p-col">
                        <div style="margin-top: 10px;  ">



                            <p-panel header=" المحكمة و عدد القضية  الإستئناف">
                                <div class="ui-toolbar-group-left">
                                    <button pButton type="button" label=" قم بإختيار القضيةالتي يمكنك استئنافها "
                                        style="background-color:#f57421;" icon="pi pi-paperclip"
                                       *ngIf ="!update"      (click)="showListAffaire()"></button>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="firstname3" class="p-col-fixed" style="width:150px">المحكمة </label>


                                    <div class="p-col">
                                        <input class="tribunal" type="text" [(ngModel)]="codeTribunal"
                                            style="width:  20%;" readonly placeholder=" رمز المحكمة"
                                            pInputText>
                                        <input class="tribunal" readonly [ngModel]="tribunal" placeholder="   المحكمة"
                                              type="text" style="width:  50%;" pInputText>


                                    </div>



                                </div>
                                <div class="p-field p-grid">
                                    <label for="lastname3" class="p-col-fixed" style="width:150px">عدد القضية </label>
                                    <div class="p-col">
                                        <input class="tribunal" readonly  [(ngModel)]="numAffaireT" placeholder="  عدد القضية"
                                            style="width:  20%;" type="text" pInputText>
                                    </div>
                                </div>
                            </p-panel>



 


                        </div>


                    </div>
                </div>



            </div>
            
        

            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->



            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->



            <div style="text-align: center;">
                  <button pButton type="button" label="تسجيل "  (click)="onSubmit()"
                    style="margin-bottom:10px;padding: 0.5em;margin-left: 10px;margin-right: 10px;"
                    class="ui-button-success"></button>
                <button pButton type="button" label="إلغاء"
                    style="margin-bottom:10px; padding: 0.5em;margin-right: 10px;" class="ui-button-danger"></button>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
        </div>


    </div>
    <div style="text-align: center;" *ngIf="!isExist">





        <div  *ngIf="!isSaved">
            <br>
        <h1  class="neons"  *ngIf="statEchappesOrlibre==0"> <span>{{msg}}</span></h1>
        <h1 *ngIf="statEchappesOrlibre==1">  {{msg}} </h1>
        <h1  class="neons"  *ngIf="statEchappesOrlibre==2"> <span>{{msg}}</span></h1>
        <h1  class="neons"  *ngIf="statEchappesOrlibre==3"> <span>{{msg}}</span></h1>
        <h1  class="neons"  *ngIf="statEchappesOrlibre==4"> <span>{{msg}}</span></h1>
        </div>
        <div  class="card" *ngIf="isSaved">
    
            <app-show-appel-parquet   [appelParquet]="appelParquet"></app-show-appel-parquet>                    
        </div>
        <div class="card" *ngIf="isSaved">

            <div class="p-field p-grid">
            <label   class="p-col-fixed"  >  إدراج وثيقة أخرى     ل{{enfantLocal.nom}} بن {{enfantLocal.nomPere}} بن
               {{enfantLocal.nomGrandPere}} {{enfantLocal.prenom}}   :  </label>
            <div class="p-col">
                  <p-dropdown   (onChange)="onChangeDir($event) "  [style]="{'width':'300px'}" [options]="directions" placeholder="    الوثائق" [filter]="true"  
                  ></p-dropdown>
                  <button pButton type="button"  
                  style="background-color: green;" icon="pi pi-times-circle"
                  (click)="goTO()"  ></button>
            </div>
         </div>
    </div>
       
    </div>
</div>








<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

 





<p-dialog header="قائمة القضايا التي يمكنك استئنافها  "  [(visible)]="displayAffaire"  modal="true" showEffect="fade" [style]="{ 'border-radius': '1%',  
'-moz-box-shadow': '0px 2px 2px rgba(0, 0, 0, 0.966)',
'-webkit-box-shadow': '0px 2px 2px rgba(0, 0, 0, 0.966)',
'box-shadow':' 0px 2px 2px rgba(0, 0, 0, 0.966)','background-image': 'url(assets/layout/images/cart.jpg)' }">

    <div style="width: 1200px;">
        <p-table [value]="entitiesAffaire" #dtAffaire selectionMode="single" [paginator]="true" [rows]="5"
        
            [globalFilterFields]="['id','nom_tribunal' ]">
            <ng-template pTemplate="caption">

                <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder=" بحث"
                        style="width:300px">

                </div>

            </ng-template>
            <ng-template pTemplate="header">
                <tr>

                    <th style="width: 150px;"> العدد الرتبي للقضية </th>
                    <th style="width: 150px;"> الوثيقة الجارية  </th>
                    <th style="width: 150px;"> عدد القضية </th>
                    <th> المحكمة </th>

                    <th style="width: 100px;"> إدراج


                    </th>


                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>


                    <td> <b style="font-size:16px;">{{row.numOrdinalAffaire}}</b></td>

                    
                    <td *ngIf="row.typeDocumentActuelle == 'CHL' else typeDocument" style="color: rgb(1, 151, 1) !important;"> <b
                            style="font-size:16px;"> قرار تغير مكان الإيداع </b> </td>
                    
                    <ng-template #typeDocument>
                    
                        <td *ngIf="row.typeDocument == 'CJ' " style="color:  #ff3434!important;"> <b style="font-size:16px;">مضمون حكم</b>
                        </td>
                    
                        <td *ngIf="row.typeDocument == 'CR' " style="color:  #ff3434!important;"> <b style="font-size:16px;">مراجعة</b>
                        </td>
                        <td *ngIf="row.typeDocument == 'CRR' " style="color:  #ff3434!important;"> <b style="font-size:16px;">رفض مراجعة</b>
                        </td>
                    </ng-template>


                    <!-- <td *ngIf="row.typeDocument == 'CJ'  " style="color:  #ff3434!important;"> <b style="font-size:16px;">مضمون حكم</b></td>
                    
                    <td *ngIf="row.typeDocument == 'CR' " style="color:  #ff3434!important;">  <b style="font-size:16px;">مراجعة</b> </td>
                    <td *ngIf="row.typeDocument == 'CRR' " style="color:  #ff3434!important;">  <b style="font-size:16px;">رفض مراجعة</b> </td>

                    <td *ngIf="row.typeDocumentActuelle == 'CHL' "  style="color: rgb(1, 151, 1) !important;" >  <b style="font-size:16px;" >  قرار تغير مكان الإيداع  </b> </td>
                  -->
                    <td> <b style="font-size:16px;">{{row.affaireId.numAffaire}} </b></td>
                    <td> <b style="font-size:16px;">{{row.tribunal.nom_tribunal}} </b></td>

                    <td >

                    
                        <button  pButton icon="pi pi-plus"  label="طعن " style="background-color: #66a266;"  (click)=saveAffaire(row)>
                        </button>
                       

                    </td>


                </tr>
            </ng-template>
        </p-table>
    </div>

</p-dialog>


 











<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->




















<p-dialog modal="true" *ngIf="enfantLocal" header="صورة: {{enfantLocal.nom}} {{enfantLocal.prenom}}  "
    [(visible)]="displayImg" showEffect="fade">


    <img src="{{enfantLocal.img}}" class="profile-img-card">

    <div style="text-align: center;">
        <button pButton (click)="displayImg=!displayImg;" type="button" icon="pi pi-times" label="إخفاء الصورة"
            style="color: red;background-color: transparent;"></button>

    </div>



</p-dialog>


<p-dialog [style]="{width: '80vw', height: '30vw' , 'background-color': 'white' , 'background-image': 'url(assets/layout/images/bg.png)'}" 
 [closable]="false"
                                         [(visible)]="showAppelParquet"
                                                                 modal="true"  >
          <p-header style="color: red; font-family: 'Amiri', Times, serif;"  > هل ترغب في   تأكيد التسجيل؟   الرجاء التثبث من المعطيات, أنت تضمن دقة البيانات المقدمة: </p-header>
 
    
   <app-show-appel-parquet   [appelParquet]="appelParquet"></app-show-appel-parquet>                                                         
   <p-footer>
       <div style="text-align: center;">
 
          
             <button  (click)="confirmer()"
             style="background-color: #28a745!important;" mat-fab  >
                <i class="pi pi-save" style="font-size: 30px; color: white;" > </i>
         
         
            </button>
            <button (click)="showAppelParquet = false"
            style="background-color: rgba(255, 0, 0, 0.822)!important; margin-right: 20px;" mat-fab  >
               <i class="pi pi-power-off" style="font-size: 30px; color: white;" > </i>
         
         
           </button>
       </div>
    </p-footer>
 </p-dialog>