 
  .profile-img-card {
    width: 350px;
    height: auto;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border-radius: 10%;
  }
  
  input{font-weight: 500;
    font-size: 16px;
color: black;}
    
    .tribunal{font-weight: 500;
        font-size: 16px;
    color: black;}
    .profile-img-card2{
        width: 250px;
        height: 200px;
        margin: 0 auto 10px;
        margin-top: 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
      .enLabel{
        margin-top: 20px;
        color: black;
       
      }
      .d{
        color:blue;
        
      }
      .container {
        padding: 2px 16px;
      }
      h1
      {
          font-size: 40px;  
          font-weight: bold;
          font-family: 'Amiri', Times, serif;
          color:rgba(0, 128, 0, 0.733); 
         
      }
      .neons {
        margin-top: 10px;
        text-align: center;
     }
     
     .neons span {
       font-size:40px;
       text-align: center;
        font-weight: bold;
      
       animation: glow2 0.5s ease-in-out infinite alternate;
     }
    
       @-webkit-keyframes glow2 {
        from {
         color: #ff3434;
       
             }
     
     to {
        color: white;
     
     }
    }