 



    <div dir="rtl" *ngIf="appelEnfant" class="judicial-document">
        <div class="document-header">
            <div class="header-left">
                <h1>الجمهورية التونسية</h1>
                <h2>وزارة العدل</h2>
                <h3>{{ appelEnfant?.affaire?.tribunal?.nom_tribunal }}</h3>
            </div>
    
            <div class="header-center">
                <h1 class="document-title">
                    <b  >  إستئنـــاف الطفـــل </b>
                    
                </h1>
            </div>
    
            <div class="header-right">
                <h3>
                    <b>{{ appelEnfant?.affaire?.tribunal?.gouvernorat?.libelle_gouvernorat}}</b>
                    <b> في {{ appelEnfant?.dateEmission | date:'yyyy/MM/dd' }}</b>
                </h3>
            </div>
        </div>
    
        <div class="content">
            <div class="p-grid">
                <div class="p-col-2">
                    <label>الهوية:</label>
                </div>
                <div class="p-col-10">
                    <ul>
                        <li style="font-weight: bold;">
                            {{ appelEnfant?.affaire?.arrestation?.enfant?.nom }} بن
                            {{ appelEnfant?.affaire?.arrestation?.enfant?.nomPere }} بن
                            {{ appelEnfant?.affaire?.arrestation?.enfant?.nomGrandPere }}
                            {{ appelEnfant?.affaire?.arrestation?.enfant?.prenom }}
                            <br>
                            إبن
                            {{ appelEnfant?.affaire?.arrestation?.enfant?.nomMere + ' ' +
                            appelEnfant?.affaire?.arrestation?.enfant?.prenomMere }}
                        </li>
                        <li style="color: red;">
                            البلغ (ة) من العمر: XX سنة
    
                            و المولود (ة) بــــ:
                            {{ appelEnfant?.affaire?.arrestation?.enfant?.lieuNaissance }}
                            {{ appelEnfant?.affaire?.arrestation?.enfant?.dateNaissance | date:'yyyy/MM/dd' }}
                        </li>
                        <li>
                            القاطن (ة):
                            {{ appelEnfant?.affaire?.arrestation?.enfant?.adresse + ' ' }}
                            {{ appelEnfant?.affaire?.arrestation?.enfant?.delegation?.libelle_delegation + ' ' }}
                            {{ appelEnfant?.affaire?.arrestation?.enfant?.delegation?.gouvernorat?.libelle_gouvernorat }}
                        </li>
                    </ul>
                </div>
            </div>
    
            <div class="p-grid" *ngIf="appelEnfant?.affaire">
                <div class="p-col-2">
                    <label>قضية الإستئناف:</label>
                </div>
                <div class="p-col-10">
                    <span *ngIf="appelEnfant?.affaire">{{ appelEnfant?.affaire?.affaireId?.numAffaire
                        }} - {{ appelEnfant?.affaire?.tribunal?.nom_tribunal }}</span>
                </div>
            </div>
    
          
    
             
    
            <div class="p-grid">
                <div class="p-col-2">
                    <label>تاريخ الإستئناف:</label>
                </div>
                <div class="p-col-10">
                    <span>{{ appelEnfant?.dateEmission | date:'yyyy/MM/dd'}}</span>
                </div>
            </div>
    
            <div class="footer">
                <label>المدرج: <span>{{ appelEnfant?.personelle?.nom +' '+ appelEnfant?.personelle?.prenom }}</span>
                    <p>{{ appelEnfant?.etablissement?.libelle_etablissement }} في {{ appelEnfant?.dateInsertion |
                        date:'yyyy/MM/dd' }} </p>
                </label>
            </div>
        </div>
    </div>
 

 