p{
    font-family: 'Amiri', Times, serif;
}
label{
    line-height: 2.4;
    color: rgb(58, 58, 58);
    border: 0.5px solid rgb(206, 205, 205);
    border: white;
}
span{
    color: #000;
 
     
}
  
.line {
    text-decoration: line-through gray;
    
  }
  .table{
   
    /* font-weight: 500; */
    font-size: 16px;
    color: black;
    font-family: 'Amiri', Times, serif;
   
}
    
th{
    color: black;
    font-family: 'Amiri', Times, serif;
}

td{
 background-color: white;
}