<div dir="rtl" *ngIf=" carteHeber" class="judicial-document">
    <div class="document-header">
        <div class="header-left">
            <h1>الجمهورية التونسية</h1>
            <h2>وزارة العدل</h2>
            <h3>{{  carteHeber?.affaire?.tribunal?.nom_tribunal }}</h3>
        </div>

        <div class="header-center">
            <h1 class="document-title"><b>بطــــاقـــة إيــواء</b></h1>
        </div>

        <div class="header-right">
            <h3>
                <b>{{  carteHeber?.affaire?.tribunal?.gouvernorat?.libelle_gouvernorat }}</b>
                <b> في {{  carteHeber?.dateEmission | date:'yyyy/MM/dd' }}</b>
            </h3>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-2">
            <label>الهوية:</label>
        </div>
        <div class="p-col-10">
            <ul>
                <li style="font-weight: bold;">
                    {{  carteHeber?.affaire?.arrestation?.enfant?.nom }} بن
                    {{  carteHeber?.affaire?.arrestation?.enfant?.nomPere }} بن
                    {{  carteHeber?.affaire?.arrestation?.enfant?.nomGrandPere }}
                    {{  carteHeber?.affaire?.arrestation?.enfant?.prenom }}
                    <br>
                    إبن
                    {{  carteHeber?.affaire?.arrestation?.enfant?.nomMere + ' ' +
                     carteHeber?.affaire?.arrestation?.enfant?.prenomMere }}
                </li>
                <li style="color: red;">
                    البلغ (ة) من العمر: XX سنة

                    و المولود (ة) بــــ:
                    {{  carteHeber?.affaire?.arrestation?.enfant?.lieuNaissance }}
                    {{  carteHeber?.affaire?.arrestation?.enfant?.dateNaissance | date:'yyyy/MM/dd' }}
                </li>
                <li>
                    القاطن (ة):
                    {{  carteHeber?.affaire?.arrestation?.enfant?.adresse + ' ' }}
                    {{  carteHeber?.affaire?.arrestation?.enfant?.delegation?.libelle_delegation + ' ' }}
                    {{  carteHeber?.affaire?.arrestation?.enfant?.delegation?.gouvernorat?.libelle_gouvernorat }}
                </li>
            </ul>
        </div>
    </div>







    <div class="p-grid" *ngIf=" carteHeber.affaire">
        <div class="p-col-2">
            <label>القضية:</label>
        </div>
        <div class="p-col-10">
            <span>{{  carteHeber?.affaire?.affaireId?.numAffaire + ' ' }}</span>
            <span>{{  carteHeber?.affaire?.tribunal?.nom_tribunal }}</span>
        </div>
    </div>

    <div class="p-grid" *ngIf=" carteHeber.affaire">
        <div class="p-col-2">
            <label>قضية الربط:</label>
        </div>
        <div class="p-col-10">
            <span *ngIf=" carteHeber.affaire.affaireLien">{{  carteHeber?.affaire?.affaireLien?.affaireId?.numAffaire
                }}</span>
            <span *ngIf=" carteHeber.affaire.affaireLien">{{  carteHeber?.affaire?.affaireLien?.tribunal?.nom_tribunal
                }}</span>
            <span *ngIf="! carteHeber.affaire.affaireLien">غير موجودة</span>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-2">
            <label>تاريخ صدور البطاقة:</label>
        </div>
        <div class="p-col-10">
            <span dir="rtl">{{  carteHeber?.dateEmission }}</span>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-2">
            <label>تاريخ إيداع البطاقة:</label>
        </div>
        <div class="p-col-10">
            <span dir="rtl">{{  carteHeber?.dateDepotCarte }}</span>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-2">
            <label>نوع القضية:</label>
        </div>
        <div class="p-col-10">
            <span>{{  carteHeber?.typeAffaire?.libelle_typeAffaire }}</span>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-2">
            <label><b>المتهم (ة) بــــ :</b></label>
        </div>
        <div class="p-col-10">
            <div>

                <p>
                    <span *ngFor="let row of  carteHeber.titreAccusations; let rowIndex = index">
                        {{ row?.titreAccusation }}<span *ngIf="rowIndex <  carteHeber.titreAccusations.length - 1"> و
                        </span>
                    </span>
                    .
                </p>
            </div>
        </div>
    </div>


    <div class="footer">
        <label>المدرج: <span>{{  carteHeber?.personelle?.nom + ' ' +  carteHeber?.personelle?.prenom }}</span>
            <p>{{  carteHeber?.etablissement?.libelle_etablissement }} في {{  carteHeber?.dateInsertion |
                date:'yyyy/MM/dd' }}
            </p>
        </label>
    </div>
</div>