<div dir="rtl">
    <!-- (selectedTabChange)="onTabChanged($event);" -->
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabChanged($event);" animationDuration="500ms"
        backgroundColor="secondary">


        <mat-tab>
            <ng-template mat-tab-label>

                <h1 class="tab-title-blue"> عـــرض جدولـــي </h1>
            </ng-template>


            <div class="Listcontainer" style="width: auto; margin-bottom: 150px;">
                <p-toast key="tst" [style]="{ marginTop: '150px' }"></p-toast>

                <p-card [style]="{ 'height': 'auto', 'border-radius': '0%' }">
                    <div class="p-grid" dir="rtl">



                        <div class="p-col-1 d-flex align-items-center justify-content-end">
                            <h2 class="mb-0">من :</h2>
                        </div>
                        <div class="p-col-2">
                            <p-calendar dir="rtl" [readonlyInput]="false" [(ngModel)]="dateDebutGlobale"
                                (onSelect)="calculateLastDay()" appendTo="body" [yearNavigator]="true" readonly="true"
                                [monthNavigator]="true" [yearRange]="years" dateFormat="yy/mm/dd" [locale]="calendar_ar"
                                placeholder="يوم/شهر/سنة" class="custom-calendar w-100">
                            </p-calendar>
                        </div>
                        <div class="p-col-1 d-flex align-items-center justify-content-end">
                            <h2 class="mb-0">إلى :</h2>
                        </div>
                        <div class="p-col-2">
                            <p-calendar dir="rtl" [readonlyInput]="false" [(ngModel)]="dateFinGlobale"
                                (onSelect)="calculateLastDay()" appendTo="body" [yearNavigator]="true" readonly="true"
                                [monthNavigator]="true" [yearRange]="years" dateFormat="yy/mm/dd" [locale]="calendar_ar"
                                placeholder="يوم/شهر/سنة" class="custom-calendar w-100">
                            </p-calendar>
                        </div>
                        <div class="p-col-6">
                            <button *ngIf="statistiqueEtablissement?.length !== 0"
                                (click)="downloadStatistiqueGenerale()">تحميل
                                إحصائية عامة</button>
                        </div>
                    </div>


                    <div class="p-grid" dir="rtl" style="text-align: center;">
                        <div class="p-col-8">

                        </div>


                        <div class="p-col-2">


                        </div>
                    </div>
                </p-card>

                <table *ngIf="statistiqueMouvements?.length !== 0" class="p-table" dir="rtl"
                    style="width: 100%; margin-top: 20px; text-align: center;">
                    <thead>
                        <tr>

                            <th style="text-align: center;">إسم المؤسسة</th>

                            <th style="text-align: center;"> عدد الداخلون جدد
                            </th>
                            <th style="text-align: center;"> عدد الداخلون نقل </th>
                            <th style="text-align: center;"> عدد المغادرون نقل </th>

                            <th style="text-align: center; width: 200px;">عدد المغادرون سراحات </th>
                            <th style="text-align: center; width: 200px;">عدد المغادرون تغير وسيلة </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let stat of statistiqueMouvements; let i = index">

                            <td style="color: blue;">{{ stat?.libelleEtablissement }} </td>

                            <td
                                [ngStyle]="{'background-color': stat?.nombrePremiereEntree === 0 ? '#f2f2f2' : 'transparent'}">
                                <span>

                                    {{ stat?.nombrePremiereEntree }}
                                </span>
                            </td>
                            <td
                                [ngStyle]="{'background-color': stat?.nombreMutationEntrant === 0 ? '#f2f2f2' : 'transparent'}">
                                <span>
                                    {{ stat?.nombreMutationEntrant }}
                                </span>
                            </td>
                            <td
                                [ngStyle]="{'background-color': stat?.nombreMutationSortant === 0 ? '#f2f2f2' : 'transparent'}">
                                <span>
                                    {{ stat?.nombreMutationSortant }}
                                </span>
                            </td>
                            <td
                                [ngStyle]="{'background-color': stat?.nombreLiberation === 0 ? '#f2f2f2' : 'transparent'}">
                                <span>
                                    {{ stat?.nombreLiberation }}
                                </span>
                            </td>
                            <td
                                [ngStyle]="{'background-color': stat?.nombreChangementEtablissement === 0 ? '#f2f2f2' : 'transparent'}">
                                <span>
                                    {{ stat?.nombreChangementEtablissement }}
                                </span>
                            </td>

                        </tr>

                    </tbody>
                </table>
                <div *ngIf="dateFinGlobale" dir="rtl">
                    <h2>الموقيمن يوم: {{ dateFinGlobale | date:'yyyy/MM/dd' }}</h2>
                </div>
                <table *ngIf="statistiqueEtablissement?.length !== 0" class="p-table" dir="rtl"
                    style="width: 100%; margin-top: 20px; text-align: center;">
                    <thead>
                        <tr>

                            <th style="text-align: center; ">إسم المؤسسة</th>
                            <th style="text-align: center;">إجمالي الموقيمن</th>
                            <th style="text-align: center;">موقوفين</th>
                            <th style="text-align: center;">محكومين</th>


                            <th style="text-align: center;  ">الإخلالات</th>



                            <th style="text-align: center;">تحميل البيانات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let stat of statistiqueEtablissement; let i = index">

                            <td style="color: blue;">{{ stat?.libelle_etablissement }}</td>
                            <td
                                [ngStyle]="{'background-color': (stat?.nbrStatutPenalArrete + stat?.nbrStatutPenalJuge) === 0 ? '#f2f2f2' : 'transparent'}">
                                <span *ngIf="stat?.nbrStatutPenalArrete + stat?.nbrStatutPenalJuge !== 0">
                                    {{ stat?.nbrStatutPenalArrete + stat?.nbrStatutPenalJuge }}
                                </span>
                            </td>
                            <td
                                [ngStyle]="{'background-color': stat?.nbrStatutPenalArrete === 0 ? '#f2f2f2' : 'transparent'}">
                                <span *ngIf="stat?.nbrStatutPenalArrete !== 0">
                                    {{ stat?.nbrStatutPenalArrete }}
                                </span>
                            </td>
                            <td
                                [ngStyle]="{'background-color': stat?.nbrStatutPenalJuge === 0 ? '#f2f2f2' : 'transparent'}">
                                <span *ngIf="stat?.nbrStatutPenalJuge !== 0">
                                    {{ stat?.nbrStatutPenalJuge }}
                                </span>
                            </td>

                            <td
                                [ngStyle]="{'background-color': stat?.nbrStatutProbleme === 0 ? '#f2f2f2' : 'transparent'}">
                                <span style="color: rgb(63, 63, 63);" *ngIf="stat?.nbrStatutProbleme !== 0">


                                    {{ stat?.idsEnfants }}
                                </span>
                            </td>




                            <td>

                                <a (click)="downloadEtablissementData(stat, 'arrete')">
                                    موقوفين
                                </a>
                                <a (click)="downloadEtablissementData(stat ,'juge')">
                                    محكومين
                                </a>

                            </td>
                        </tr>
                        <tr style="font-weight: bolder;">
                            <td colspan="1" style="text-align: center;">جميع المراكز</td>
                            <td
                                [ngStyle]="{'background-color': (totalNbrStatutPenalArrete + totalNbrStatutPenalJuge) === 0 ? '#f2f2f2' : 'transparent'}">
                                <span style="color: blue;"
                                    *ngIf="totalNbrStatutPenalArrete + totalNbrStatutPenalJuge !== 0">
                                    {{ totalNbrStatutPenalArrete + totalNbrStatutPenalJuge}}
                                </span>
                            </td>
                            <td
                                [ngStyle]="{'background-color': totalNbrStatutPenalArrete === 0 ? '#f2f2f2' : 'transparent'}">
                                <span *ngIf="totalNbrStatutPenalArrete !== 0">
                                    {{ totalNbrStatutPenalArrete }}
                                </span>
                            </td>
                            <td
                                [ngStyle]="{'background-color': totalNbrStatutPenalJuge === 0 ? '#f2f2f2' : 'transparent'}">
                                <span *ngIf="totalNbrStatutPenalJuge !== 0">
                                    {{ totalNbrStatutPenalJuge }}
                                </span>
                            </td>
                            <td
                                [ngStyle]="{'background-color': totalNbrStatutPenalLibre === 0 ? '#f2f2f2' : 'transparent'}">
                                <span *ngIf="totalNbrStatutPenalLibre !== 0">
                                    {{ totalNbrStatutPenalLibre }}
                                </span>
                            </td>



                            <td style="text-align: center;">
                                <!-- <a (click)="downloadStatistiqueGenerale()">تحميل إحصائية عامة</a> -->
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <div *ngIf="click" class="loading-overlay">
                <img src="assets/layout/images/g.gif" alt="Loading..." class="loading-gif" />
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label style="color:  black ;">

                <h1 class="tab-title-red"> عــــرض بيــــاني </h1>
            </ng-template>

            <app-statique></app-statique>

        </mat-tab>

        <!-- <mat-tab>
        <ng-template mat-tab-label style="color:  black ;">
    
            <h1> تحيـــــــــــــــن   </h1>
        </ng-template>
    
    
        <app-carte-recup></app-carte-recup>
    
    
    </mat-tab> -->


    </mat-tab-group>



</div>