h3{

  font-size: 30px; /* Titres de 40 pixels */
  
  font-weight: bold;
  width:200px; 
   background-color:transparent ;
}
.example-button-toggle-label {
  display: inline-block;
  margin: 16px;
}

[aria-label=primary] {
  background-color: rgb(4, 0, 255);
}

[aria-label=accent] {
  background-color: aqua;
}

h1{
  color: #015ac7 !important;
       font-family: 'Amiri', Times, serif;        
   
      font-weight: bold;
}
.item{
  font-family: 'Amiri', Times, serif;
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
        color: #4c566ad0;
}
b{
    color: #4a59a3;
}