
 
 
    <div dir="rtl" *ngIf="revue">
        <div  style=" margin-left: 5%; margin-right: 5%;    background-image: url(assets/layout/images/bg.png)" >
            <div class="p-grid"  >
                <div class="p-col-2">
                    <label style="background-color: rgb(241, 241, 241);">
                        الهوية:
                         
                    </label>
                    </div>
                    <div class="p-col-10">
                        <label>
                          
                            <span>


                                {{ revue.affaire.arrestation.enfant.nom }} بن {{ revue.affaire.arrestation.enfant.nomPere }} بن {{ revue.affaire.arrestation.enfant.nomGrandPere }} {{ revue.affaire.arrestation.enfant.prenom }}
                            </span>
                             
                        </label>
                    </div>
                    </div>
            
                    <div class="p-grid"  >
                        <div class="p-col-2">
                            <label style="background-color: rgb(241, 241, 241);">
                                عدد الإيقاف :
                                 
                            </label>
                            </div>
                            <div class="p-col-10">
                                <label>
                                  
                                    <span dir="rtl">
        
        
                                        {{ revue.numArrestation }}
                                    </span>
                                     
                                </label>
                            </div>
                            </div>
                            <div class="p-grid"  >
                                <div class="p-col-2">
                                    <label style="background-color: rgb(241, 241, 241);">
                                        المركز :
                                         
                                    </label>
                                    </div>
                                    <div class="p-col-10">
                                        <label>
                                          
                                            <span>
                
                
                                                {{ revue?.etablissement?.libelle_etablissement }}
                                            </span>
                                             
                                        </label>
                                    </div>
                                    </div>
          
                                
            
            
                                            <div class="p-grid" *ngIf="revue?.affaire" >
                                                
                                                <div class="p-col-2">
                                                    <label   style="background-color: rgb(241, 241, 241);">
                                                              قضية  المراجعة :
                                                       
                                                    </label>
                                                 
                                                    </div>
                                                    <div class="p-col-10">
                                                        <label>
                                                          
                                                            <span> {{ revue.affaire.affaireId.numAffaire }}</span>
                                                            <span> {{ revue.affaire.tribunal.nom_tribunal }}</span>
                                                             
                                                        </label>
                                                    </div>
                                                    </div>
<!-- 

                                                    <div class="p-grid" *ngIf="revue?.affaire && revue?.refuse=='yes'" >
                                                        <div class="p-col-2" *ngIf="revue.affaire.affaireLien">
                                                            <label style="background-color: rgb(241, 241, 241);" >
                                                                قضية  الربط         :
                                                               
                                                            </label>
                                                            </div>
                                                            <div class="p-col-10">
                                                                <label>
                                                                  
                                                                    <span *ngIf="revue.affaire.affaireLien"> {{ revue.affaire.affaireLien.affaireId.numAffaire }}</span>
                                                                    <span *ngIf="revue.affaire.affaireLien"> {{ revue.affaire.affaireLien.tribunal.nom_tribunal }}</span>
                                                                   
                                                                     
                                                                </label>
                                                            </div>
                                                            </div>       -->
                                                    
            
        
                                                                    <!-- <div class="p-grid"   >
                                                                        <div class="p-col-2">
                                                                            <label style="background-color: rgb(241, 241, 241);">
                                                                                تاريخ صدور البطاقة
                                                                               
                                                                            </label>
                                                                            </div>
                                                                            <div class="p-col-10">
                                                                                <label>
                                                                                  
                                                                                    <span dir="rtl">{{ revue.dateEmission }}</span>
                                                                                </label>
                                                                            </div>
                                                                            </div> -->
                                                                            <div class="p-grid"   >
                                                                                <div class="p-col-2">
                                                                                    <label  style="background-color: rgb(241, 241, 241);">
                                                                                        تاريخ المراجعة:
                                                                                        
                                                                                    </label>
                                                                                  
                                                                                       </div>
                                                                                    <div class="p-col-10">
                                                                                        <label>
                                                                                          
                                                                                            <span dir="rtl">{{ revue.dateDepotCarte }}</span>
                                                                                        </label>
                                                                                    </div>
                                                                                    </div>


                                                                                    <div class="p-grid"   >
                                                                                        <div class="p-col-2">
                                                                                            <label style="background-color: rgb(241, 241, 241);" >
                                                                                                نص المراجعة :
                                                                                               
                                                                                            </label>
                                                                                            </div>
                                                                                            <div class="p-col-10">
                                                                                                <label>
                                                                                                  
                                                                                                    <span dir="rtl">{{ revue.textJugement }}</span>
                                                                                                </label>
                                                                                            </div>
                                                                                            </div>
                                                                                 
                                                                                                                                                             
           
                                                                                                   
            

          
        <label style="margin-top: 30px;">
            المدرج    :
            <span>{{ revue?.personelle?.nom +' '+ revue?.personelle?.prenom +'    '}}</span>
            بتاريخ  :
            <span dir="rtl">{{ revue.dateInsertion}}</span>
        </label>
        </div>
         
    </div>
 

 