<p-toast key="tst" [style]="{marginTop: '150px'}"></p-toast>

<div>
    <h2>تغيير كلمة المرور</h2>
    <div>
        <label for="fullName">الهوية :</label>
        <span id="fullName">{{currentUser?.nom + ' ' + currentUser?.prenom}}</span>
    </div>
    <form (ngSubmit)="onChangePassword()">
        <div>
            <label for="oldPassword">كلمة المرور القديمة:</label>
            <div style="position: relative;">
                <input type="password" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" required>
                
            </div>
        </div>
        <div>
            <label for="newPassword">كلمة المرور الجديدة:</label>
            <div style="position: relative;">
                <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword"
                    [type]="showNewPassword ? 'text' : 'password'" required>
                <i   (click)="showNewPassword = !showNewPassword"
                    [ngClass]="{'pi pi-eye': !showNewPassword, 'pi pi-eye-slash': showNewPassword}"
                    style="font-size: 30px;"></i>
            </div>
        </div>
        <div>
            <label for="confirmPassword">تأكيد كلمة المرور الجديدة:</label>
            <div style="position: relative;">
                <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword"
                    [type]="showConfirmPassword ? 'text' : 'password'" required>
                <i   (click)="showConfirmPassword = !showConfirmPassword"
                    [ngClass]="{'pi pi-eye': !showConfirmPassword, 'pi pi-eye-slash': showConfirmPassword}"
                    style="font-size: 30px;"></i>
            </div>
        </div>
        <button type="submit">تغيير كلمة المرور</button>
    </form>
</div>