<p-toast key="tst" [style]="{marginTop: '100px'}"></p-toast>

<div class="change-password-container">
    <h2>تغيير كلمة المرور</h2>

    <div class="readonly-info">
        <p>الرقم الإداري: <strong>{{ user?.numAdministratif }}</strong></p>
        <p>الهوية: <strong>{{ user?.nom + ' ' + user?.prenom }}</strong></p>
        <p> المهــــام: <strong>{{ translateRoleToArabic(user?.roles[0]?.name) + ' بــــ'
                +user?.etablissement?.libelle_etablissement }}</strong></p>
        <p>رقم الهاتف: <strong>{{ user?.telephone  }}</strong></p>
        <p> إســـم المستعمـــل: <strong>{{ user?.username }}</strong></p>
        <p> تاريخ آخر دخول: <strong>{{ user?.lastLogin | date:'HH:mm dd-MM-yyyy'  }}</strong></p>
        <p> تاريخ آخر تغيير لكلمة السر: <strong>{{ user?.lastPasswordModifiedDate | date:'HH:mm dd-MM-yyyy'  }}</strong></p>
      
     
    </div>
 
    <form (ngSubmit)="onChangePassword()" *ngIf="!terminer">
        <div class="input-group">
            <label for="oldPassword">كلمة المرور القديمة</label>
            <div class="password-wrapper">
                <input [type]="showOldPassword ? 'text' : 'password'" id="oldPassword" [(ngModel)]="oldPassword"
                    name="oldPassword" required />
                <i class="pi" [ngClass]="showOldPassword ? 'pi-eye-slash' : 'pi-eye'"
                    (click)="showOldPassword = !showOldPassword"></i>
            </div>
            <small class="error-message" *ngIf="fieldErrors && fieldErrors['oldPassword']">{{ fieldErrors['oldPassword'] }}</small>
            

        </div>

        <div class="input-group">
            <label for="newPassword">كلمة المرور الجديدة</label>
            <div class="password-wrapper">
                <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword" [(ngModel)]="newPassword"
                    name="newPassword" required />
                <i class="pi" [ngClass]="showNewPassword ? 'pi-eye-slash' : 'pi-eye'"
                    (click)="showNewPassword = !showNewPassword"></i>
            </div>
            <small class="error-message" *ngIf=" fieldErrors && fieldErrors['newPassword']">{{ fieldErrors['newPassword'] }}</small>
            <small class="error-message" *ngIf="fieldErrors && fieldErrors['confirmPassword']">{{ fieldErrors['confirmPassword'] }}</small>
        </div>
        

        <div class="input-group">
            <label for="confirmPassword">تأكيد كلمة المرور الجديدة</label>
            <div class="password-wrapper">
                <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword"
                    [(ngModel)]="confirmPassword" name="confirmPassword" required />
                <i class="pi" [ngClass]="showConfirmPassword ? 'pi-eye-slash' : 'pi-eye'"
                    (click)="showConfirmPassword = !showConfirmPassword"></i>
            </div>
        </div>

        <button type="submit">تحديث</button>
    </form>

    <div *ngIf="terminer" class="success-message">
        تم تحديث كلمة المرور بنجاح.
        <button (click)="goBack()">العودة</button>
    </div>
</div>