<div dir="rtl" style="margin-bottom: 100px;"   >
    <p-toast key="tst" [style]="{marginTop: '150px'}"></p-toast>
    <p-table   [value]="etablissements"   
    id="dt" #dt dataKey="numOrdinale"
    paginatorPosition="bottom" [rowsPerPageOptions]="[5,10,20,50]"    [paginator]="true" [rows]="10" [globalFilterFields]="['id','libelle_etablissement','gouvernorat.libelle_gouvernorat']">
     <ng-template pTemplate="caption">
       <div class="p-d-flex p-ai-center p-jc-between">
    
        <h1  style="text-align: right;"  > 
            <input type="text" pInputText size="50" placeholder="  كلمــــــــــة مفتــــــــــاح" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:250px;
                                                                                                                        font-weight: bold;
                                                                                                                        font-size: 16px;">
   
        
        </h1>   </div>
    </ng-template>  
    <ng-template pTemplate="header"  >
       <tr > 
         
           <th style="width: 7%;"  pSortableColumn="id">  المعرف   
            <p-sortIcon field="id"></p-sortIcon>
        </th>
           <th style="width: 26%;" pSortableColumn="libelle_etablissement" >المؤسسة   
            <p-sortIcon field="libelle_etablissement"></p-sortIcon>
        </th> 
           <th style="width: 26%;"  pSortableColumn="gouvernorat.libelle_gouvernorat" >الولاية    
            <p-sortIcon field="gouvernorat.libelle_gouvernorat"></p-sortIcon>
        </th> 
           
           <th style="width: 10%;" >
              <button  (click)="add()"
              style="background-color: #28a745!important;" mat-fab  >
                 <i class="pi pi-plus" style="font-size: 25px;"> </i>
    
       
             </button> 
          </th>
          
       </tr>

       <tr > 
         
        <th     >     
            <input   pInputText type="text" placeholder="يبدأ بـــــــــــ" class="ui-column-filter" style="width: 100%; margin-top: 0;" (input)="dt.filter($event.target.value, 'id', 'startsWith')">
                         
     </th>
        <th    >    
            <input   pInputText type="text" placeholder=" يبدأ بـــــــــــ" class="ui-column-filter" style="width: 100%; margin-top: 0;" (input)="dt.filter($event.target.value, 'libelle_etablissement', 'startsWith')">
                         
     </th> 
     <th    >    
        <p-multiSelect    [options]="gouvernoratSwich" [filter]="true"  
           [style]="{'width':'100%', 'margin-top':'0'}"   emptyFilterMessage="لا تيوجد نتيجية "
           defaultLabel="قائمة الولايات " selectedItemsLabel="{0} ولايات" appendTo="body"  
            (onChange)="dt.filter($event.value,'gouvernorat.libelle_gouvernorat', 'in')">
           <ng-template let-group pTemplate="item">
             <div class="item">
                 <span  >{{group.label}}</span>
                </div>
              
        </ng-template>
        
        </p-multiSelect>    
                      
 </th>
        
        <th style="width: 10%;" >
          
       </th>
       
    </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-etablissement>
       <tr>
          
        
           <td> {{etablissement.id}} </td>
           <td>{{etablissement.libelle_etablissement}}   </td>
           <td>{{etablissement.gouvernorat.libelle_gouvernorat}}   </td>
         
           <td>
               
              <div class="example-button-container">
                  <!-- <button style="margin-left: 20px;" (click)="showEnfant(residence.arrestation.enfant)" mat-mini-fab color="warn"   aria-label="Example icon button with a heart icon">
                      <i class="pi pi-comment" style="font-size: 25px;"></i>
                    </button> -->
                    <button   (click)="update()" 
                    style="background-color: white!important; margin-left: 15px;"    mat-mini-fab  >
                       <i class="pi pi-pencil" style="font-size: 30px; color: blue;" > </i>
      
                   </button>
                 
                    <button (click)="delete(etablissement)"  style="background-color: white!important; "  mat-mini-fab   aria-label="Example icon button with a home icon">
                      <i class="pi pi-trash" style="font-size: 30px; color: red;"></i>
                  </button>
               
                 
              
                </div>  
                
              
               </td>
       </tr>
    </ng-template>
    
    </p-table>
    </div>



    
<p-dialog  dir="rtl"   [(visible)]="display"    [closable]="false" 
[modal]="true"      >
<p-header>

    <div class="p-grid " style="background-color: rgb(214, 214, 214);"  >
      
      <span    style=" color: green;"  >إدراج مؤسسة  جديد    </span>


    </div>
    
         
    
</p-header> 
<div class="p-field p-grid">
    <label for="lastname3" class="p-col-fixed" style="width: 180px;">المعرف   :</label>
    <div class="p-col">
        <input         [(ngModel)]="id"   type="number" pInputText>
    </div>
</div>

<div class="p-field p-grid">
    <label for="lastname3" class="p-col-fixed " style="width: 180px;">  إسم المؤسسة      :</label>
    <div class="p-col">
        <input   [(ngModel)]="nom"  type="text" pInputText>
    </div>
</div>
  
<div class="p-field p-grid">
    <label   class="p-col-fixed" style="width:180px">  الولاية    :  </label>
    <div class="p-col">
        <p-dropdown appendTo="body"   (onChange)="onChangGouv($event) " [options]="gouvernorats" placeholder="الولاية  "   [filter]="true" id="gouvernorat"  
                  [style]="{'width':'300px'}"   name="gouvernorat">
                <ng-template let-gouv pTemplate="item">
                    <div class="item">
                
                        <div>{{gouv.label }}</div>
                    </div>
                </ng-template>
                </p-dropdown>
    </div>
 </div>  


<div class="p-field p-grid">
    <label class="p-col-fixed" style="width:190px"> الإطلاع على معطيات : </label>
    <div class="p-col">
        <p-dropdown appendTo="body" [(ngModel)]="acce" [options]="typeEtablissements" placeholder="  معطيــات " [filter]="true"
            id="acce" [style]="{'width':'220px'}" name="acce">
            <ng-template let-acce pTemplate="item">
                <div class="item">

                    <div>{{acce.label }}</div>
                </div>
            </ng-template>

        </p-dropdown>
    </div>
</div>




 <div style="text-align: center; margin-top: 20%;">
            
    <button  (click)="addEtab()" style="background-color: #28a745!important;" mat-fab>
        <i class="pi pi-save" style="font-size: 30px; color: white;"> </i>
    
    
     </button>     
                   
    <button (click)="display = false"
       style="background-color: rgba(255, 0, 0, 0.822)!important; margin-right: 20px;" mat-fab>
       <i class="pi pi-power-off" style="font-size: 30px; color: white;"> </i>


    </button>
 </div>   
</p-dialog> 