<!-- Login Component -->
<div *ngIf="warningMessages.length > 0" class="warning-wrapper">
  <div class="warning-container">
    <ul class="warning-list">
      <li *ngFor="let warning of warningMessages" class="warning-item">
        ⚠️ {{ warning }}
      </li>
    </ul>
    <button class="btn-continue" (click)="redirectPage()">مواصلة</button>
  </div>
</div>

<div class="login-container">
  <!-- Balance illustration à gauche -->
  <!-- <div class="illustration">
    <img src="assets/layout/images/pagePrincipale.jpg" alt="Justice Digital" />
  </div> -->

  <!-- Login box à droite -->
  <div class="login-box">
    <div class="logo">
      <img src="assets/layout/images/Drapeau-Tunisie_180-gif.gif" alt="Logo" />
    </div>
    <h2 class="title">المنظومــــــة الجــــزائيــــــة</h2>

    <form *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
      <div class="input-group">
        <label for="username">إسم المستعمل</label>
        <input type="text" id="username" name="username" [(ngModel)]="form.username" required #username="ngModel"
          placeholder="إسم المستعمل" dir="rtl" />
      </div>

      <div class="input-group">
        <label for="password">كلمة السر</label>
        <input type="password" id="password" name="password" [(ngModel)]="form.password" required #password="ngModel"
          placeholder="كلمة السر" dir="rtl" />
      </div>

      <div class="buttons">
        <button type="submit" class="btn-submit">دخول</button>
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
      </div>
    </form>
  </div>
</div>