<div class="login-container">
  <div class="login-box">
    <div class="logo">
      <img src="assets/layout/images/cgprr.png" alt="Logo" />
    </div>
    <h2 class="title">المنظومــــــة التربويــــــة</h2>

    <form *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
      <div class="input-group">
        <label for="username">إسم المستعمل</label>
        <input type="text" id="username" name="username" [(ngModel)]="form.username" required #username="ngModel"
          placeholder="المستعمل" dir="rtl" />
      </div>

      <div class="input-group">
        <label for="password">كلمة السر</label>
        <input type="password" id="password" name="password" [(ngModel)]="form.password" required #password="ngModel"
          placeholder="كلمة السر" dir="rtl" />
      </div>

      <div class="buttons">
        <button type="submit" class="btn-submit">دخول</button>
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
      </div>
    </form>
  </div>
</div>