<p-toast key="tst" [style]="{marginTop: '150px'}"></p-toast>
<div dir="rtl" style="margin-top: 20px; margin-left: 5%;margin-right:5%;">







    <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->



<div class="card" *ngIf="enfantLocal && !isSaved">

<app-details-enfant [enfantLocal]="enfantLocal" [arrestation]="arrestation" [residence]="residence" [msg]="msg"
    [isSaved]="isSaved">
</app-details-enfant>

    
    <div *ngIf="!isSaved" style="text-align: center;">


        <h1 class="neons"> <span>{{msg}}</span></h1>




    </div>

        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->





        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->




        <div *ngIf="allowNewCarte"  class="court-document">


            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

            <div class="card">
                <div class="p-grid">
                    <div class="p-col ">
                    <div class="p-field p-grid">

                        <label for="lastname3" class="info-label">العدد الرتبي للوثيقة: <span
                                class="d">{{numOrdinalDoc}}</span> </label>

                    </div>
                </div>
                    <div class="p-col ">
                        <div class="p-field p-grid">
                            <label *ngIf="!( refuse) " class="info-label"> تاريخ   المراجعة </label>
                            <label *ngIf=" ( refuse) " class="info-label"> تاريخ    رفض المراجعة </label>
                            <div class="p-col">

                                
                             <p-calendar  [(ngModel)]="dateDepotCarte"   dir="rtl"   [readonlyInput]="false"
                             [style]="{'font-weight': '500','font-size': '18px','color': 'black'}"appendTo="body"
                            [yearNavigator]="true"  readonly ="true" [monthNavigator]="true" [yearRange]="years"  dateFormat="yy/mm/dd"  [locale]="calendar_ar" placeholder="يوم/شهر/سنة"   >
                              
                          </p-calendar>
                            </div>
                        </div>
                    </div>
                     

                </div>
            </div>



            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
            <div  >
                <div class="p-grid">
                    <div class="p-col">
                        <div style="margin-top: 10px;  ">



                            <p-panel header=" المحكمة و عدد القضية المراجعة">
                                <div class="ui-toolbar-group-left">
                                    <button pButton type="button" label=" قم بإختيار القضيةالتي يمكنك مراجعتها "
                                    *ngIf ="!update"         style="background-color: #f57421;" icon="pi pi-paperclip"
                                        (click)="showListAffaire()"></button>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="firstname3" class="p-col-fixed" style="width:150px">المحكمة </label>


                                    <div class="p-col">
                                        <input class="tribunal" type="text" [(ngModel)]="codeTribunal"
                                            style="width:  20%;" readonly placeholder=" رمز المحكمة"
                                            pInputText>
                                        <input class="tribunal" readonly [ngModel]="tribunal" placeholder="   المحكمة"
                                              type="text" style="width:  50%;" pInputText>


                                    </div>



                                </div>
                                <div class="p-field p-grid">
                                    <label for="lastname3" class="p-col-fixed" style="width:150px">عدد القضية </label>
                                    <div class="p-col">
                                        <input class="tribunal" readonly  [(ngModel)]="numAffaireT" placeholder="  عدد القضية"
                                            style="width:  20%;" type="text" pInputText>
                                    </div>
                                </div>   
                             
                                <div class="p-field p-grid" *ngIf="affaireObjet?.typeDocument=='CR'">
                                    <label   class="p-col-fixed" style="width:150px"> رفــــض مــراجعة    </label>
                                    <div class="p-col">
                                        <p-checkbox   [binary]="true"   (click)=showRefus() name="cg" value="yes"   [(ngModel)]="refuse"> </p-checkbox>
                                    </div>
                                </div>

                            </p-panel>

                            <p-panel  *ngIf="refuse">
                                <p-header>
                                    <label>
                                        المحكمة و عدد القضية الرفض       (إن وجدت)   
                                    </label>
                                </p-header>
                                <div class="p-field p-grid">
                                    <label for="firstname3" class="p-col-fixed" style="width:150px">المحكمة </label>


                                    <div class="p-col">
                                        <input class="tribunal" type="text" [(ngModel)]="codeTribunalTransfere"   [(readonly)]="update"
                                            style="width:  20%;" (change)="getTribunalTransfere()" placeholder=" رمز المحكمة"
                                            pInputText>
                                        <input class="tribunal" readonly [ngModel]="tribunalTransfere" placeholder="   المحكمة"
                                            (click)="showListTribunalTransfere()" type="text" style="width:  50%;" pInputText>


                                    </div>



                                </div>
                                <div class="p-field p-grid">
                                    <label for="lastname3" class="p-col-fixed" style="width:150px">عدد القضية </label>
                                    <div class="p-col">

                                        <p-inputMask [style]="{'font-weight': '500','width':  '20%','font-size': '16px','color': 'black'}"
                                            dir="rtl"  [(readonly)]="update" [(ngModel)]="numAffaireTransfere"  mask="999-999999" slotChar="----------"
                                               placeholder=" عدد القضية">
                                            </p-inputMask>
                                        <!-- <input class="tribunal"  [(readonly)]="update" [(ngModel)]="numAffaireTransfere" placeholder="  عدد القضية"
                                            style="width:  20%;" type="text" pInputText> -->
                                    </div>
                                </div>
                            </p-panel>



                        </div>


                    </div>
                </div>



            </div>
            

        <div class="card">
            <p-header>

            </p-header>
            <div class="p-grid">



                <div style="margin-left: 10%; margin-right: 10%;">

                    <div class="p-field p-grid">
                        <label for="lastname3" class="p-col-fixed" style="width:180px">نص  المراجعة</label>
                        <div class="p-col">
                            <textarea [rows]="4" [cols]="100" [(ngModel)]="textJugement" pInputTextarea autoResize="autoResize"></textarea>

                        </div>
                    </div>

                </div>

            </div>
        </div>

         

            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->



            <div style="text-align: center;">
                <button pButton type="button" label="رجوع " (click)="reload()"
                    style="margin-bottom:10px;padding: 0.5em;margin-left: 10px;" class="ui-button-info"></button>
                <button pButton type="button" label="تسجيل "  (click)="onSubmit()"
                    style="margin-bottom:10px;padding: 0.5em;margin-left: 10px;margin-right: 10px;"
                    class="ui-button-success"></button>
                <button pButton type="button" label="إلغاء"
                    style="margin-bottom:10px; padding: 0.5em;margin-right: 10px;" class="ui-button-danger"></button>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
        </div>


    </div>
    <div style="text-align: center;"  >

        <div class="card" *ngIf="isSaved">
        
            <app-next-document [childId]="enfantLocal?.id"></app-next-document>
        </div>
        <div  class="card" *ngIf="isSaved">
    
            <app-show-revue   [revue]="revue"></app-show-revue>                         
        </div>
    
       
    </div>
</div>








<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

 

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->







<p-dialog header="قائمة القضايا التي يمكنك مراجعتها  "  [(visible)]="displayAffaire"  modal="true" showEffect="fade" [style]="{ 'border-radius': '1%',  
'-moz-box-shadow': '0px 2px 2px rgba(0, 0, 0, 0.966)',
'-webkit-box-shadow': '0px 2px 2px rgba(0, 0, 0, 0.966)',
'box-shadow':' 0px 2px 2px rgba(0, 0, 0, 0.966)','background-image': 'url(assets/layout/images/cart.jpg)' }">

    <div style="width: 1200px;">
        <p-table [value]="entitiesAffaire" #dtAffaire selectionMode="single" [paginator]="true" [rows]="5"
        
            [globalFilterFields]="['id','nom_tribunal' ]">
            <ng-template pTemplate="caption">

                <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder=" بحث"
                          style="width:300px">

                </div>

            </ng-template>
            <ng-template pTemplate="header">
                <tr>

                    <th style="width: 150px;"> العدد الرتبي للقضية </th>
                    <th style="width: 150px;"> الوثيقة الجارية   </th>
                    <th style="width: 150px;"> عدد القضية </th>
                    <th> المحكمة </th>

                    <th style="width: 100px;"> إدراج


                    </th>


                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>


                    <td> <b style="font-size:16px;">{{row.numOrdinalAffaire}}</b></td>
                    <td *ngIf="row.typeDocumentActuelle == 'CHL' else typeDocument" style="color: rgb(1, 151, 1) !important;"> <b
                            style="font-size:16px;"> قرار تغير مكان الإيداع </b> </td>
                    
                    <ng-template #typeDocument>
                    <td *ngIf="row.typeDocument == 'CJ'   " style="color:  #ff3434!important;"> <b style="font-size:16px;">مضمون حكم</b>
                    </td>
                    
                    <td *ngIf="row.typeDocument == 'CR' " style="color:  #ff3434!important;"> <b style="font-size:16px;">مراجعة</b> </td>
                    <td *ngIf="row.typeDocument == 'CRR' " style="color:  #ff3434!important;"> <b style="font-size:16px;">رفض مراجعة</b>
                    </td>
                    </ng-template>
                    <!-- <td *ngIf="row.typeDocument == 'CJ'   " style="color:  #ff3434!important;"> <b style="font-size:16px;">مضمون حكم</b></td>
                    
                    <td *ngIf="row.typeDocument == 'CR' " style="color:  #ff3434!important;">  <b style="font-size:16px;">مراجعة</b> </td>
                    <td *ngIf="row.typeDocument == 'CRR' " style="color:  #ff3434!important;">  <b style="font-size:16px;">رفض مراجعة</b> </td>
                    <td *ngIf="row.typeDocumentActuelle == 'CHL' "  style="color: rgb(1, 151, 1) !important;" >  <b style="font-size:16px;" >  قرار تغير مكان الإيداع  </b> </td>
                  -->
                    <td> <b style="font-size:16px;">{{row.affaireId.numAffaire}} </b></td>
                    <td> <b style="font-size:16px;">{{row.tribunal.nom_tribunal}} </b></td>

                    <td >

                    
                        <button  pButton icon="pi pi-plus"  label="مراجعة" style="background-color: #66a266;"  (click)=saveAffaire(row)>
                        </button>
                       

                    </td>


                </tr>
            </ng-template>
        </p-table>
    </div>

</p-dialog>


 











<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->




















<p-dialog modal="true" *ngIf="enfantLocal" header="صورة: {{enfantLocal.nom}} {{enfantLocal.prenom}}  "
    [(visible)]="displayImg" showEffect="fade">


    <img src="{{enfantLocal.img}}" class="profile-img-card">

    <div style="text-align: center;">
        <button pButton (click)="displayImg=!displayImg;" type="button" icon="pi pi-times" label="إخفاء الصورة"
            style="color: red;background-color: transparent;"></button>

    </div>



</p-dialog>


<p-dialog [style]="{width: '80vw', height: '30vw' , 'background-color': 'white' , 'background-image': 'url(assets/layout/images/bg.png)'}" 
 [closable]="false"
                                         [(visible)]="showRevue"
                                                                 modal="true"  >
    <p-header style="color: red; font-family: 'Amiri', Times, serif;"  > هل ترغب في   تأكيد التسجيل؟   الرجاء التثبث من المعطيات, أنت تضمن دقة البيانات المقدمة: </p-header>
 
    
   <app-show-revue   [revue]="revue"></app-show-revue>                                                         
   <p-footer>
       <div style="text-align: center;">
 
          
             <button  (click)="confirmer()"
             style="background-color: #28a745!important;" mat-fab  >
                <i class="pi pi-save" style="font-size: 30px; color: white;" > </i>
         
         
            </button>
            <button (click)="showRevue = false"
            style="background-color: rgba(255, 0, 0, 0.822)!important; margin-right: 20px;" mat-fab  >
               <i class="pi pi-power-off" style="font-size: 30px; color: white;" > </i>
         
         
           </button>
       </div>
    </p-footer>
 </p-dialog>



 <p-dialog [style]="{width: '80vw', height: '30vw' , 'background-color': 'white' , 'background-image': 'url(assets/layout/images/bg.png)'}" 
 [closable]="false"
                                         [(visible)]="showRefuseRevue"
                                                                 modal="true"  >
    <p-header style="color: red; font-family: 'Amiri', Times, serif;"  > هل ترغب في   تأكيد التسجيل؟   الرجاء التثبث من المعطيات, أنت تضمن دقة البيانات المقدمة: </p-header>
 
    
   <app-show-refuse-revue   [refuseRevue]="revue"></app-show-refuse-revue>                                                         
   <p-footer>
       <div style="text-align: center;">
 
          
             <button  (click)="confirmer()"
             style="background-color: #28a745!important;" mat-fab  >
                <i class="pi pi-save" style="font-size: 30px; color: white;" > </i>
         
         
            </button>
            <button (click)="showRefuseRevue = false"
            style="background-color: rgba(255, 0, 0, 0.822)!important; margin-right: 20px;" mat-fab  >
               <i class="pi pi-power-off" style="font-size: 30px; color: white;" > </i>
         
         
           </button>
       </div>
    </p-footer>
 </p-dialog>


 <p-dialog header="دليل المحاكم" [style]="{ 'border-radius': '1%',  
'-moz-box-shadow': '0px 2px 2px rgba(0, 0, 0, 0.966)',
'-webkit-box-shadow': '0px 2px 2px rgba(0, 0, 0, 0.966)',
'box-shadow':' 0px 2px 2px rgba(0, 0, 0, 0.966)','background-image': 'url(assets/layout/images/cart.jpg)'  }"  [(visible)]="displayTribunalTransfere" modal="true" showEffect="fade">

    <div  style="width: 1200px;  min-height: 400px;"  dir="rtl"   >
        <p-table [value]="entitiesTribunal" #dtTribunalTransfere selectionMode="single" [paginator]="true" [rows]="5"
        paginatorPosition="top" [rowsPerPageOptions]="[5,10,20,50]"   [globalFilterFields]="['id','nom_tribunal' ]">
            <ng-template pTemplate="caption">

                <div class="p-grid">
                    <div class="p-col">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder=" بحث"
                            (input)="dtTribunalTransfere.filterGlobal($event.target.value, 'contains')" style="width:300px">
    
                    </div>
                    <div class="p-col">
                        <p-multiSelect    [options]="gouvernoratSwich" [filter]="true"  
                        [style]="{'width':'100%', 'margin-top':'0'}"   emptyFilterMessage="لا تيوجد نتيجية "
                        defaultLabel="قائمة الولايات " selectedItemsLabel="{0} ولايات" appendTo="body"  
                         (onChange)="dtTribunalTransfere.filter($event.value,'gouvernorat.libelle_gouvernorat', 'in')">
                        <ng-template let-group pTemplate="item">
                          <div class="item">
                              <span  >{{group.label}}</span>
                             </div>
                           
                     </ng-template>
                     
                     </p-multiSelect> 
                    </div>
                    <div class="p-col">
                        <p-multiSelect    [options]="typeTribunalSwich" [filter]="true"  
                        [style]="{'width':'100%', 'margin-top':'0'}"   emptyFilterMessage="لا تيوجد نتيجية "
                        defaultLabel="قائمة  أنواع المحاكم " selectedItemsLabel="{0}  أنواع المحاكم" appendTo="body"  
                         (onChange)="dtTribunalTransfere.filter($event.value,'typeTribunal.libelleTypeTribunal', 'in')">
                        <ng-template let-group pTemplate="item">
                          <div class="item">
                              <span  >{{group.label}}</span>
                             </div>
                           
                     </ng-template>
                     
                     </p-multiSelect>
                    </div>
                    </div>

            </ng-template>
            <ng-template pTemplate="header">
               
                    <tr>
    
                        <th style="width: 10%;"  pSortableColumn="id" >الرمز
                            <p-sortIcon field="id"></p-sortIcon>
                        </th>
    
    
                        <th  style="width: 80%;" pSortableColumn="nom_tribunal" > المحكمة
                            <p-sortIcon field="nom_tribunal"></p-sortIcon>
    
                        </th>
    
                        <th  style="width: 10%;"> إدراج
    
    
                        </th>
    
    
                    </tr>
                    <tr > 
             
                        <th     >     
                            <input   pInputText type="text" placeholder="يبدأ بـــــــــــ" class="ui-column-filter" style="width: 100%; margin-top: 0;" (input)="dtTribunalTransfere.filter($event.target.value, 'id', 'startsWith')">
                                         
                     </th>
                        <th    >    
                            <input   pInputText type="text" placeholder=" يبدأ بـــــــــــ" class="ui-column-filter" style="width: 100%; margin-top: 0;" (input)="dtTribunalTransfere.filter($event.target.value, 'nom_tribunal', 'startsWith')">
                                         
                     </th> 
                  
                        
                        <th style="width: 10%;" >
                          
                       </th>
                       
                    </tr>
                
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>


                    <td> <b style="font-size:18px;">{{row.id}}</b></td>


                    <td> <b style="font-size:18px;">{{row.nom_tribunal}} </b></td>


                    <td>
                        <p-button icon="pi pi-plus" (click)=saveTribunalTransfere(row)>
                        </p-button>


                    </td>


                </tr>
            </ng-template>
        </p-table>
    </div>

</p-dialog>