
 
 
    <div dir="rtl"  *ngIf="arreterlexecution">
        <div  style=" margin-left: 5%; margin-right: 5%;    background-image: url(assets/layout/images/bg.png)" >
            <div class="p-grid"  >
                <div class="p-col-2">
                    <label  style="background-color: rgb(241, 241, 241);"   >
                        الهوية:
                         
                    </label>
                    </div>
                    <div class="p-col-10">
                        <label>
                          
                            <span>


                                {{arreterlexecution.affaire?.arrestation?.enfant?.nom}} بن {{arreterlexecution.affaire?.arrestation?.enfant?.nomPere}} بن {{arreterlexecution.affaire?.arrestation?.enfant?.nomGrandPere}} {{arreterlexecution.affaire?.arrestation?.enfant?.prenom}}
                            </span>
                             
                        </label>
                    </div>
                </div>
             




                
                <div class="p-grid"  >
                    <div class="p-col-2">
                        <label style="background-color: rgb(241, 241, 241);">
                            عدد الإيقاف :
                             
                        </label>
                        </div>
                        <div class="p-col-10">
                            <label>
                              
                                <span dir="rtl">
    
    
                                    {{ arreterlexecution.numArrestation }}
                                </span>
                                 
                            </label>
                        </div>
                        </div>
                        <div class="p-grid"  >
                            <div class="p-col-2">
                                <label style="background-color: rgb(241, 241, 241);">
                                    المركز :
                                     
                                </label>
                                </div>
                                <div class="p-col-10">
                                    <label>
                                      
                                        <span>
            
            
                                            {{ arreterlexecution?.etablissement?.libelle_etablissement }}
                                        </span>
                                         
                                    </label>
                                </div>
                                </div>
      
                <div class="p-grid">
                    <div class="p-col-2">
                        <label style="background-color: rgb(241, 241, 241);">
                            نوع الوثيقة :
                
                        </label>
                    </div>
                    <div class="p-col-10">
                        <label style="text-decoration: underline  rgba(255, 0, 0, 0.650);">
              
                            <span *ngIf="arreterlexecution?.typeFile=='AEX' ||  !arreterlexecution?.typeFile ">
                            إيقاف تنفيذ الحكم
                            </span>
                            <span *ngIf="arreterlexecution?.typeFile=='L'">
                                ســــــــــــراح
                            </span>
                            
                        </label>
                    </div>
                </div>
        
        
                                        <div class="p-grid" *ngIf="arreterlexecution.affaire" >
                                            <div class="p-col-2">
                                                <label style="background-color: rgb(241, 241, 241);" >
                                                    المحكمة و عدد القضية السراح :
                                                   
                                                </label>
                                                </div>
                                                <div class="p-col-10">
                                                    <label>
                                                      
                                                        <span style="text-decoration: underline  rgba(255, 0, 0, 0.650);"> {{ arreterlexecution.affaire?.affaireId.numAffaire }}</span>
                                                        <span style="text-decoration: underline  rgba(255, 0, 0, 0.650);" > {{ arreterlexecution.affaire?.tribunal.nom_tribunal }}</span>
                                                         
                                                    </label>
                                                </div>
                                                </div>


                                                <div class="p-grid" *ngIf="arreterlexecution.affaire" >
                                                    <div class="p-col-2" *ngIf="arreterlexecution.affaire.affaireLien">
                                                        <label style="background-color: rgb(241, 241, 241);" >
                                                            المحكمة و عدد القضية   :
                                                           
                                                        </label>
                                                        </div>
                                                        <div class="p-col-10">
                                                            <label>
                                                              
                                                                <span *ngIf="arreterlexecution.affaire.affaireLien"> {{ arreterlexecution.affaire.affaireLien.affaireId.numAffaire }}</span>
                                                                <span *ngIf="arreterlexecution.affaire.affaireLien"> {{ arreterlexecution.affaire.affaireLien.tribunal.nom_tribunal }}</span>
                                                               
                                                                 
                                                            </label>
                                                        </div>
                                                        </div>
        
                                                        <div class="p-grid"   >
                                                            <div class="p-col-2">
                                                                <label style="background-color: rgb(241, 241, 241);" >
                                                                    أسباب السراح
                                                                   
                                                                </label>
                                                                </div>
                                                                <div class="p-col-10">
                                                                    <label>
                                                                      
                                                                        <span  >{{arreterlexecution.motifArreterlexecution.libelleMotifArretere}}</span>
                                                                    </label>
                                                                </div>
                                                                </div>
        
    
                                                                <div class="p-grid"   >
                                                                    <div class="p-col-2">
                                                                        <label style="background-color: rgb(241, 241, 241);" >
                                                                            تاريخ   إيقاف تنفيذ 
                                                                           
                                                                        </label>
                                                                        </div>
                                                                        <div class="p-col-10">
                                                                            <label>
                                                                              
                                                                                <span dir="rtl">{{ arreterlexecution.dateDepotCarte }}</span>
                                                                            </label>
                                                                        </div>
                                                                        </div>
                                                                        <!-- <div class="p-grid"   >
                                                                            <div class="p-col-2">
                                                                                <label style="background-color: rgb(241, 241, 241);" >
                                                                                    تاريخ إيداع البطاقة :
                                                                                   
                                                                                </label>
                                                                                </div>
                                                                                <div class="p-col-10">
                                                                                    <label>
                                                                                      
                                                                                        <span dir="rtl">{{ arreterlexecution.dateEmission }}</span>
                                                                                    </label>
                                                                                </div>
                                                                                </div> -->
                                                                             
                                                                                                                                                         
       
                                                                                               
        

      
    <label style="margin-top: 30px;">
        المدرج    :
        <span>{{ arreterlexecution.personelle.nom +' '+ arreterlexecution.personelle.prenom +'    '}}</span>
        بتاريخ  :
        <span dir="rtl">{{ arreterlexecution.dateInsertion}}</span>
    </label>
          
                                                           
   
        </div>
         
    </div>
 

 