
 
 
    <div dir="rtl" *ngIf="carteDepot">
        <div  style=" margin-left: 5%; margin-right: 5%;    background-image: url(assets/layout/images/bg.png)" >
            <div class="p-grid"  >
                <div class="p-col-2">
                    <label  style="background-color: rgb(241, 241, 241);">
                        الهوية:
                         
                    </label>
                    </div>
                    <div class="p-col-10">
                        <label>
                          
                            <span>


                                {{ carteDepot?.affaire?.arrestation?.enfant?.nom }} بن {{ carteDepot?.affaire?.arrestation?.enfant?.nomPere }} بن {{ carteDepot?.affaire?.arrestation?.enfant?.nomGrandPere }} {{ carteDepot?.affaire?.arrestation?.enfant?.prenom }}
                            </span>
                             
                        </label>
                    </div>
                    </div>
            
                    <div class="p-grid"  >
                        <div class="p-col-2">
                            <label  style="background-color: rgb(241, 241, 241);">
                                عدد الإيقاف :
                                 
                            </label>
                            </div>
                            <div class="p-col-10">
                                <label>
                                  
                                    <span dir="rtl">
        
        
                                        {{ carteDepot?.numArrestation }}
                                    </span>
                                     
                                </label>
                            </div>
                            </div>
                            <div class="p-grid"  >
                                <div class="p-col-2">
                                    <label  style="background-color: rgb(241, 241, 241);">
                                        المركز :
                                         
                                    </label>
                                    </div>
                                    <div class="p-col-10">
                                        <label>
                                          
                                            <span>
                
                
                                                {{ carteDepot?.etablissement?.libelle_etablissement }}
                                            </span>
                                             
                                        </label>
                                    </div>
                                    </div>
          
                                
            
            
                                            <div class="p-grid" *ngIf="carteDepot.affaire" >
                                                <div class="p-col-2">
                                                    <label  style="background-color: rgb(241, 241, 241);" >
                                                        القضية:
                                                       
                                                    </label>
                                                    </div>
                                                    <div class="p-col-10">
                                                        <label>
                                                          
                                                            <span> {{ carteDepot?.affaire?.affaireId?.numAffaire }}</span>
                                                            <span> {{ carteDepot?.affaire?.tribunal?.nom_tribunal }}</span>
                                                             
                                                        </label>
                                                    </div>
                                                    </div>


                                                    <div class="p-grid" *ngIf="carteDepot.affaire" >
                                                        <div class="p-col-2">
                                                            <label  style="background-color: rgb(241, 241, 241);" >
                                                                قضية الربط :
                                                               
                                                            </label>
                                                            </div>
                                                            <div class="p-col-10">
                                                                <label>
                                                                  
                                                                    <span *ngIf="carteDepot.affaire.affaireLien"> {{ carteDepot?.affaire?.affaireLien?.affaireId?.numAffaire }}</span>
                                                                    <span *ngIf="carteDepot.affaire.affaireLien"> {{ carteDepot?.affaire?.affaireLien?.tribunal?.nom_tribunal }}</span>
                                                                    <span *ngIf="!carteDepot.affaire.affaireLien"> غير موجودة</span>
                                                                     
                                                                </label>
                                                            </div>
                                                            </div>
            
                                                    
            
        
                                                                    <div class="p-grid"   >
                                                                        <div class="p-col-2">
                                                                            <label  style="background-color: rgb(241, 241, 241);" >
                                                                                تاريخ صدور البطاقة
                                                                               
                                                                            </label>
                                                                            </div>
                                                                            <div class="p-col-10">
                                                                                <label>
                                                                                  
                                                                                    <span dir="rtl">{{ carteDepot?.dateEmission }}</span>
                                                                                </label>
                                                                            </div>
                                                                            </div>
                                                                            <div class="p-grid"   >
                                                                                <div class="p-col-2">
                                                                                    <label   style="background-color: rgb(241, 241, 241);">
                                                                                        تاريخ إيداع البطاقة :
                                                                                       
                                                                                    </label>
                                                                                    </div>
                                                                                    <div class="p-col-10">
                                                                                        <label>
                                                                                          
                                                                                            <span dir="rtl">{{ carteDepot?.dateDepotCarte }}</span>
                                                                                        </label>
                                                                                    </div>
                                                                                    </div>
                                                                                    <div class="p-grid"   >
                                                                                        <div class="p-col-2">
                                                                                            <label   style="background-color: rgb(241, 241, 241);">
                                                                                                نوع القضية: 
                                                                                               
                                                                                            </label>
                                                                                            </div>
                                                                                            <div class="p-col-10">
                                                                                                <label>
                                                                                                  
                                                                                                    <span>{{ carteDepot?.typeAffaire?.libelle_typeAffaire }}</span>
                                                                                                </label>
                                                                                            </div>
                                                                                            </div> 
                                                                                                                                                             
           
                                                                                                   
            

            <label class="enLabel"  style="margin-top: 50px; ">     <b> 

                <p-table [value]="this.carteDepot.entitiesTitreAccusation" >
                    
                    <ng-template pTemplate="header">
                        
                          
                         
                        <th style="width:10%;"  style="background-color: rgb(241, 241, 241);" >عدد </th>
                        <th  style="width:50%;"  style="background-color: rgb(241, 241, 241);" >التهمة</th>
                        
                             
                           
                        
                        
                     </ng-template>
                    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                       <tr    class="table" >
                        <td>
                           {{rowIndex + 1}} 
                             </td>  
                         
                          <td style="word-break:break-all"> {{row?.titreAccusation }} </td>
 
                       
                          
                         
                       </tr>
                    </ng-template>

                   
                 </p-table>
             
            
            </b> 
        </label>
        <label style="margin-top: 100px;  background-color: rgb(253, 253, 253);">
            المدرج    :
            <span>{{ carteDepot?.personelle?.nom +' '+ carteDepot?.personelle?.prenom +'    '}}</span>
            بتاريخ  :
            <span dir="rtl">{{ carteDepot.dateInsertion}}</span>
        </label>
        </div>
         
    </div>
 

 