<p-toast key="tst" [style]="{marginTop: '150px'}"></p-toast>
<div dir="rtl" style="margin-top: 20px; margin-left: 10%;margin-right:10%;">







    <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->


 
    <div class="card" *ngIf="enfantLocal && !isSaved">
    
    <app-details-enfant [enfantLocal]="enfantLocal" [arrestation]="arrestation" [residence]="residence" [msg]="msg"
        [isSaved]="isSaved">
    </app-details-enfant>
    
   
    <div *ngIf="!isSaved" style="text-align: center;">
    
    
        <h1 class="neons"> <span>{{msg}}</span></h1>
    
    
        
    
    </div>
        

        <div *ngIf="allowNewCarte" class="court-document" >


            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
       
       <div class="card" >
        <div class="p-grid">
            <div class="p-col ">
                <div class="p-field p-grid">
        
                    <label for="lastname3" class="info-label">العدد الرتبي للوثيقة: <span>{{numOrdinalDoc}}</span>
                    </label>
        
                </div>
            </div>
            <div class="p-col ">
                <div class="p-field p-grid">
                    <label for="firstname3" class="info-label"> نوع الوثيقة:
        
                        <p-selectButton [options]="types" [(ngModel)]="selectedType" (click)="typeFile()"></p-selectButton>
        
                    </label>
        
                </div>
            </div>
        </div>
       </div>
           

 
   
 
 
 
            <!-- <div class="card">
                <div class="p-grid">
                    <div class="p-col ">
                    <div class="p-field p-grid">

                        <label for="lastname3" class="p-col-fixed">العدد الرتبي للوثيقة: <span
                                class="d">{{numOrdinalDoc}}</span> </label>

                    </div>
                </div>
                     <div class="p-col ">
                        <div class="p-field p-grid">
                            <label for="firstname3" class="p-col-fixed"> تاريخ    الإحالة </label>
                            <div class="p-col">

                                <p-inputMask [style]="{'font-weight': '500','font-size': '16px','color': 'black'}"
                                    [(ngModel)]="dateDepotCarte" mask="9999/99/99" slotChar="----/--/--"
                                    placeholder="يوم/شهر/سنة">
                                </p-inputMask>
                            </div>
                        </div>
                    </div>  
                      <div class="p-col ">
                        <div class="p-field p-grid">
                            <label for="firstname3" class="p-col-fixed">تاريخ إيداع البطاقة</label>
                            <div class="p-col">
                                <p-inputMask [style]="{'font-weight': '500','font-size': '16px','color': 'black'}"
                                [(ngModel)]="dateEmission"  mask="9999/99/99" slotChar="----/--/--" placeholder="يوم/شهر/سنة">
                                </p-inputMask>
                            </div>
                        </div>
                    </div>  

                </div>
            </div> -->




            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
            <div  >
                <div class="p-grid">
                    <div class="p-col">
                        <div style="margin-top: 10px;  ">

                           

                          

                            <p-panel header="  المحكمة و عدد القضية الإحالة  ">
                                <div class="ui-toolbar-group-left" *ngIf="!update">
                                    <button pButton type="button" label=" قم بإختيار القضيةالتي يمكنك إحالتها "
                                        style="background-color: #f57421;" icon="pi pi-paperclip"
                                        (click)="showListAffaire()"></button>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="firstname3" class="p-col-fixed" style="width:150px">المحكمة </label>


                                    <div class="p-col">
                                        <input class="tribunal" type="text" [(ngModel)]="codeTribunal" [(readonly)]="update"
                                            style="width:  20%;" readonly placeholder=" رمز المحكمة"
                                            pInputText>
                                        <input class="tribunal" readonly [ngModel]="tribunal" placeholder="   المحكمة" [(readonly)]="update"
                                              type="text" style="width:  50%;" pInputText>


                                    </div>


                                </div>
                                <div class="p-field p-grid">
                                    <label for="lastname3" class="p-col-fixed" style="width:150px">عدد القضية </label>
                                    <div class="p-col">
                                        <input class="tribunal" readonly  [(ngModel)]="numAffaireT" placeholder="  عدد القضية"
                                            style="width:  20%;" type="text" pInputText>
                                    </div>
                                </div>
                               
                                 <div class="p-field p-grid"  *ngIf="affaireObjet">
                                    <label for="lastname3" class="p-col-fixed" style="width:150px">الوثيقة الجارية   </label>
                                     <div class="p-col"*ngIf="affaireObjet?.typeDocument == 'CP' " style="color: #0099ff!important;"> <b style="font-size:16px;">  قرار تمديد </b></div>
                                   
                                    <div class="p-col"  *ngIf="affaireObjet?.typeDocument == 'CD' " style="color:  #0099ff!important;"> <b style="font-size:16px;">بطاقة إيداع</b> </div>
                                     <div class="p-col"*ngIf="affaireObjet?.typeDocument == 'CH' " style="color: #0099ff!important;"> <b style="font-size:16px;">بطاقة إيواء</b></div>
                                        
                                     
                                     <div class="p-col" *ngIf="affaireObjet?.typeDocument == 'T' " style="color:  #0099ff!important;"> <b style="font-size:16px;">إحالة</b></div>
                                                <div class="p-col"*ngIf="affaireObjet?.typeDocument == 'AE' " style="color:  #0099ff!important;"> <b style="font-size:16px;"> طعن الطفل بالاستئناف </b></div>
                                                    <div class="p-col"*ngIf="affaireObjet?.typeDocument == 'AP' " style="color:  #0099ff!important;" > <b style="font-size:16px;">طعن النيابة بالاستئناف</b>  </div>
                                                        <div class="p-col" *ngIf="affaireObjet.typeDocument == 'CJ'  || affaireObjet?.typeDocument == 'CJA' " style="color:  #ff3434!important;" > <b style="font-size:16px;">مضمون حكم    </b>  </div>
                                
                                                        
                                                        <!-- <label for="lastname3" class="p-col-fixed" style="width:150px">بتاريخ   </label>
                                                        <div class="p-col">
                                                            <input class="tribunal" readonly    placeholder="  يوم/شهر/سنة"
                                                                style="width:  50%;" type="text" pInputText>
                                                        </div> -->

                                </div>  
                            </p-panel>



                            <p-panel header="  أحيلت إلى    ">
                                <div class="p-field p-grid">
                                    <label for="firstname3" class="p-col-fixed" style="width:150px">المحكمة </label>

                                    
                                    <div class="p-col">
                                        <input class="tribunal" type="text" [(ngModel)]="codeTribunalTransfere"  [(readonly)]="update"
                                            style="width:  20%;" (change)="getTribunalTransfere()" placeholder=" رمز المحكمة"
                                            pInputText>
                                        <input class="tribunal" readonly [ngModel]="tribunalTransfere" placeholder="   المحكمة" [(readonly)]="update"
                                            (click)="showListTribunalTransfere()" type="text" style="width:  50%;" pInputText>


                                    </div>



                                </div>
                                <div class="p-field p-grid">
                                    <label for="lastname3" class="p-col-fixed" style="width:150px">عدد القضية <h2 style="color: #ff3434;">*</h2> </label>
                                    <div class="p-col">
                                        <p-inputMask [style]="{'font-weight': '500','width':  '20%','font-size': '16px','color': 'black'}"
                                            dir="rtl"  [(readonly)]="update" [(ngModel)]="numAffaireTransfere"  mask="999-999999" slotChar="----------"
                                               placeholder=" عدد القضية">
                                            </p-inputMask>     
                                        <!-- <input class="tribunal" [(ngModel)]="numAffaireTransfere" placeholder="  عدد القضية" [(readonly)]="update"
                                            style="width:  20%;" type="text" pInputText> -->
                                    </div>
                                </div>

                                <div class="p-field p-grid">
                                    <label for="firstname3" class="p-col-fixed"  style="width:150px"> تاريخ    الإحالة </label>
                                    <div class="p-col">
                                        <!-- <p-inputMask [style]="{'width':'120px' , 'font-weight': '500','font-size': '16px','color': 'black'}"
                                           [(ngModel)]="dateDepotCarte" mask="99/99/9999" slotChar="--/--/----"
                                           placeholder="يوم/شهر/سنة">
                                        </p-inputMask> -->
                                        <p-calendar  [(ngModel)]="dateDepotCarte"   dir="rtl"   [readonlyInput]="false"
                                        [style]="{'font-weight': '500','font-size': '18px','color': 'black'}"appendTo="body"
                                       [yearNavigator]="true"  readonly ="true" [monthNavigator]="true" [yearRange]="years"  dateFormat="yy/mm/dd"  [locale]="calendar_ar" placeholder="يوم/شهر/سنة"   >
                                         
                                     </p-calendar>
                                       
                                    </div>
                                </div>
                            </p-panel>
                          
                            <p-panel  >
                              
                                <div class="p-field p-grid">
                                    <label for="firstname3" class="p-col-fixed" style="width:150px">نتيجة الإحالة    </label>


                                    <div class="p-col">
                                        <input class="tribunal" type="text" [(ngModel)]="id"  (change)="getResultatTransfert()"
                                            style="width:  20%;"   placeholder=" رمز  نتيجة الإحالة"
                                            pInputText>
                                        <input class="tribunal" readonly [ngModel]="libelle_resultat" placeholder="   نتيجة الإحالة "
                                        (click)="showListResultatTransfert()"   type="text" style="width:  50%;" pInputText>


                                    </div>



                                </div>
                               
                            </p-panel>
<h2>
    <p style="color: #ff3434;">*</p>في حالة وجود عدد جديد : قم بتغير عدد القضية .
    <br>
    <p style="color: #ff3434;">*</p>في حالة عدم وجود عدد جديد : لا تقم بتغير عدد القضية .
</h2>
                        </div>


                    </div>
                </div>



            </div>
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->


            <p-dialog header="دليل   نتائج الإحالة   " [(visible)]="displayResultatTransfert" modal="true" showEffect="fade">

                <div style="width: 800px;">
                    <p-table [value]="entitiesResultatTransfert" #dtMotifArreterlexecution selectionMode="single" [paginator]="true" [rows]="5"
                        [globalFilterFields]="['id','nom_tribunal' ]">
                        <ng-template pTemplate="caption">
            
                            <div style="text-align: right">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder=" بحث"
                                    (input)="dtMotifArreterlexecution.filterGlobal($event.target.value, 'contains')" style="width:300px">
            
                            </div>
            
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
            
                                <th style="width: 100px;" >الرمز
            
                                </th>
            
            
                                <th  >  نتيجة الإحالة 
            
            
                                </th>
            
                                <th style="width: 50px;"> إدراج
            
            
                                </th>
            
            
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-row>
                            <tr>
            
            
                                <td> <b style="font-size:18px;">{{row.id}}</b></td>
            
            
                                <td> <b style="font-size:18px;">{{row.libelle_resultat}} </b></td>
            
            
                                <td>
                                    <p-button icon="pi pi-plus" (click)=saveResultatTransfert(row)>
                                    </p-button>
            
            
                                </td>
            
            
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            
            </p-dialog>

            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->



            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->



            <div style="text-align: center;">
                <!-- <button pButton type="button" label="رجوع " (click)="reload()"
                    style="margin-bottom:10px;padding: 0.5em;margin-left: 10px;" class="ui-button-info"></button> -->
                <button pButton type="button" label="تسجيل "  (click)="onSubmit()"
                    style="margin-bottom:10px;padding: 0.5em;margin-left: 10px;margin-right: 10px;"
                    class="ui-button-success"></button>
                <button pButton type="button" label="إلغاء"
                    style="margin-bottom:10px; padding: 0.5em;margin-right: 10px;" class="ui-button-danger"></button>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
        </div>


    </div>
    <div style="text-align: center;"  >
        
    <div class="card" *ngIf="isSaved">
    
        <app-next-document [childId]="enfantLocal?.id"></app-next-document>
    </div>
        <div  class="card" *ngIf="isSaved">
    
            <app-show-transfert   [transfert]="transfert"></app-show-transfert>       
        </div>

       
    </div>
    
 
</div>








<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
 
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->


<p-dialog header="دليل المحاكم" [(visible)]="displayTribunalTransfere" modal="true" showEffect="fade">

    <div style="width: 1200px;  min-height: 400px;">
        <p-table [value]="entitiesTribunal" #dtTribunalTransfere selectionMode="single" [paginator]="true" [rows]="5"
        paginatorPosition="top" [rowsPerPageOptions]="[5,10,20,50]"   [globalFilterFields]="['id','nom_tribunal' ]">
            <ng-template pTemplate="caption">

                <div class="p-grid">
                    <div class="p-col">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder=" بحث"
                            (input)="dtTribunalTransfere.filterGlobal($event.target.value, 'contains')" style="width:300px">
    
                    </div>
                    <div class="p-col">
                        <p-multiSelect    [options]="gouvernoratSwich" [filter]="true"  
                        [style]="{'width':'100%', 'margin-top':'0'}"   emptyFilterMessage="لا تيوجد نتيجية "
                        defaultLabel="قائمة الولايات " selectedItemsLabel="{0} ولايات" appendTo="body"  
                         (onChange)="dtTribunalTransfere.filter($event.value,'gouvernorat.libelle_gouvernorat', 'in')">
                        <ng-template let-group pTemplate="item">
                          <div class="item">
                              <span  >{{group.label}}</span>
                             </div>
                           
                     </ng-template>
                     
                     </p-multiSelect> 
                    </div>
                    <div class="p-col">
                        <p-multiSelect    [options]="typeTribunalSwich" [filter]="true"  
                        [style]="{'width':'100%', 'margin-top':'0'}"   emptyFilterMessage="لا تيوجد نتيجية "
                        defaultLabel="قائمة  أنواع المحاكم " selectedItemsLabel="{0}  أنواع المحاكم" appendTo="body"  
                         (onChange)="dtTribunalTransfere.filter($event.value,'typeTribunal.libelleTypeTribunal', 'in')">
                        <ng-template let-group pTemplate="item">
                          <div class="item">
                              <span  >{{group.label}}</span>
                             </div>
                           
                     </ng-template>
                     
                     </p-multiSelect>
                    </div>
                    </div>

            </ng-template>
            <ng-template pTemplate="header">
                <tr>

                    <th style="width: 10%;"  pSortableColumn="id" >الرمز
                        <p-sortIcon field="id"></p-sortIcon>
                    </th>


                    <th  style="width: 80%;" pSortableColumn="nom_tribunal" > المحكمة
                        <p-sortIcon field="nom_tribunal"></p-sortIcon>

                    </th>

                    <th  style="width: 10%;"> إدراج


                    </th>


                </tr>
                <tr > 
         
                    <th     >     
                        <input   pInputText type="text" placeholder="يبدأ بـــــــــــ" class="ui-column-filter" style="width: 100%; margin-top: 0;" (input)="dtTribunalTransfere.filter($event.target.value, 'id', 'startsWith')">
                                     
                 </th>
                    <th    >    
                        <input   pInputText type="text" placeholder=" يبدأ بـــــــــــ" class="ui-column-filter" style="width: 100%; margin-top: 0;" (input)="dtTribunalTransfere.filter($event.target.value, 'nom_tribunal', 'startsWith')">
                                     
                 </th> 
              
                    
                    <th style="width: 10%;" >
                      
                   </th>
                   
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>


                    <td> <b style="font-size:18px;">{{row.id}}</b></td>


                    <td> <b style="font-size:18px;">{{row.nom_tribunal}} </b></td>


                    <td>
                        <p-button icon="pi pi-plus" (click)=saveTribunalTransfere(row)>
                        </p-button>


                    </td>


                </tr>
            </ng-template>
        </p-table>
    </div>

</p-dialog>


<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->







<p-dialog header="قائمة القضايا التي يمكنك إحالتها  "  [(visible)]="displayAffaire"  modal="true" showEffect="fade" [style]="{ 'border-radius': '1%',  
'-moz-box-shadow': '0px 2px 2px rgba(0, 0, 0, 0.966)',
'-webkit-box-shadow': '0px 2px 2px rgba(0, 0, 0, 0.966)',
'box-shadow':' 0px 2px 2px rgba(0, 0, 0, 0.966)','background-image': 'url(assets/layout/images/cart.jpg)' }">

    <div style="width: 1200px;">
        <p-table [value]="affaires" #dtAffaire selectionMode="single" [paginator]="true" [rows]="5"
        
            [globalFilterFields]="['id','nom_tribunal' ]">
            <ng-template pTemplate="caption">

                <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder=" بحث"
                         style="width:300px">

                </div>

            </ng-template>
            <ng-template pTemplate="header">
                <tr>

                    <th style="width: 150px;"> العدد الرتبي للقضية </th>
                    <th style="width: 150px;"> الوثيقة الجارية   </th>
                    <th style="width: 150px;"> عدد القضية </th>
                    <th> المحكمة </th>

                    <th style="width: 100px;"> إدراج


                    </th>


                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>


                    <td> <b style="font-size:16px;">{{row.numOrdinalAffaire}}</b></td>
                    <!-- <td *ngIf="row.typeDocument == 'CP' " style="color:  #0099ff!important;"> <b style="font-size:16px;">  قرار تمديد </b></td>
                                     
                    <td *ngIf="row.typeDocument == 'CD' " style="color:  #0099ff!important;"> <b style="font-size:16px;">بطاقة إيداع</b></td>
                    <td *ngIf="row.typeDocument == 'CH' " style="color: #0099ff!important;"> <b style="font-size:16px;">بطاقة إيواء</b></td>
                
                    <td *ngIf="row.typeDocument == 'T' " style="color:  #0099ff!important;"> <b style="font-size:16px;">إحالة</b></td>
                    <td *ngIf="row.typeDocument == 'AE' " style="color:  #0099ff!important;"> <b style="font-size:16px;"> طعن الطفل بالاستئناف </b></td>
                    <td *ngIf="row.typeDocument == 'AP' " style="color:  #0099ff!important;" > <b style="font-size:16px;">طعن النيابة بالاستئناف</b>  </td>
                    <td *ngIf="row.typeDocument == 'CJ'  || row.typeDocument == 'CJA' " style="color:  #ff3434!important;" > <b style="font-size:16px;">مضمون حكم    </b>  </td>
                    <td *ngIf="row.typeDocumentActuelle == 'CHL' "  style="color: rgb(1, 151, 1) !important;" >  <b style="font-size:16px;" >  قرار تغير مكان الإيداع  </b> </td> -->
                   
<td *ngIf="row.typeDocumentActuelle == 'CHL' else typeDocument" style="color: rgb(1, 151, 1) !important;"> <b
        style="font-size:16px;"> قرار تغير مكان الإيداع </b> </td>

<ng-template #typeDocument>
    <td *ngIf="row.typeDocument == 'CP' " style="color:  #0099ff!important;"> <b style="font-size:16px;"> قرار تمديد </b>
    </td>
    
    <td *ngIf="row.typeDocument == 'CD' " style="color:  #0099ff!important;"> <b style="font-size:16px;">بطاقة إيداع</b>
    </td>
    <td *ngIf="row.typeDocument == 'CH' " style="color: #0099ff!important;"> <b style="font-size:16px;">بطاقة إيواء</b></td>
    
    <td *ngIf="row.typeDocument == 'T' " style="color:  #0099ff!important;"> <b style="font-size:16px;">إحالة</b></td>
    <td *ngIf="row.typeDocument == 'AE' " style="color:  #0099ff!important;"> <b style="font-size:16px;"> طعن الطفل
            بالاستئناف </b></td>
    <td *ngIf="row.typeDocument == 'AP' " style="color:  #0099ff!important;"> <b style="font-size:16px;">طعن النيابة
            بالاستئناف</b> </td>
    <td *ngIf="row.typeDocument == 'CJ'  || row.typeDocument == 'CJA' " style="color:  #ff3434!important;"> <b
            style="font-size:16px;">مضمون حكم </b> </td>
</ng-template>

                    <td> <b style="font-size:16px;">{{row.affaireId.numAffaire}} </b></td>
                    <td> <b style="font-size:16px;">{{row.tribunal.nom_tribunal}} </b></td>


                    <td >

                    
                        <button  pButton icon="pi pi-plus"  label="إحالة" style="background-color: #66a266;"  (click)=saveAffaire(row)>
                        </button>
                       

                    </td>


                </tr>
            </ng-template>
        </p-table>
    </div>

</p-dialog>


 











<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->




















<p-dialog modal="true" *ngIf="enfantLocal" header="صورة: {{enfantLocal.nom}} {{enfantLocal.prenom}}  "
    [(visible)]="displayImg" showEffect="fade">


    <img src="{{enfantLocal.img}}" class="profile-img-card">

    <div style="text-align: center;">
        <button pButton (click)="displayImg=!displayImg;" type="button" icon="pi pi-times" label="إخفاء الصورة"
            style="color: red;background-color: transparent;"></button>

    </div>



</p-dialog>



<p-dialog [style]="{width: '30vw'}"  [(visible)]="displayAlertOrigineExist" modal="true" [baseZIndex]="10000">


    <p-header>
       تنبيه
    </p-header>

    
       <span class="alert" style="color: red; font-size: 18px;"> هذه القضية موجودة    بملف الطفل     </span> 

     
      
    
      
    



    <p-footer>
       <div style="text-align: center;">
         
          <button pButton type="button" label="واضح" style="margin-right: 2px;" class="ui-button-danger"
             (click)="displayAlertOrigineExist = false; "></button>
          <!-- <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text"></p-button> -->
       </div>
    </p-footer>
 </p-dialog>


 <p-dialog [style]="{width: '80vw', height: '30vw' , 'background-color': 'white' , 'background-image': 'url(assets/layout/images/bg.png)'}" 
 [closable]="false"
                                         [(visible)]="showTransfert"
                                                                 modal="true"  >
   <p-header style="color: red; font-family: 'Amiri', Times, serif;"  > هل ترغب في   تأكيد التسجيل؟   الرجاء التثبث من المعطيات, أنت تضمن دقة البيانات المقدمة: </p-header>
   
    
   <app-show-transfert   [transfert]="transfert"></app-show-transfert>                                                         
   <p-footer>
       <div style="text-align: center;">
 
          
             <button  (click)="confirmer()"
             style="background-color: #28a745!important;" mat-fab  >
                <i class="pi pi-save" style="font-size: 30px; color: white;" > </i>
         
         
            </button>
            <button (click)="showTransfert = false"
            style="background-color: rgba(255, 0, 0, 0.822)!important; margin-right: 20px;" mat-fab  >
               <i class="pi pi-power-off" style="font-size: 30px; color: white;" > </i>
         
         
           </button>
       </div>
    </p-footer>
 </p-dialog>


  