   
        
        
        <p-card [style]="{ 'height': 'auto', 'width':'800px' ,   'margin-left': 'auto' , 'margin-right':'auto'  , 
        '-moz-box-shadow': '0px 2px 2px #8a2225','margin-top': '5px',
        '-webkit-box-shadow': '0px 2px 2px #8a2225', 
        'box-shadow':' 0px 2px 2px #8a2225','background-image': 'url(assets/layout/images/cart.jpg)' }">
        <mat-tab-group mat-align-tabs="center" animationDuration="100ms"   backgroundColor ="secondary">

   
           
        
            <mat-tab>
                <ng-template mat-tab-label >
                    <h1 > الهوية العربية      </h1>
        
                </ng-template>
                
                
                <form [formGroup]="addForm1" style="margin-top: 50px; margin-right: 10px; ">
                <div class="p-grid"   style="width: 95%;"   >
                   
                    <div class="p-col-12 p-md-2">
                        <h2>الإسم *</h2>
         
                    </div>
                    <div   class="p-col-12 p-md-4">
            
                        <input  id="input" formControlName="nom" type="text" pInputText />
                    </div>
                    <div class="p-col-12 p-md-2">
                        <h2>اللقب *</h2>
            
                    </div>
                    <div class="p-col-12 p-md-4">
            
                        <input id="input" formControlName="prenom" type="text" pInputText />
                    </div>
                    <div class="p-col-12 p-md-2">
                        <h2>إسم الأب</h2>
            
                    </div>
                    <div class="p-col-12 p-md-4">
            
                        <input id="input" formControlName="nomPere" type="text" pInputText />
                    </div>
                    <div class="p-col-12 p-md-2">
                        <h2>إسم الجد</h2>
            
                    </div>
                    <div class="p-col-12 p-md-4">
            
                        <input id="input" formControlName="nomGrandPere" type="text" pInputText />
                    </div>
                    <div class="p-col-12 p-md-2">
                        <h2>إسم الأم</h2>
            
                    </div>
                    <div class="p-col-12 p-md-4">
            
                        <input id="input" formControlName="nomMere" type="text" pInputText />
                    </div>
                    <div class="p-col-12 p-md-2">
                        <h2>لقبها</h2>
            
                    </div>
                    <div class="p-col-12 p-md-4">
            
                        <input id="input" formControlName="prenomMere"  type="text" pInputText />
                    </div>
                    <div class="p-col-12 p-md-2">
                        <h2>تاريخ الولادة</h2>
            
                    </div>
                    <div class="p-col-12 p-md-4" style="width: 235px;" >
                        <p-inputMask   required mask="99/99/9999"   
                        slotChar="--/--/----"></p-inputMask>
                       
                    </div>
                    <div class="p-col-12 p-md-2">
                       <h2> الجنس *</h2> 
      
                     </div>
                    <div style="margin-right: 40px;"  class="p-grid">
                        <div class="p-col-4">
                           <h2>
                              <p-radioButton name="rg" formControlName="sexe"  value="ذكر">
      
                              </p-radioButton>
                              ذكر
                           </h2>
                        </div>
                        <div class="p-col-4">
      
                        </div>
                        <div class="p-col-4">
                           <h2>
                              <p-radioButton name="rg" formControlName="sexe" value="أنثى">
      
                              </p-radioButton>
                              أنثى
                           </h2>
                        </div>
      
                     </div>
                     <br>
                     <br>
                     <br>
                     <br>
                    <div class="p-col-12 p-md-12" style="text-align: center;">
                        <button (click)="onSubmitAddForm1()" style="background-color: #28a745!important;" mat-fab  aria-label="Example icon button with a home icon">
                            <i class="pi pi-search" style="font-size: 25px;"></i>
                          </button>
                    <!-- <button pButton type="button" class="ui-button-success"    style="width: 50%; border-radius: 10%; color: black; " icon="pi pi-search"  (click)="onSubmitAddForm1()"    > </button> -->
                </div>
                </div>
            </form>
            </mat-tab>
            <mat-tab>
                <br>
                
                <ng-template mat-tab-label>
                    <h1  > المعرف الجزائي        </h1>
        
                </ng-template>
                 
                <div class="p-grid " style="width: 95%; text-align: center; margin-top: 50px;"   >
                    <div class="p-col-12 p-md-4">
                        <h2>معرف الطفل *</h2>
            
                    </div>
                    <div class="p-col-12 p-md-8">
            
                        <input [(ngModel)]="id" id="input" type="text" pInputText />
                    </div>
                    <!-- <div class="p-col-12 p-md-4">
                        <h2>عدد الإيقاف</h2>
            
                    </div>
                    <div class="p-col-12 p-md-8">
            
                        <input id="input" type="text" pInputText />
                    </div> -->
                 
                     
                     
                     <br>
                     <br>
                     <br>
                     <br>
                     <br>
                     
                    <div class="p-col-12 p-md-12" style="text-align: center;">
                         <button (click)="onSubmitId()" style="background-color: #28a745!important;" mat-fab  aria-label="Example icon button with a home icon">
                            
                            <i class="pi pi-search" style="font-size: 25px;"></i>
                          </button>
                    </div>
                </div>
        
            </mat-tab>
        </mat-tab-group>
 
 
 
  
 
     </p-card >
    