<div class="container" dir="rtl">
   <p-toast key="tst" [style]="{marginTop: '150px'}"></p-toast>
   <p-table [value]="users" [style]="tableStyle" id="dt" #dt dataKey="numOrdinale" paginator
      [rowsPerPageOptions]="[5, 10, 20, 50]" [paginator]="true" [rows]="10" [globalFilterFields]="['id', 'personelleId', 'fullName', 'personelle?.prenom', 
                                     'username', 'personelle?.fonction?.libelle_fonction', 
                                     'personelle?.etablissement?.libelle_etablissement', 'roleName' ]">

      <!-- Table Caption -->
      <ng-template pTemplate="caption">
         <div class="table-header">

            <input type="text" pInputText placeholder="كلمــــــــــة مفتــــــــــاح"
               (input)="dt.filterGlobal($event.target.value, 'contains')" />
         </div>
      </ng-template>

      <!-- Table Header -->
      <ng-template pTemplate="header">
         <tr>
            <th pSortableColumn="id" style="width: 50px;"> معـــرف ألـــي <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="personelleId" style="width: 50px;"> رقـــم الإداري <p-sortIcon
                  field="personelleId"></p-sortIcon></th>
            <th pSortableColumn="fullName">الهويـــة <p-sortIcon field="fullName"></p-sortIcon></th>
            <th pSortableColumn="telephone">رقم الهاتف <p-sortIcon field="telephone"></p-sortIcon></th>

            <th pSortableColumn="lastPasswordModifiedDate" style="width: 200px;"> تاريخ آخر تغيير لكلمة السر <p-sortIcon
                  field="lastPasswordModifiedDate"></p-sortIcon></th>
            <th pSortableColumn="lastLogin" style="width: 200px;"> تاريخ آخر دخول <p-sortIcon
                  field="lastLogin"></p-sortIcon></th>
            <th pSortableColumn="username">إســـم المستعمـــل <p-sortIcon field="username"></p-sortIcon></th>
            <th pSortableColumn="roleName" style="width: 10%;">المهــــام
               <p-sortIcon field="roleName"></p-sortIcon>
            </th>
            <th pSortableColumn="etablissement">
               المؤسســـة
               <p-sortIcon field="etablissement"></p-sortIcon>
            </th>



            <th><button mat-fab (click)="addUser()" class="add-btn"><i class="pi pi-plus"></i></button></th>
         </tr>
      </ng-template>

      <!-- Table Body -->
      <ng-template pTemplate="body" let-user>
         <tr
            [ngStyle]="isLoginExpired(user ) ? {'background-color': '#f8d7da', 'color': '#721c24'} : {'background-color': '#fff', 'color': '#000'}">
       

            <td>{{user?.id}}</td> <!-- معرف آلي -->
            <td><b>{{user?.personelleId}}</b></td> <!-- رقم إداري -->
            <td>{{user?.fullName}}</td> <!-- الهوية -->
            <td>{{user?.telephone}}</td> <!-- رقم الهاتف -->
            <td>{{user?.lastPasswordModifiedDate | date:'HH:mm yyyy-MM-dd'}}</td> <!-- تاريخ آخر تغيير لكلمة السر -->
            <td>{{user?.lastLogin | date:'HH:mm yyyy-MM-dd'}}</td> <!-- تاريخ آخر دخول -->
            <td>{{user?.username}}</td> <!-- اسم المستعمل -->
            <td>{{user?.roleName}}</td> <!-- المهام -->
            <td>{{user?.etablissement}}</td> <!-- المؤسسة -->
            <td *ngIf="user?.id != 41">
               <button mat-mini-fab (click)="editUser(user)" class="edit-btn"><i class="pi pi-pencil"></i></button>
               <button mat-mini-fab (click)="deleteUser(user)" class="delete-btn" style="margin-right: 10px;"><i
                     class="pi pi-trash"></i></button>
            </td>
         </tr>

      </ng-template>
   </p-table>

   <!-- Dialog for Adding User -->
   <p-dialog dir="rtl" [(visible)]="displayAddUser" [closable]="false" [modal]="true">
      <p-header>
         <div class="dialog-header">
            <span>إدراج مستعمل جديد</span>
         </div>
      </p-header>
      <app-add-user [user]="selectedUser" (closeEvent)="close($event)"></app-add-user>

   </p-dialog>


   <p-dialog dir="rtl" [(visible)]="displayDeleteUser" [closable]="false" [modal]="true">
      <p-header>
         <div class="dialog-header">
            <span>تنبيه</span>
         </div>
      </p-header>
      <div class="dialog-content">
         <h1 style="color: red;">هل أنت متأكد من الحذف ؟</h1>
         <table>
            <tr>
               <th> معـــرف ألـــي </th>
               <th> رقـــم الإداري </th>
               <th>الهويـــة </th>
               <th>إســـم المستعمـــل </th>
               <th>المهــــام

               </th>
               <th>
                  المؤسســـة

               </th>



            </tr>
            <tr>
               <td>{{selectedUser?.id}}</td>
               <td>{{selectedUser?.personelleId}}</td>
               <td>{{selectedUser?.fullName}} </td>
               <td>{{selectedUser?.username}}</td>
               <td>{{selectedUser?.roleName}}</td>


               <td>{{selectedUser?.etablissement}}</td>

               <td>
                  <button (click)="closeDelete()" style="background-color: white!important;" mat-fab>
                     <i class="pi pi-undo" style="font-size: 30px; font-weight: bolder; color:green;"> </i>


                  </button>

                  <button (click)="delete()"
                     style="background-color: rgba(255, 0, 0, 0.822)!important; margin-right: 20px;" mat-fab>
                     <i class="pi pi-trash" style="font-size: 30px; color: white;"> </i>


                  </button>
               </td>
            </tr>
         </table>

      </div>
   </p-dialog>

</div>