<div class="container" dir="rtl">
   <!-- Table Section -->
   <p-table [value]="users" [style]="tableStyle" id="dt" #dt dataKey="numOrdinale" paginator
      [rowsPerPageOptions]="[5, 10, 20, 50]" [paginator]="true" [rows]="10" [globalFilterFields]="['id', 'personelleId', 'fullName', 'personelle?.prenom', 
                                     'username', 'personelle?.fonction?.libelle_fonction', 
                                     'personelle?.etablissement?.libelle_etablissement', 'roleName' ]">

      <!-- Table Caption -->
      <ng-template pTemplate="caption">
         <div class="table-header">
            
            <input type="text" pInputText placeholder="كلمــــــــــة مفتــــــــــاح"
               (input)="dt.filterGlobal($event.target.value, 'contains')" />
         </div>
      </ng-template>

      <!-- Table Header -->
      <ng-template pTemplate="header">
         <tr>
            <th pSortableColumn="id" > معـــرف ألـــي <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="personelleId" > رقـــم الإداري <p-sortIcon field="personelleId"></p-sortIcon></th>
            <th pSortableColumn="fullName" >الهويـــة <p-sortIcon field="fullName"></p-sortIcon></th>
            <th pSortableColumn="username" >إســـم المستعمـــل <p-sortIcon field="username"></p-sortIcon></th>
            <th pSortableColumn="roleName" style="width: 10%;">المهــــام
               <p-sortIcon field="roleName"></p-sortIcon>  
            </th>
         <th pSortableColumn="etablissement">
            المؤسســـة
            <p-sortIcon field="etablissement"></p-sortIcon>
         </th>

           
           
            <th><button mat-fab (click)="addUser()" class="add-btn"><i class="pi pi-plus"></i></button></th>
         </tr>
      </ng-template>

      <!-- Table Body -->
      <ng-template pTemplate="body" let-user>
         <tr>
            <td>{{user?.id}}</td>
            <td>{{user?.personelleId}}</td>
            <td>{{user?.fullName}} </td>
            <td>{{user?.username}}</td>
            <td>{{user?.roleName}}</td>
            
            
            <td>{{user?.etablissement}}</td>
            <td>
               <button mat-mini-fab (click)="editUser(user)"  class="edit-btn"><i class="pi pi-pencil"></i></button>
            </td>
         </tr>
      </ng-template>
   </p-table>

   <!-- Dialog for Adding User -->
   <p-dialog dir="rtl" [(visible)]="displayAddUser" [closable]="false" [modal]="true">
      <p-header>
         <div class="dialog-header">
            <span>إدراج مستعمل جديد</span>
         </div>
      </p-header>
      <app-add-user [user]="selectedUser" (closeEvent)="close($event)"></app-add-user>
   </p-dialog>
</div>