th{
    font-family: 'Amiri', Times, serif;
    font-weight: bold;
    font-size: 20px;
 }
 input,span{
   
   font-weight: bold;
   font-size: 16px;
}
 html {
   scroll-behavior: smooth;
 }
 .item{
  text-align: right;
  font-family: 'Amiri', Times, serif;
  font-size: 18px;
  font-weight: bold;
  
 
 }
 
 
 td{
   font-family: 'Amiri', Times, serif;
   font-weight: 700;
   font-size: 18px;
   color: black;
   text-align: center;
}
 h2{
    font-family: 'Amiri', Times, serif;
    font-weight: bold;
    color: black;
 }
 h1{
    color: #015ac7 !important;
         font-family: 'Amiri', Times, serif;        
   
        font-weight: bold;
  }

 

 