<div class="wrapper">

  
  <!-- Carte 2 : تعقيب -->
  <div class="card">
    <div class="inner">
      <label class="titre">تعقيب</label>
      <img src="assets/layout/images/feedback-loop.png" class="image-adjust" />
      <p-inputMask [style]="{'font-weight': '700', 'font-size': '20px', 'color': 'black', 'margin-top': '15px'}"
        dir="rtl" [(ngModel)]="idObservation" mask="99999999" slotChar="----------" (keyup.enter)="dirObservation()"
        placeholder="معرف الطفل">
      </p-inputMask>
    </div>
  </div>
  <!-- Carte 4 : إستئناف النيابة -->
  <div class="card">
    <div class="inner">
      <label class="titre">إستئناف النيابة</label>
      <img src="assets/layout/images/judge123.png" class="image-adjust" />
      <p-inputMask [style]="{'font-weight': '700', 'font-size': '20px', 'color': 'black', 'margin-top': '15px'}" dir="rtl"
        [(ngModel)]="idAppelParquet" mask="99999999" slotChar="----------" (keyup.enter)="dirAppelParquet()"
        placeholder="معرف الطفل">
      </p-inputMask>
    </div>
  </div>
  <!-- Carte 3 : إستئناف الطفل -->
  <div class="card">
    <div class="inner">
      <label class="titre">إستئناف  </label>
      <img src="assets/layout/images/justice123.png" class="image-adjust" />
      <p-inputMask [style]="{'font-weight': '700', 'font-size': '20px', 'color': 'black', 'margin-top': '15px'}"
        dir="rtl" [(ngModel)]="idAppelEnfant" mask="99999999" slotChar="----------" (keyup.enter)="dirAppelEnfant()"
        placeholder="معرف الطفل">
      </p-inputMask>
    </div>
  </div>

<!-- Carte 1 : إعتراض -->
<div class="card">
  <div class="inner">
    <label class="titre">إعتراض</label>
    <img src="assets/layout/images/right-to-objection.png" class="image-adjust" />
    <p-inputMask [style]="{'font-weight': '700', 'font-size': '20px', 'color': 'black', 'margin-top': '15px'}" dir="rtl"
      [(ngModel)]="idOpposition" mask="99999999" slotChar="----------" (keyup.enter)="dirOpposition()"
      placeholder="معرف الطفل">
    </p-inputMask>
  </div>
</div>


</div>