<p-toast key="tst" [style]="{marginTop: '150px'}"></p-toast>

<div class="wrapper">

    <!-- Carte 1 -->
    <div class="card">
        <div class="inner">
            <label class="titre">إيقاف تنفيذ/ سراح</label>
            <img src="assets/layout/images/timbre.png" class="image-adjust" />
            <p-inputMask [style]="{'font-weight': '700', 'font-size': '20px', 'color': 'black', 'margin-top': '15px'}"
                dir="rtl" [(ngModel)]="idArreterLexecution" mask="99999999" slotChar="--------"
                (keyup.enter)="dirArreterLexecution()" placeholder="معرف الطفل">
            </p-inputMask>
        </div>
    </div>

    <!-- Carte 2 -->
    <div class="card">
        <div class="inner">
            <label class="titre">إحالة / تخلي/ تعهد</label>
            <img src="assets/layout/images/transfert-de-donnees.png" class="image-adjust" />
            <p-inputMask [style]="{'font-weight': '700', 'font-size': '20px', 'color': 'black', 'margin-top': '15px'}"
                dir="rtl" [(ngModel)]="idTansfert" mask="99999999" slotChar="----------" (keyup.enter)="dirTansfert()"
                placeholder="معرف الطفل">
            </p-inputMask>
        </div>
    </div>

    <!-- Carte 3 -->
    <div class="card">
        <div class="inner">
            <label class="titre">مضامين الأحكام</label>
            <img src="assets/layout/images/document-legal.png" class="image-adjust" />
            <p-inputMask [style]="{'font-weight': '700', 'font-size': '20px', 'color': 'black', 'margin-top': '15px'}"
                dir="rtl" [(ngModel)]="idCarteRecup" mask="99999999" slotChar="----------"
                (keyup.enter)="dirCarteRecup()" placeholder="معرف الطفل">
            </p-inputMask>
        </div>
    </div>

    <!-- Carte 4 -->
    <div class="card">
        <div class="inner">
            <label class="titre">بطاقات الإيداع</label>
            <img src="assets/layout/images/rapport-de-police.png" class="image-adjust" />
            <p-inputMask [style]="{'font-weight': '700', 'font-size': '20px', 'color': 'black', 'margin-top': '15px'}"
                dir="rtl" [(ngModel)]="idCarteDepot" mask="99999999" slotChar="----------"
                (keyup.enter)="dirCarteDepot()" placeholder="معرف الطفل">
            </p-inputMask>
        </div>
    </div>

    <!-- Carte 5 -->
    <div class="card">
        <div class="inner">
            <label class="titre">بطاقات الإيواء</label>
            <img src="assets/layout/images/document123.png" class="image-adjust" />
            <p-inputMask [style]="{'font-weight': '700', 'font-size': '20px', 'color': 'black', 'margin-top': '15px'}"
                dir="rtl" [(ngModel)]="idHeber" mask="99999999" slotChar="----------" (keyup.enter)="dirHeber()"
                placeholder="معرف الطفل">
            </p-inputMask>
        </div>
    </div>

</div>

<!-- Message central -->
<div style="text-align: center; margin-top: 50px;" *ngIf="isExist">
    <h1 style="color: crimson; font-family: 'Amiri', Times, serif;">{{msg}}</h1>
</div>