

<p-toast key="tst" [style]="{marginTop: '150px'}"></p-toast>
<div  style=" margin-bottom: 60px;">
<div class="wrapper" >
    <div class="card">
        <input type="checkbox" id="card7" class="more">
        <div class="content">
            <div class="front"    >
                <div class="inner">
                   
                  <img src="assets/layout/images/house.png"  style="width: 130px; margin-top: 15px;" />
                    <label for="card7" class="button" aria-hidden="true">
                        قرار تغير مكان الإيداع
                    </label>
                </div>
            </div>
            <div class="back">
              <div class="inner" >
                      
                    
                <div  class="p-grid"  dir="rtl" style="margin-top: 50px;" >
                    
                   
        
                        <h1 class="info">    معرف الطفل : </h1>
         
                       <!-- <input   type="number" min="10"  [(ngModel)]="idRevue"     (keyup.enter)="dirRevue()" pInputText>  -->
                     
                       <p-inputMask [style]="{'font-weight': '700' ,'font-size': '20px','color': 'black'}"
                       dir="rtl"    [(ngModel)]="idChangementLieu" mask="99999999" slotChar="----------"
                       (keyup.enter)="dirChangementLieu()"      placeholder=" عدد  ">
                       </p-inputMask>
                    
        
                    
        
        
        
                </div>
                
                 
                <label for="card7" class="button return" aria-hidden="true">
                   
                    <i class="pi pi-arrow-left"  > قرار تغير مكان الإيداع </i>
                </label>
            </div>
  
  
                
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card6" class="more">
        <div class="content">
            <div class="front"    >
                <div class="inner">
                   
                  <img src="assets/layout/images/dashboard/icon-internship.svg"  style="width: 110px; margin-top: 15px;" />
                    <label for="card6" class="button" aria-hidden="true" style="width: max-content;">
                        المراجعة / رفض المراجعة
                    </label>
                </div>
            </div>
            <div class="back">
              <div class="inner" >
                      
                    
                <div  class="p-grid"  dir="rtl" style="margin-top: 50px;" >
                    
                   
        
                        <h1 class="info">    معرف الطفل : </h1>
         
                       <!-- <input   type="number" min="10"  [(ngModel)]="idRevue"     (keyup.enter)="dirRevue()" pInputText>  -->
                     
                       <p-inputMask [style]="{'font-weight': '700' ,'font-size': '20px','color': 'black'}"
                       dir="rtl"    [(ngModel)]="idRevue" mask="99999999" slotChar="----------"
                       (keyup.enter)="dirRevue()"      placeholder=" عدد  ">
                       </p-inputMask>
                    
        
                    
        
        
        
                </div>
                
                 
                <label for="card6" class="button return" aria-hidden="true">
                   
                    <i class="pi pi-arrow-left"  >   المراجعة / رفض المراجعة</i>
                </label>
            </div>
  
  
                
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card2" class="more">
        <div class="content">
            <div class="front"  >
                <div class="inner">
                   
                    
                        <img src="assets/layout/images/slavery.png"  style="width: 135px; margin-top: 20px;" />
                     
                    <label for="card2" class="button" aria-hidden="true">
                        السراح / تغير وسيلة
                    </label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    
                    <div  class="p-grid"  dir="rtl" style="margin-top: 50px;" >
                        
                       
            
                        <h1 class="info">    معرف الطفل : </h1>
         
                       <!-- <input   type="number" min="10" [(ngModel)]="idLiberation"  (keyup.enter)="dirLiberation()"  pInputText>  -->
                     
                     
                       <p-inputMask [style]="{'font-weight': '700' ,'font-size': '20px','color': 'black'}"
                       dir="rtl"    [(ngModel)]="idLiberation" mask="99999999" slotChar="----------"
                       (keyup.enter)="dirLiberation()"      placeholder=" عدد  ">
                       </p-inputMask>
        
                    
        
        
        
                </div>
                
                 
                <label for="card2" class="button return" aria-hidden="true">
                   
                    <i class="pi pi-arrow-left"  >   السراح / تغير وسيلة</i>
                </label>
                     
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card5" class="more">
        <div class="content">
            <div class="front"  >
                <div class="inner">
                   
                    <img src="assets/layout/images/timing.png"  style="width: 145px; margin-top: 15px;" />
                    <label for="card5" class="button" aria-hidden="true">
                        قرار تمديد 
                    </label>
                </div>
            </div>
            <div class="back"   >
                <div class="inner" >
                    
                  
                    <div  class="p-grid"  dir="rtl" style="margin-top: 50px;" >
                        
                       
            
                            <h1 class="info">    معرف الطفل : </h1>
             
                           <!-- <input   type="number" min="10" [(ngModel)]="idEchappes" (keyup.enter)="dirEchappes()" pInputText>    -->
                           <!-- <button  dir="rtl" style="background-color: #8a2225;" type="button" icon="pi pi-check" pButton></button> -->

                           <p-inputMask [style]="{'font-weight': '700' ,   'font-size': '20px','color': 'black'}"
                           dir="rtl"    [(ngModel)]="idPropagation" mask="99999999" slotChar="----------"
                           (keyup.enter)="dirPropagation()"      placeholder=" عدد  ">
                           </p-inputMask>
                            
                    </div>
                    
                     
                    <label for="card5" class="button return" aria-hidden="true">
                       
                        <i class="pi pi-arrow-left">    قرار تمديد </i>
                    </label>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="wrapper" > 
        <div class="card">
            <input type="checkbox" id="card1" class="more" aria-hidden="true">
            <div class="content"  >
             
                <div class="front"  >
                    <div class="inner">
                       
                        
                        <img src="assets/layout/images/death.png"  style="width: 55%; margin-top: 15px; " />
                     
                    <label for="card1" class="button" aria-hidden="true">
                        الوفاة
                    </label>
                </div>
                </div>
                <div class="back"   >
                    <div class="inner">
                        <div  class="p-grid"  dir="rtl" style="margin-top: 50px;" >
                            
                           
                
                            <h1 class="info">    معرف الطفل : </h1>
             
                           <!-- <input   type="number" min="10"  [(ngModel)]="idDeces"   (keyup.enter)="dirDeces()"  pInputText>  -->
                         
                           <p-inputMask [style]="{'font-weight': '700' ,'font-size': '20px','color': 'black'}"
                           dir="rtl"    [(ngModel)]="idDeces" mask="99999999" slotChar="----------"
                           (keyup.enter)="dirDeces()"      placeholder=" عدد  ">
                           </p-inputMask>
                        
            
                        
            
            
            
                    </div>
                    
                     
                    <label for="card1" class="button return" aria-hidden="true">
                       
                        <i class="pi pi-arrow-left"  >  الوفاة</i>
                    </label>
                         
                    </div>
                </div>
            </div>
        </div>
  
    <div class="card">
        <input type="checkbox" id="card4" class="more">
        <div class="content">
            <div class="front"  >
                <div class="inner">
                   
                    <img src="assets/layout/images/T.png"  style="width: 125px; margin-top: 20px;" />
                    <label for="card4" class="button" aria-hidden="true">
                        الفرار / إلقاء القبض 
                    </label>
                </div>
            </div>
            <div class="back"   >
                <div class="inner" >
                    
                  
                    <div  class="p-grid"  dir="rtl" style="margin-top: 50px;" >
                        
                       
            
                            <h1 class="info">    معرف الطفل : </h1>
             
                           <!-- <input   type="number" min="10" [(ngModel)]="idEchappes" (keyup.enter)="dirEchappes()" pInputText>    -->
                           <!-- <button  dir="rtl" style="background-color: #8a2225;" type="button" icon="pi pi-check" pButton></button> -->

                           <p-inputMask [style]="{'font-weight': '700' ,   'font-size': '20px','color': 'black'}"
                           dir="rtl"    [(ngModel)]="idEchappes" mask="99999999" slotChar="----------"
                           (keyup.enter)="dirEchappes()"      placeholder=" عدد  ">
                           </p-inputMask>
                            
                    </div>
                    
                     
                    <label for="card4" class="button return" aria-hidden="true">
                       
                        <i class="pi pi-arrow-left">    الفرار / إلقاء القبض </i>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card3" class="more">
        <div class="content">
            <div class="front"  >
                <div class="inner">
                   
                    <img src="assets/layout/images/M.png"  style="width: 180px; margin-top: -20px;" />
                    
                    <label for="card3" class="button" aria-hidden="true">
                        النقل /  الإستقبال
                    </label>
                </div>
            </div>
            <div class="back">


                <div class="inner" >
                    
                  
                    <div  class="p-grid"  dir="rtl" style="margin-top: 50px;" >
                        
                       
            
                            <h1 class="info">    معرف الطفل : </h1>
             
                           <!-- <input   type="number" min="10" [(ngModel)]="idMutation"   (keyup.enter)="dirMutation()" pInputText>  -->
                         
                         
                           <p-inputMask [style]="{'font-weight': '700' ,'font-size': '20px','color': 'black'}"
                           dir="rtl"    [(ngModel)]="idMutation" mask="99999999" slotChar="----------"
                           (keyup.enter)="dirMutation()"      placeholder=" عدد  ">
                           </p-inputMask>
            
            
                        
            
            
            
                    </div>
                    
                     
                    <label for="card3" class="button return" aria-hidden="true">
                       
                        <i class="pi pi-arrow-left"  >   النقل /  الإستقبال</i>
                    </label>
                </div>
               
            </div>
        </div>
    </div>
  
  </div>

  <div style="text-align: center; margin-top: 50px;" *ngIf="isExist">
      <h1 style="color: crimson; font-family: 'Amiri', Times, serif;"> {{msg}} </h1>
   </div>
</div>