
 
 
    <div dir="rtl" *ngIf="appelParquet">
        <div  style=" margin-left: 5%; margin-right: 5%;    background-image: url(assets/layout/images/bg.png)" >
            <div class="p-grid"  >
                <div class="p-col-2">
                    <label style="background-color: rgb(241, 241, 241);">
                        الهوية:
                         
                    </label>
                    </div>
                    <div class="p-col-10">
                        <label>
                          
                            <span>


                                {{ appelParquet.affaire.arrestation.enfant.nom }} بن {{ appelParquet.affaire.arrestation.enfant.nomPere }} بن {{ appelParquet.affaire.arrestation.enfant.nomGrandPere }} {{ appelParquet.affaire.arrestation.enfant.prenom }}
                            </span>
                             
                        </label>
                    </div>
                    </div>
            
                    <div class="p-grid"  >
                        <div class="p-col-2">
                            <label style="background-color: rgb(241, 241, 241);">
                                عدد الإيقاف :
                                 
                            </label>
                            </div>
                            <div class="p-col-10">
                                <label>
                                  
                                    <span dir="rtl">
        
        
                                        {{ appelParquet.numArrestation }}
                                    </span>
                                     
                                </label>
                            </div>
                            </div>
                            <div class="p-grid"  >
                                <div class="p-col-2">
                                    <label style="background-color: rgb(241, 241, 241);">
                                        المركز :
                                         
                                    </label>
                                    </div>
                                    <div class="p-col-10">
                                        <label>
                                          
                                            <span>
                
                
                                                {{ appelParquet.etablissement.libelle_etablissement }}
                                            </span>
                                             
                                        </label>
                                    </div>
                                    </div>
          
                                
            
            
                                            <div class="p-grid" *ngIf="appelParquet.affaire" >
                                                <div class="p-col-2">
                                                    <label style="background-color: rgb(241, 241, 241);">
                                                        قضية  الإستئناف :
                                                       
                                                    </label>
                                                    </div>
                                                    <div class="p-col-10">
                                                        <label>
                                                          
                                                            <span> {{ appelParquet.affaire.affaireId.numAffaire }}</span>
                                                            <span> {{ appelParquet.affaire.tribunal.nom_tribunal }}</span>
                                                             
                                                        </label>
                                                    </div>
                                                    </div>


                                                    
                                                    
            
        
                                                                    <div class="p-grid"   >
                                                                        <div class="p-col-2">
                                                                            <label style="background-color: rgb(241, 241, 241);" >
                                                                               تاريخ الإستئناف :
                                                                               
                                                                            </label>
                                                                            </div>
                                                                            <div class="p-col-10">
                                                                                <label>
                                                                                  
                                                                                    <span dir="rtl">{{ appelParquet.dateEmission }}</span>
                                                                                </label>
                                                                            </div>
                                                                            </div>
                                                                            <!-- <div class="p-grid"   >
                                                                                <div class="p-col-2">
                                                                                    <label style="background-color: rgb(241, 241, 241);" >
                                                                                        تاريخ الحكم  :
                                                                                       
                                                                                    </label>
                                                                                    </div>
                                                                                    <div class="p-col-10">
                                                                                        <label>
                                                                                          
                                                                                            <span dir="rtl">{{ appelParquet.dateDepotCarte }}</span>
                                                                                        </label>
                                                                                    </div>
                                                                                    </div> -->
                                                                                 
                                                                                                                                                             
           
                                                                                                   
            

          
        <label style="margin-top: 30px;">
            المدرج    :
            <span>{{ appelParquet.personelle.nom +' '+ appelParquet.personelle.prenom +'    '}}</span>
            بتاريخ  :
            <span dir="rtl">{{ appelParquet.dateInsertion}}</span>
        </label>
        </div>
         
    </div>
 

 