 
<div class="wrapper">
    <div class="card">
        <label for="card1" class="titre" aria-hidden="true">
            السوابــق العدلية
        </label>
        <input type="checkbox" id="card1" class="more" aria-hidden="true">
        <div class="content">
         
            <div class="front"    >
                <div class="inner">
                    
                  <img src="assets/layout/images/criminal-recordd.png"  class="image-adjust " />
                    <p-inputMask [style]="{'font-weight': '700' ,'font-size': '20px','color': 'black', 'margin-top': '15px' }" dir="rtl"
                        [(ngModel)]="idAppelEnfant" mask="99999999" slotChar="----------" (keyup.enter)="dirAppelEnfant()"
                        placeholder=" معرف الطفل   ">
                    </p-inputMask>
                </div>
            </div>
           
        </div>
    </div>
     <div class="card">
        <label for="card2" class="titre" aria-hidden="true">
            كشــف عن القضية
        </label>
        <input type="checkbox" id="card2" class="more">
        <div class="content">
            <div class="front"    >
                <div class="inner">
                   
                  <img src="assets/layout/images/folderr.png"  class="image-adjust "/>
                    <div class="p-grid" dir="rtl" style="margin-top: 15px;">
                    
                    
                     
                        <div class="p-field p-grid">
                    
                    
                    
                            <div class="p-col">
                    
                                <input class="tribunal" readonly [ngModel]="tribunal1" (click)="showListTribunal1()" type="text"
                                   placeholder="  المحكمة     "  style="width:  100%; font-size: 20px;" pInputText>
                    
                    
                            </div>
                    
                    
                    
                        </div>
                        <div class="p-field p-grid">
                    
                            <div class="p-col">
                    
                                <p-inputMask [style]="{'font-weight': '600','width':  '100%','font-size': '20px','color': 'black'}"
                                    dir="rtl" [(ngModel)]="numAffaireT1" mask="999-999999" slotChar="----------"
                                    placeholder=" عدد القضية   ">
                                </p-inputMask>
                                <!-- <input class="tribunal" [(readonly)]="!update"[(ngModel)]="numAffaireT1" placeholder="  معرف الطفل  القضية"
                                                      style="width:  20%;" type="text" pInputText> -->
                            </div>
                        </div>
                    
                    
                    
                    
                    
                    
                    </div>
                </div>
            </div>
          
        </div>
    </div>  
    <div class="card">
        <label for="card3" class="titre" aria-hidden="true">
            الإقــامــات
        </label>
        <input type="checkbox" id="card3" class="more">
        <div class="content">
            <div class="front"    >
                <div class="inner">
                 
                  <img src="assets/layout/images/prision.png" class="image-adjust " />
                    <p-inputMask [style]="{'font-weight': '700' ,'font-size': '20px','color': 'black' , 'margin-top': '15px'}" dir="rtl"
                        [(ngModel)]="idAppelParquet" mask="99999999" slotChar="----------" (keyup.enter)="dirAppelParquet()"
                        placeholder=" معرف الطفل   ">
                    </p-inputMask>
                </div>
            </div>
          
        </div>
    </div>
  </div>

  <p-dialog header="دليل المحاكم" dir="rtl" [(visible)]="displayTribunal1" modal="true" showEffect="fade">

    <div style="width: 1200px;  min-height: 400px;">
        <p-table [value]="entitiesTribunal" #dtTribunal1 selectionMode="single" [paginator]="true" [rows]="5"
        paginatorPosition="top" [rowsPerPageOptions]="[5,10,20,50]"   [globalFilterFields]="['id','nom_tribunal' ]">
            <ng-template pTemplate="caption">
                <div class="p-grid">
                <div class="p-col">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder=" بحث"
                        (input)="dtTribunal1.filterGlobal($event.target.value, 'contains')" style="width:300px">

                </div>
                <div class="p-col">
                    <p-multiSelect    [options]="gouvernoratSwich" [filter]="true"  
                    [style]="{'width':'100%', 'margin-top':'0'}"   emptyFilterMessage="لا تيوجد نتيجية "
                    defaultLabel="قائمة الولايات " selectedItemsLabel="{0} ولايات" appendTo="body"  
                     (onChange)="dtTribunal1.filter($event.value,'gouvernorat.libelle_gouvernorat', 'in')">
                    <ng-template let-group pTemplate="item">
                      <div class="item">
                          <span  >{{group.label}}</span>
                         </div>
                       
                 </ng-template>
                 
                 </p-multiSelect> 
                </div>
                <div class="p-col">
                    <p-multiSelect    [options]="typeTribunalSwich" [filter]="true"  
                    [style]="{'width':'100%', 'margin-top':'0'}"   emptyFilterMessage="لا تيوجد نتيجية "
                    defaultLabel="قائمة  أنواع المحاكم " selectedItemsLabel="{0}  أنواع المحاكم" appendTo="body"  
                     (onChange)="dtTribunal1.filter($event.value,'typeTribunal.libelleTypeTribunal', 'in')">
                    <ng-template let-group pTemplate="item">
                      <div class="item">
                          <span  >{{group.label}}</span>
                         </div>
                       
                 </ng-template>
                 
                 </p-multiSelect>
                </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>

                    <th style="width: 10%;"  pSortableColumn="id" >الرمز
                        <p-sortIcon field="id"></p-sortIcon>
                    </th>


                    <th  style="width: 80%;" pSortableColumn="nom_tribunal" > المحكمة
                        <p-sortIcon field="nom_tribunal"></p-sortIcon>

                    </th>

                    <th  style="width: 10%;"> إدراج


                    </th>


                </tr>
                <tr > 
         
                    <th     >     
                        <input   pInputText type="text" placeholder="يبدأ بـــــــــــ" class="ui-column-filter" style="width: 100%; margin-top: 0;" (input)="dtTribunal1.filter($event.target.value, 'id', 'startsWith')">
                                     
                 </th>
                    <th    >    
                        <input   pInputText type="text" placeholder=" يبدأ بـــــــــــ" class="ui-column-filter" style="width: 100%; margin-top: 0;" (input)="dtTribunal1.filter($event.target.value, 'nom_tribunal', 'startsWith')">
                                     
                 </th> 
              
                    
                    <th style="width: 10%;" >
                      
                   </th>
                   
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>


                    <td> <b style="font-size:18px;">{{row.id}}</b></td>


                    <td> <b style="font-size:18px;">{{row.nom_tribunal}} </b></td>


                    <td>
                        <p-button icon="pi pi-plus" (click)=saveTribunal1(row)>
                        </p-button>


                    </td>


                </tr>
            </ng-template>
        </p-table>
    </div>

</p-dialog>