<div class="wrapper">

    <div class="card ">
        <div class="inner">
            <label class="titre">السوابق العدلية</label>
            <img src="assets/layout/images/criminal-record.png" class="image-adjust" />
            <p-inputMask dir="rtl" [(ngModel)]="idAppelEnfant" mask="99999999" placeholder="معرف الطفل"></p-inputMask>
        </div>
    </div>

    <div class="card ">
        <div class="inner">
            <label class="titre">كشف عن القضية</label>
            <img src="assets/layout/images/search-engine-optimization.png" class="image-adjust" />
            <button (click)="dirDetailleAffaire()" mat-fab class="btn-search-penal">
                <i class="pi pi-search"></i>
            </button>
        </div>
    </div>

    <div class="card ">
        <div class="inner">
            <label class="titre">الإقامات</label>
            <img src="assets/layout/images/prison123.png" class="image-adjust" />
            <p-inputMask dir="rtl" [(ngModel)]="idAppelParquet" mask="99999999" placeholder="معرف الطفل"></p-inputMask>
        </div>
    </div>

</div>

<p-dialog header="دليل المحاكم" dir="rtl" [(visible)]="displayTribunal1" modal="true"
    styleClass="dialog-modern-penal"></p-dialog>