<div style="height: 500px ; width: 500px;">



<div class="p-field p-grid">
    <label for="lastname3" class="p-col-fixed" style="width: 180px;">رقـــم الإداري   :</label>
    <div class="p-col">
        <input         [(ngModel)]="id"   type="number" pInputText>
    </div>
</div>

<div class="p-field p-grid">
    <label for="lastname3" class="p-col-fixed " style="width: 180px;">  الإســـم     :</label>
    <div class="p-col">
        <input   [(ngModel)]="nom"  type="text" pInputText>
    </div>
</div>
<div class="p-field p-grid">
    <label for="lastname3" class="p-col-fixed" style="width: 180px;">اللقــب    :</label>
    <div class="p-col">
        <input   [(ngModel)]="prenom"    type="text" pInputText>
    </div>
</div>

 
<div class="p-field p-grid">
    <label   class="p-col-fixed" style="width:180px">  المـــؤسسة    :  </label>
    <div class="p-col">
        <p-dropdown  [(ngModel)]="etablissementLocal"   [options]="etablissements" placeholder=" المـــؤسسة  "   [filter]="true" id="etablissement"  
                  [style]="{'width':'220px', 'min-height' : '10px' }"   name="etablissement">
                
        <ng-template let-eta pTemplate="item">
            <div class="item">
        
                <div>{{eta.label }}</div>
            </div>
        </ng-template>
    </p-dropdown>
    </div>
 </div>

 <div class="p-field p-grid">
    <label   class="p-col-fixed" style="width:180px"> المهــــام  :  </label>
    <div class="p-col">
        <p-dropdown   [(ngModel)]="role"   [options]="roles" placeholder="  المهــــام "  [filter]="true" id="role"
          [style]="{'width':'220px'}" name="role">
    <ng-template let-role pTemplate="item">
        <div class="item">
    
            <div>{{role.label }}</div>
        </div>
    </ng-template>
    
    </p-dropdown>
    </div>
 </div>

<div class="p-field p-grid"  >
    <label for="lastname3" class="p-col-fixed " style="width: 180px;">  إســـم المستعمـــل   :</label>
    <div class="p-col">
        <input    [(ngModel)]="login"   type="text" pInputText>
    </div>
</div>
<div class="p-field p-grid" >
    <label *ngIf="!update" for="lastname3" class="p-col-fixed" style="width: 180px;">كلمة السر      :</label>
    <label *ngIf="update" for="lastname3" class="p-col-fixed" style="width: 180px;"> تغير كلمة السر :</label>
   
    <div class="p-col" *ngIf="showPwd">
        <input      [(ngModel)]="pwd"     type="text" pInputText>
    </div>
    <button *ngIf="update && !showPwd" (click)="toggleUpdatePassword()" style="background-color: white; " mat-fab>
        <i class="pi pi-lock" style="font-size: 35px; color: #007bff;"></i>
    
    </button>
    <button *ngIf="update && showPwd && pwd === '' " (click)="toggleUpdatePassword()" style="background-color: white;"
        mat-fab>
        <i class="pi pi-lock-open" style="font-size: 35px; color: #007bff;"></i>
    
    </button>
</div>
 

 


 
           
   
 <div style="text-align: center; margin-top: 20%;">
            
    <button  (click)="addUser()" style="background-color: #28a745!important;" mat-fab>
        <i class="pi pi-save" style="font-size: 30px; color: white;"> </i>
    
    
     </button>     
                   
    <button (click)="close()"
       style="background-color: rgba(255, 0, 0, 0.822)!important; margin-right: 20px;" mat-fab>
       <i class="pi pi-power-off" style="font-size: 30px; color: white;"> </i>


    </button>
 </div>
</div>
