
        <div style="height: auto; width: 328px;"   class="layout-rightpanel" (click)="app.onRightPanelClick($event)">
			<div dir="rtl" class="right-panel-header"  >
				<div    class="title">
					<span>اليوم</span>
					<h1 style="font-weight: bold; color: rgb(179, 179, 179);">السبت , 7 جانفي</h1>
				</div>
				<a href="#" class="rightpanel-exit-button" (click)="app.onRightPanelClose($event)">
					<i class="pi pi-times"></i>
				</a>
			</div>
			<div class="right-panel-content">
				 
			 
				<div class="right-panel-content-row">
                    <div dir="rtl" class="weather">
						<h1 style="margin-right: 5%; font-weight: bold; color: rgb(255, 136, 136);">  مهام اليوم  </h1>
						<ul class="weather-list">
							<li class="weather-list-item">
								<div class="time-location">
									<p>مطالب  إفراج</p>
							 
								</div>
								<div class="weather-info">
									 
									<div class="weather-value">
										31
									</div>
								</div>
							</li>
							<li class="weather-list-item">
								<div class="time-location">
									 
									<p> إجراء سراحات</p>
								</div>
								<div class="weather-info">
								 
									<div class="weather-value">
										8
									</div>
								</div>
							</li>
						 
							<li class="weather-list-item">
								<div class="time-location">
								 
									<p>إستقبال نقل</p>
								</div>
								<div class="weather-info">
								 
									<div class="weather-value">
										3
									</div>
								</div>
							</li>
						 
						</ul>
					</div>
                
                    <div dir="rtl" class="weather">
						<h1 style="margin-right: 5%; font-weight: bold; color: rgb(255, 136, 136);">  حوصلة </h1>
						<ul class="weather-list">
							<li class="weather-list-item">
								<div class="time-location">
									<p>موقوفين</p>
							 
								</div>
								<div class="weather-info">
									 
									<div class="weather-value">
										100
									</div>
								</div>
							</li>
							<li class="weather-list-item">
								<div class="time-location">
									 
									<p>محكومين</p>
								</div>
								<div class="weather-info">
								 
									<div class="weather-value">
										40
									</div>
								</div>
                            </li>
                            <li class="weather-list-item">
								<div class="time-location">
									 
									<p>مقيمين</p>
								</div>
								<div class="weather-info">
									 
									<div class="weather-value">
										135
									</div>
								</div>
							</li>
					 
							<li class="weather-list-item">
								<div class="time-location">
									 
									<p>فارين</p>
								</div>
								<div class="weather-info">
									 
									<div class="weather-value">
										5
									</div>
								</div>
							</li>
					 
						</ul>
					</div>
				</div>
            </div>
        </div>