

<div dir="rtl"       style="margin-top: 5px;" >

    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabChanged($event);" animationDuration="500ms" backgroundColor ="secondary">
     
        <mat-tab>
            
            <ng-template mat-tab-label >
               
             <h1 class="tab-title-blue">  إدراج بطاقة إيواء  </h1>     
             
            </ng-template>
       
            <app-carte-hebergement></app-carte-hebergement>
        </mat-tab>

       
        <mat-tab>
            <ng-template mat-tab-label>
              
                    <h1 class="tab-title-red"> التحييـــــن و الحـــــذف </h1>
                
            </ng-template>
             
             
              
            <app-edit-document [idValide]="idValide"></app-edit-document>
    
    
        </mat-tab>
    
      
    
       
       
    </mat-tab-group>
    </div>