
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mirage-primary: mat-palette($mat-indigo);
$mirage-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mirage-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mirage-theme: mat-light-theme($mirage-primary, $mirage-accent, $mirage-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mirage-theme);

/* You can add global styles to this file, and also import other style files */

html, body {  min-height: 70%; }
body { margin: 0; font-family: 'Amiri', Times, serif, "Helvetica Neue", sans-serif; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);}
label
{text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.20);
    font-size: 23px; /* Titres de 40 pixels 
    font-family:Arial Black ; Titres de 40 pixels */
    font-weight: bold;
    font-family: 'Amiri', Times, serif
}
input{
    width: 90%; 
    text-align: right;
  font-family: 'Amiri', Times, serif;
  
  font-weight: bold;

  box-shadow : 1px 1px 1px #9b9a9a,
  1px 1px 1px #9b9a9a,
  1px 2px 1px #9b9a9a,
  1px 1px 3px #9b9a9a,
  1px 2px 1px #9b9a9a,
  1px 1px 1px #9b9a9a;
}
label {
    display: block;
    
   
  }
  
  .card-container.card {
  
   max-width: 800px !important;
    padding: 80px 80px;
    // background: linear-gradient(
    //   40deg,
    //   #574041fd,
    //   #fdfdfd
    // );
  }
  
 
  .card {
    
    background-color: #ffffff;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    // background-image: linear-gradient(   white,#fafafa);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    // -moz-box-shadow: 0px 2px 2px #1a69a1;
    // -webkit-box-shadow: 0px 2px 2px #1a69a1;
    // box-shadow: 0px 2px 2px #1a69a1;
      -moz-box-shadow: 0px 2px 2px #979797cc;
     -webkit-box-shadow: 0px 2px 2px #979797cc;
      box-shadow: 0px 2px 2px #979797cc;
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .profile-img {
 
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }


  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.profile-img-card2{
  width: 70px;
  height: 70px;
   margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.court-document {

  margin: 10px auto;
  padding: 30px;
  background: linear-gradient(to right, #ffffff, #e0e0e0);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(39, 39, 39, 0.1);
  font-family: 'Amiri', Times, serif;
  max-width: 100%;
}

.info-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  /* Augmente l'espace entre les sections d'information */
}

.info-label {
  font-weight: bold;
  color: #104368;
  font-size: 25px;
  /* Agrandi la taille de la police */
  flex: 1;
}

.info-data {
  color: #2b2b2b;
  font-size: 25px;
  /* Agrandi la taille de la police */
  flex: 2;
  padding-left: 10px;
  /* Augmente l'espace après le label */
}
/* styles.css (ou styles.scss) */


/* neons css  */
.neons {
  padding: 15px;
  text-align: center;

}

.neons span {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Amiri', Times, serif;
  animation: glow2 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow2 {
  from {
    color: rgb(228, 228, 228);
  }

  to {
    color: #ffffff;
  }
}

@keyframes glow2 {
  from {
    color: rgb(255, 255, 255);
  }

  to {
    //  color:#2448ff
    color: blue;
  }
}

 .item {
   text-align: right;
   font-family: 'Amiri', Times, serif;
   font-size: 17px;
   font-weight: bold;
   line-height: 1.0;
 }

 /* Global Styles */
//  * {
//    margin: 0;
//    padding: 0;
//    box-sizing: border-box;
//  }

//  body {
//    font-family: 'Amiri', Times, serif;
//    font-size: 16px;
//    background-color: #f4f4f4;
//  }

//  .container {
//    margin: 2rem;
//  }

 .table-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1rem;
 }

 table {
   width: 100%;
   border-collapse: collapse;
   /* background: url('assets/layout/images/111.jpg') no-repeat center center; */
   background-size: cover;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 }

//  th,
//  td {
//    text-align: center;
//    padding: 12px;
//    font-size: 22px;
//    color: #333;
//  }

//  th {
//    font-weight: bold;
//    background-color: #eaeaea;
//  }

//  td {
//    font-weight: lighter;
//    background-color: #fff;
//  }

 button.add-btn,
 button.edit-btn {
   background-color: transparent;
   border: none;
   cursor: pointer;
 }

 button.add-btn i,
 button.edit-btn i {
   font-size: 30px;
   color: #007bff;
 }

 button.add-btn:hover,
 button.edit-btn:hover {
   color: #0056b3;
 }

 /* Input and Sorting */
//  input {
//    font-weight: bold;
//    font-size: 16px;
//    padding: 0.5rem;
//    border-radius: 8px;
//    border: 1px solid #ccc;
//    width: 250px;
//  }

 input:focus {
   outline: none;
   border-color: #007bff;
 }

 /* Dialog Styles */
 .p-dialog .p-header {
   background-color: #eaeaea;
   text-align: center;
   font-size: 18px;
   color: #333;
 }

 .p-dialog .p-header span {
   color: #28a745;
   font-weight: bold;
 }


 ::ng-deep .p-dialog .p-dialog-content {
   padding: 0 !important;
   margin: 0 !important;
   width: 100% !important;
   height: 100% !important;
 }

  