<div dir="rtl" style="margin-bottom: 100px;">

 
    <p-toast key="tst" [style]="{marginTop: '150px'}"></p-toast>
    
    <div *ngIf="existBoolean" class="ui-messages ui-widget ui-corner-all ui-messages-warn" style="margin: 0 0 1em 0;">
        <ul>
            <li>
                {{currentUser?.etablissement.statut}}
                <span class="ui-messages-summary"
                    style="font-size:16px; font-family: 'Amiri', Times, serif; font-size: 20px;">
                    لا يوجد أي هوية بهذه المعطيات
                    <span class="ui-messages-icon pi pi-ban" style="font-size: 45px; color: red;"></span>
                    <span *ngIf="currentUser.roles[0] == 'ROLE_USER'">
                        يمكنك إدراج هوية جديدة.
                    </span>
                </span>
                <button *ngIf="currentUser.roles[0] == 'ROLE_USER'" (click)="showAdd()"
                    style="background-color: #28a745!important;" mat-fab>
                    <i class="pi pi-plus" style="font-size: 25px;"></i>
                </button>
            </li>
        </ul>
    </div>

    <div class="p-grid" style="width: 100%;">
        <div class="p-col-3" *ngIf="!selectedIndex">
            <div class="court-document " style="width: 90%;  ">

                <p-tabView>

                    <!-- Tab Panel: المعرّف الجزائي -->
                    <p-tabPanel header="المعرف الجزائي">

                        <div class="p-grid" style="width: 100%; height: 100%; margin-top: 50px;">

                            <!-- Identifiant de l'enfant -->
                            <div class="p-col-5">
                                <h2> عدد مذكرة طفل </h2>
                            </div>

                            <div class="p-col-1" style="margin-top: 7px;">
                                <p-radioButton name="groupname" value="val1" [(ngModel)]="selectedValue"
                                    (click)="show()"></p-radioButton>
                            </div>
                            <div class="p-col-6">
                                <p-inputMask *ngIf="selectedValue == 'val1'"
                                    [style]="{'font-weight': '400', 'width': '100%', 'font-size': '18px', 'color': 'black', 'margin-bottom': '10px'}"
                                    dir="rtl" [(ngModel)]="id" mask="99999999" slotChar="----------"
                                    (keyup.enter)="onSubmitId()" placeholder="معرف"></p-inputMask>
                            </div>

                            <!-- Nombre d'arrêts -->
                            <div class="p-col-5">
                                <h2>عدد إيقاف طفل </h2>
                            </div>
                            <div class="p-col-1" style="margin-top: 5px;">
                                <p-radioButton name="groupname" value="val2" [(ngModel)]="selectedValue"
                                    (click)="show()"></p-radioButton>
                            </div>
                            <div class="p-col-6">
                                <p-inputMask *ngIf="selectedValue == 'val2'"
                                    [style]="{'font-weight': '400', 'font-size': '18px', 'color': 'black'}" dir="rtl"
                                    [(ngModel)]="numArr" mask="999999" slotChar="------" (keyup.enter)="onSubmitId()"
                                    placeholder="عدد"></p-inputMask>
                            </div>
                            <div *ngIf="acceeSoujoun" class="p-col-5">
                                <h2>عدد مذكرة سجين </h2>
                            </div>
                            <div *ngIf="acceeSoujoun" class="p-col-1" style="margin-top: 7px;">
                                <p-radioButton name="groupname" value="val3" [(ngModel)]="selectedValue"
                                    (click)="show()"></p-radioButton>
                            </div>
                            <div  *ngIf="acceeSoujoun" class="p-col-6">
                                <p-inputMask *ngIf="selectedValue == 'val3'"
                                    [style]="{'font-weight': '400', 'width': '100%', 'font-size': '18px', 'color': 'black', 'margin-bottom': '10px'}"
                                    dir="rtl" [(ngModel)]="idDetenu" mask="9999999999" slotChar="------------"
                                    (keyup.enter)="onSubmitId()" placeholder="معرف"></p-inputMask>
                            </div>

                            <div *ngIf="acceeSoujoun" class="p-col-5">
                                <h2>عدد إيقاف سجين </h2>
                            </div>
                            <div *ngIf="acceeSoujoun" class="p-col-1" style="margin-top: 5px;">
                                <p-radioButton name="groupname" value="val4" [(ngModel)]="selectedValue"
                                    (click)="show()"></p-radioButton>
                            </div>
                            <div  *ngIf="acceeSoujoun" class="p-col-6">
                                <p-inputMask *ngIf="selectedValue == 'val4'"
                                    [style]="{'font-weight': '400', 'font-size': '18px', 'color': 'black'}" dir="rtl"
                                    [(ngModel)]="numArrDetenu" mask="99999" slotChar="-----"
                                    (keyup.enter)="onSubmitId()" placeholder="عدد"></p-inputMask>
                            </div>
                        </div>

                  
                        <div class="button-container" style="text-align: center;">
                            <!-- Bouton 1 : البحث داخل مراكز الإصلاح -->
                            <button class="custom-button green-button" (click)="onSubmitIdDansCentre()">
                                <i class="pi pi-search"></i>
                                <span> داخل مراكز الإصلاح</span>
                            </button>

                            <!-- Bouton 2 : البحث داخل الوحدات السجنية -->
                            <button  *ngIf="acceeSoujoun" class="custom-button blue-button" (click)="onSubmitIdDansPrision()">
                                <i class="pi pi-search"></i>
                                <span> داخل الوحدات السجنية </span>
                            </button>
                        </div>
                    </p-tabPanel>

                    <!-- Tab Panel: الهوية العربية -->
                    <p-tabPanel header="الهوية العربية">
                        <form [formGroup]="searchForm">

                            <div class="p-grid" style="width: 100%;">

                                <!-- Form Fields -->
                                <div class="p-col-4">
                                    <h2>الإسم</h2>
                                </div>
                                <div class="p-col-8">
                                    <input id="input" formControlName="nom" type="text" pInputText />
                                    <!-- Message d'erreur -->
                                    <div *ngIf="searchForm.get('nom')?.touched && searchForm.get('nom')?.hasError('required')"
                                        class="error">
                                        هذا الحقل مطلوب
                                    </div>
                                </div>

                                <div class="p-col-4">
                                    <h2>اللقب</h2>
                                </div>
                                <div class="p-col-8">
                                    <input id="input" formControlName="prenom" type="text" pInputText />
                                    <!-- Message d'erreur -->
                                    <div *ngIf="searchForm.get('prenom')?.touched && searchForm.get('prenom')?.hasError('required')"
                                        class="error">
                                        هذا الحقل مطلوب
                                    </div>
                                </div>


                                <div class="p-col-4">
                                    <h2>إسم الأب</h2>
                                </div>
                                <div class="p-col-8">
                                    <input id="input" formControlName="nomPere" type="text" pInputText />
                                </div>

                                <div class="p-col-4">
                                    <h2>إسم الجد</h2>
                                </div>
                                <div class="p-col-8">
                                    <input id="input" formControlName="nomGrandPere" type="text" pInputText />
                                </div>

                                <div class="p-col-4">
                                    <h2>إسم الأم</h2>
                                </div>
                                <div class="p-col-8">
                                    <input id="input" formControlName="nomMere" type="text" pInputText />
                                </div>

                                <div class="p-col-4">
                                    <h2>لقبها</h2>
                                </div>
                                <div class="p-col-8">
                                    <input id="input" formControlName="prenomMere" type="text" pInputText />
                                </div>

                                <div class="p-col-5">
                                    <h2>تاريخ الولادة</h2>
                                </div>
                                <div class="p-col-7">
                                    <p-inputMask formControlName="dateNaissance" mask="9999/99/99"
                                        [style]="{'font-weight': '500', 'font-size': '16px', 'color': 'black'}"
                                        slotChar="----/--/--" placeholder="يوم/شهر/سنة"></p-inputMask>

                                </div>



                                <div class="p-col-4">
                                    <h2>الجنس</h2>
                                </div>
                                <div class="p-col-8">
                                    <div class="p-grid">
                                        <div class="p-col-6">
                                            <h2>
                                                <p-radioButton name="rg" formControlName="sexe"
                                                    value="ذكر"></p-radioButton>
                                                ذكر
                                            </h2>
                                        </div>
                                        <div class="p-col-6">
                                            <h2>
                                                <p-radioButton name="rg" formControlName="sexe"
                                                    value="أنثى"></p-radioButton>
                                                أنثى
                                            </h2>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="button-container" style="text-align: center;">
                                <!-- Bouton 1 : البحث داخل مراكز الإصلاح -->
                                <button class="custom-button green-button" (click)="onSubmitSearchForm()">
                                    <i class="pi pi-search"></i>
                                    <span> داخل مراكز الإصلاح</span>
                                </button>

                                <!-- Bouton 2 : البحث داخل الوحدات السجنية -->
                                <button *ngIf="acceeSoujoun" class="custom-button blue-button" (click)="onSubmitSearchForm2()">
                                    <i class="pi pi-search"></i>
                                    <span> داخل الوحدات السجنية</span>
                                </button>
                            </div>


                        

                        </form>
                    </p-tabPanel>

                </p-tabView>

            </div>
        </div>
 
        <div class="p-col-9">

            <div class="p-grid" style="background-color: white;">
                <p-table [value]="detenus" *ngIf="detenus.length" id="dt" #dt dataKey="numOrdinale"
                    paginatorPosition="bottom" [rowsPerPageOptions]="[4,10,20,50]" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['arrestation.enfant.nom']">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <input type="text" pInputText size="50" placeholder="  كلمــــــــــة مفتــــــــــاح"
                                (input)="dt.filterGlobal($event.target.value, 'contains')"
                                style="width:250px; font-weight: bold; font-size: 16px;">
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr style="background-color: rgb(233, 233, 233);">
                            <th style="width: 10%;" pSortableColumn="detenu?.detenuId">المعرف
                                <p-sortIcon field="detenu?.detenuId"></p-sortIcon>
                            </th>
                            <th style="width: 25%;">الهوية</th>
                            <th style="width: 10%;">هوية الأم</th>
                            <th style="width: 10%;">تاريخ و مكان الولادة</th>
                            <th style="width: 25%;">عدد الإيقاف</th>
                            <th style="width: 20%;">
                                <button *ngIf="currentUser?.etablissement.statut == 0" (click)="showAdd()"
                                    style="background-color: #28a745!important;" mat-fab>
                                    <i class="pi pi-plus" style="font-size: 25px;"></i>
                                </button>
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-detenu>
                        <tr>
                            <td style="color: blueviolet; font-weight: bold;">{{ detenu?.detenuId}}
                            </td>
                            <td>{{ detenu?.nom }} بن {{ detenu?.nomPere
                                }}
                                بن
                                {{ detenu?.nomGrandPere }} {{
                                detenu?.prenom
                                }} </td>
                            <td>{{ detenu?.nomMere }} {{
                                detenu?.prenomMere
                                }}</td>
                            <td>{{ detenu?.dateNaissance + ' بـ' +
                                detenu?.lieuNaissance }}</td>
                            <td *ngIf="detenu?.statut != 2">
                                <span style="color: blueviolet; font-weight: bold;"> {{ '(' + detenu?.numOrdinaleArrestation +')' }}</span>
                                <span>
                                    {{ detenu?.dateEntree + ' ' +
                                    detenu?.nomEtablissement + ' ' + detenu?.numeroEcrou }} 
                                </span>
                              
                            </td>
                            <td style="color:red;" *ngIf="detenu?.statut == 2">
                                {{ 'نقلة جارية ' + detenu?.nomEtablissement }}
                            </td>
                            <td>
                                <div class="example-button-container">
                                    <button (click)="showFolderEnfant(detenu?.detenuId , detenu?.numOrdinaleArrestation )" mat-mini-fab color="primary"
                                        aria-label="Example icon button with a home icon">
                                        <i class="pi pi-folder-open" style="font-size: 25px;"></i>
                                    </button>
                                    <button
                                        *ngIf="detenu?.statut==0 && currentUser?.etablissement?.libelle_etablissement == detenu?.nomEtablissement"
                                        style="background-color: white!important; margin-right: 15px;"
                                        (click)="showEdit(detenu)" mat-mini-fab>
                                        <i class="pi pi-pencil" style="font-size: 30px; color: blue;"></i>
                                    </button>
                                    <button
                                        *ngIf="detenu?.statut==0 && currentUser?.etablissement?.libelle_etablissement == detenu?.nomEtablissement"
                                        style="background-color: white!important; margin-right: 15px;"
                                        (click)="showVisite(detenu)" mat-mini-fab>
                                        <i class="pi pi-home" style="font-size: 30px; color: brown;"></i>
                                    </button>
                                    <button  *ngIf="detenu?.detenuId.length == 8"
                                        style="background-color: white!important; margin-right: 15px;" (click)="  print( detenu )" mat-mini-fab>
                                        <i class="pi pi-file" style="font-size: 30px; color: rgb(139, 130, 130);"></i>
                                    </button>
                                  
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>




    <div *ngIf="click" class="loading-overlay">
        <img src="assets/layout/images/g.gif" alt="Loading..." class="loading-gif" />
    </div>


 
    
    <p-dialog dir="rtl" [(visible)]="addBoolean" (onHide)="direction()" [modal]="true" [closable]="false"
        class="custom-dialog">
        <p-header>
            <div class="dialog-header">
                <div class="dialog-title" style=" color: green;">
                    <span class="title-text">إدراج هويــــــة جديــــــدة</span>
                </div>
                <div class="dialog-close">
                    <button class="close-button" (click)="addBoolean = false">
                        <i class="pi pi-power-off"></i>
                    </button>
                </div>
            </div>
        </p-header>
        <div class="dialog-content">
            <app-add-enfant [nom]="nomEnfant" [prenom]="prenom" [nomPere]="nomPere" [nomGrandPere]="nomGrandPere"
                [nomMere]="nomMere" [prenomMere]="prenomMere" (pathEvent)="goPath($event)"></app-add-enfant>
        </div>
    </p-dialog>





    <p-dialog dir="rtl" [(visible)]="displayEdit" [closable]="false" [modal]="true" *ngIf="residenceEdit">
        <p-header>
            <div class="dialog-header">
                <div class="dialog-title" style="color: red;">
                    <span class="title-text">تحيين هوية الطفل عدد</span>
                </div>
                <div class="dialog-close">
                    <button class="close-button" (click)="displayEdit = false">
                        <i class="pi pi-power-off"></i>
                    </button>
                </div>
            </div>
        </p-header>
        <div class="dialog-content">

            <app-add-enfant (refreshEvent)="refreshTable($event)" [update]="update"
                [residenceEdit]="residenceEdit"></app-add-enfant>
        </div>
        <p-footer></p-footer>
    </p-dialog>







    <p-dialog dir="rtl" [(visible)]="displayVisite" [closable]="false" [modal]="true">
        <p-header>

            <div class="p-grid " style="background-color: white;">

                <div class="p-col-6">
                    <div class="p-grid " style="  margin-top: 10px; margin-right: 50%;  ">


                        <label class="neons">

                            <span style=" color: red;"> إدراج الزيــــارات </span>

                        </label>


                    </div>


                </div>

                <div class="p-col-6">
                    <i class="pi pi-power-off" (click)="displayVisite = false"
                        style="font-size: 30px; color: white; background-color: rgba(255, 0, 0, 0.822)!important; margin-right: 90%;">
                    </i>

                </div>


            </div>
        </p-header>

        <app-add-visite [residence]="residenceVisite" (formData)="handleFormData($event)"></app-add-visite>

        <p-footer>


        </p-footer>
    </p-dialog>