 
        <div class="layout-footer"  >
		
			<div class="icons">
				<div class="icon icon-hastag">
					<!-- routerLink="/dashboard" -->
					<i class="pi pi-home" ></i>
				</div>
				<!-- <div class="icon icon-twitter">
					<i class="pi pi-globe"></i>
				</div>
				<div class="icon icon-prime">
					<i class="pi pi-bookmark"></i>
				</div>
			</div> -->
			<div class="logo-text">
				<!-- <img id="logo-footer" src="assets/layout/images/logo-footer.png" alt="mirage-layout" /> -->
				<div  style="text-align: center;" class="neons" >
				
					 
					<!-- <h1>يرجى من جميع الراغبين في الاطلاع على بيانات الطفل الجناح داخل الوحدات السجنية تقديم مكتوب إلى إدارة الإشراف (مركز
					الإعلامية منوبة أو إدارة شؤون المودعين )</h1> -->
				</div>
			</div>
        </div>
   