 
        <div class="layout-footer"  >
		
			<div class="icons">
				<div class="icon icon-hastag">
					<i class="pi pi-home" routerLink="/dashboard"></i>
				</div>
				<div class="icon icon-twitter">
					<i class="pi pi-globe"></i>
				</div>
				<div class="icon icon-prime">
					<i class="pi pi-bookmark"></i>
				</div>
			</div>
			<div class="logo-text">
				<!-- <img id="logo-footer" src="assets/layout/images/logo-footer.png" alt="mirage-layout" /> -->
				<div  style="text-align: center;" >
				
					<!-- <h1  > الرجاء إدراج جميع الوثائق  من تاريخ 07/09/2023  </h1> -->
				</div>
			</div>
        </div>
   