.neons h1 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-family: 'Amiri', Times, serif;
    color: rgb(199, 198, 198);
    animation: softBlink 1.5s infinite ease-in-out;
}

@keyframes softBlink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}
 