
 
 
    <div dir="rtl" *ngIf="transfert">
        <div  style=" margin-left: 5%; margin-right: 5%;    background-image: url(assets/layout/images/bg.png)" >
            <div class="p-grid"  >
                <div class="p-col-2">
                    <label style="background-color: rgb(241, 241, 241);">
                        الهوية:
                         
                    </label>
                    </div>
                    <div class="p-col-10">
                        <label>
                          
                            <span>


                                {{ transfert?.affaire?.arrestation?.enfant?.nom }} بن {{ transfert?.affaire?.arrestation?.enfant?.nomPere }} بن {{ transfert?.affaire?.arrestation?.enfant?.nomGrandPere }} {{ transfert?.affaire?.arrestation?.enfant?.prenom }}
                            </span>
                             
                        </label>
                    </div>
                    </div>
            
                    <div class="p-grid"  >
                        <div class="p-col-2">
                            <label style="background-color: rgb(241, 241, 241);">
                                عدد الإيقاف :
                                 
                            </label>
                            </div>
                            <div class="p-col-10">
                                <label>
                                  
                                    <span dir="rtl">
        
        
                                        {{ transfert?.numArrestation }}
                                    </span>
                                     
                                </label>
                            </div>
                            </div>
                            <div class="p-grid"  >
                                <div class="p-col-2">
                                    <label style="background-color: rgb(241, 241, 241);">
                                        المركز :
                                         
                                    </label>
                                    </div>
                                    <div class="p-col-10">
                                        <label>
                                          
                                            <span>
                
                
                                                {{ transfert?.etablissement?.libelle_etablissement }}
                                            </span>
                                             
                                        </label>
                                    </div>
                                    </div>
        <div class="p-grid">
            <div class="p-col-2">
                <label style="background-color: rgb(241, 241, 241);">
                    نوع الوثيقة :
        
                </label>
            </div>
            <div class="p-col-10">
                <label style="text-decoration: underline  rgba(255, 0, 0, 0.650);">
        
                    <span *ngIf="transfert?.typeFile=='T' ||  !transfert?.typeFile ">
                             إحــــــالة
                    </span>
                    <span *ngIf="transfert?.typeFile=='A'">
                          تخلــــــي
                    </span>
                    <span *ngIf="transfert?.typeFile=='G'">
                           تعهــــــد
                   </span>
                </label>
            </div>
        </div>
                                
            
            
                                            <div class="p-grid" *ngIf="transfert?.affaire" >
                                                <div class="p-col-2">
                                                    <label style="background-color: rgb(241, 241, 241);" >
                                                        قضية الإحالة :
                                                       
                                                    </label>
                                                    </div>
                                                    <div class="p-col-10">
                                                        <label>
                                                          
                                                            <span *ngIf="transfert?.affaire?.affaireLien"> {{ transfert?.affaire?.affaireLien?.affaireId?.numAffaire }}</span>
                                                            <span *ngIf="transfert?.affaire?.affaireLien"> {{ transfert?.affaire?.affaireLien?.tribunal?.nom_tribunal }}</span>
                                                             
                                                        </label>
                                                    </div>
                                                    </div>


                                                    <div class="p-grid" *ngIf="transfert?.affaire" >
                                                        <div class="p-col-2">
                                                            <label style="background-color: rgb(241, 241, 241);" >
                                                                أحيلت إلى :
                                                               
                                                            </label>
                                                            </div>
                                                            <div class="p-col-10">
                                                                <label>
                                                                    <span  style="text-decoration: underline  rgba(255, 0, 0, 0.650);" *ngIf="transfert?.affaire?.affaireLien?.affaireId?.numAffaire != transfert?.affaire?.affaireId?.numAffaire"  > {{ transfert?.affaire?.affaireId?.numAffaire }}</span>
                                                            <span  style="text-decoration: underline  rgba(255, 0, 0, 0.650);"> {{ transfert?.affaire?.tribunal?.nom_tribunal }}</span>
                                                                   
                                                            <span style="color: red;" *ngIf="transfert?.affaire?.affaireLien?.affaireId?.numAffaire == transfert?.affaire?.affaireId?.numAffaire"  > ( دون عدد قضية جديد )</span>
                                                        
                                                                     
                                                                </label>
                                                            </div>
                                                            </div>
            
              
                                                                                                          <div class="p-grid"   >
                                                                                                              <div class="p-col-2">
                                                                                                                  <label style="background-color: rgb(241, 241, 241);" >
                                                                                                                    نتيجة الإحالة
                                                                                                                     
                                                                                                                  </label>
                                                                                                                  </div>
                                                                                                                  <div class="p-col-10">
                                                                                                                      <label>
                                                                                                                        
                                                                                                                          <span  >{{transfert?.resultatTransfert?.libelle_resultat}}</span>
                                                                                                                      </label>
                                                                                                                  </div>
                                                                                                                  </div>
            
        
                                                                    <div class="p-grid"   >
                                                                        <div class="p-col-2">
                                                                            <label style="background-color: rgb(241, 241, 241);" >
                                                                                تاريخ   الإحالة
                                                                               
                                                                            </label>
                                                                            </div>
                                                                            <div class="p-col-10">
                                                                                <label>
                                                                                  
                                                                                    <span dir="rtl">{{ transfert?.dateEmission }}</span>
                                                                                </label>
                                                                            </div>
                                                                            </div>
                                                                          
                                                                                 
                                                                                                                                                             
           
                                                                                                   
            

          
        <label style="margin-top: 30px;">
            المدرج    :
            <span>{{ transfert?.personelle?.nom +' '+ transfert?.personelle?.prenom +'    '}}</span>
            بتاريخ  :
            <span dir="rtl">{{ transfert?.dateInsertion}}</span>
        </label>
        </div>
         
    </div>
 

 