<div dir="rtl" *ngIf="transfert" class="judicial-document">
        <div class="document-header">
            <div class="header-left">
                <h1>الجمهورية التونسية</h1>
                <h2>وزارة العدل</h2>
                <h3>{{ transfert?.affaire?.affaireLien?.tribunal?.nom_tribunal }}</h3>
            </div>
        
            <div class="header-center">
                <h1 class="document-title">
                    <b *ngIf="transfert?.typeFile=='T' || !transfert?.typeFile">إحــــــالة</b>
                    <b *ngIf="transfert?.typeFile=='A'">تخلــــــي</b>
                    <b *ngIf="transfert?.typeFile=='G'">تعهــــــد</b>
                </h1>
            </div>
        
            <div class="header-right">
                <h3>
                    <b>{{ transfert?.affaire?.affaireLien?.tribunal?.gouvernorat?.libelle_gouvernorat}}</b>
                    <b> في {{ transfert?.dateEmission | date:'yyyy/MM/dd' }}</b>
                </h3>
            </div>
        </div>

    <div class="content">
    <div class="p-grid">
        <div class="p-col-2">
            <label>الهوية:</label>
        </div>
        <div class="p-col-10">
            <ul>
                <li style="font-weight: bold;">
                    {{ transfert?.affaire?.arrestation?.enfant?.nom }} بن
                    {{ transfert?.affaire?.arrestation?.enfant?.nomPere }} بن
                    {{ transfert?.affaire?.arrestation?.enfant?.nomGrandPere }}
                    {{ transfert?.affaire?.arrestation?.enfant?.prenom }}
                    <br>
                    إبن
                    {{ transfert?.affaire?.arrestation?.enfant?.nomMere + ' ' +
                    transfert?.affaire?.arrestation?.enfant?.prenomMere }}
                </li>
                <li style="color: red;">
                    البلغ (ة) من العمر: XX سنة
    
                    و المولود (ة) بــــ:
                    {{ transfert?.affaire?.arrestation?.enfant?.lieuNaissance }}
                    {{ transfert?.affaire?.arrestation?.enfant?.dateNaissance | date:'yyyy/MM/dd' }}
                </li>
                <li>
                    القاطن (ة):
                    {{ transfert?.affaire?.arrestation?.enfant?.adresse + ' ' }}
                    {{ transfert?.affaire?.arrestation?.enfant?.delegation?.libelle_delegation + ' ' }}
                    {{ transfert?.affaire?.arrestation?.enfant?.delegation?.gouvernorat?.libelle_gouvernorat }}
                </li>
            </ul>
        </div>
    </div>

        <div class="p-grid" *ngIf="transfert?.affaire">
            <div class="p-col-2">
                <label>قضية الرئسية:</label>
            </div>
            <div class="p-col-10">
                <span *ngIf="transfert?.affaire?.affaireLien">{{ transfert?.affaire?.affaireLien?.affaireId?.numAffaire
                    }} - {{ transfert?.affaire?.affaireLien?.tribunal?.nom_tribunal }}</span>
            </div>
        </div>

        <div class="p-grid" *ngIf="transfert?.affaire">
            <div class="p-col-2">
                <label>أحيلت إلى:</label>
            </div>
            <div class="p-col-10">
                <span
                    *ngIf="transfert?.affaire?.affaireLien?.affaireId?.numAffaire != transfert?.affaire?.affaireId?.numAffaire">{{
                    transfert?.affaire?.affaireId?.numAffaire }}</span>
                <span>{{ transfert?.affaire?.tribunal?.nom_tribunal }}</span>
                <span
                    *ngIf="transfert?.affaire?.affaireLien?.affaireId?.numAffaire == transfert?.affaire?.affaireId?.numAffaire"
                    class="note"> (دون عدد قضية جديد)</span>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-2">
                <label>نتيجة الإحالة:</label>
            </div>
            <div class="p-col-10">
                <span>{{ transfert?.resultatTransfert?.libelle_resultat }}</span>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-2">
                <label>تاريخ الإحالة:</label>
            </div>
            <div class="p-col-10">
                <span>{{ transfert?.dateEmission }}</span>
            </div>
        </div>

        <div class="footer">
            <label>المدرج: <span>{{ transfert?.user?.nom +' '+ transfert?.user?.prenom }}</span>
            <p>{{ transfert?.etablissement?.libelle_etablissement }} في {{ transfert?.dateInsertion | date:'yyyy/MM/dd' }} </p>
            </label>
        </div>
    </div>
</div>